<h1>Here are the tracks currently on your profile</h1>
<div style="width:250px">
<% @assets.each do |asset| %>
<fb:mp3 src="<%= formatted_user_track_url(asset.user, asset, :mp3, :referer=>'facebook', :canvas => false)%>" title="<%= asset.name %>" artist="<%= asset.user.name %>" width="200px"/>
<%= render :partial => 'share', :object => asset %>
<%= link_to 'delete from profile', remove_from_profile_facebook_url(@facebook_account.id, :addable_type => 'Asset', :addable_id => asset)%><br/>
<br/>
<% end %>
</div>
<% fb_multi_friend_request('alonetone',"share alonetone with a friend",facebook_home_url) do %>
    I just added the song '<%= link_to h(@asset.name), add_to_profile_facebook_url(:addable_type => 'asset', :addable_id => @asset.id, :canvas => true) %>' by <%= link_to 'alonetone', facebook_home_path %> musician <%= link_to h(@asset.user.name), user_home_url(@asset.user) %> to my profile.
    I think alonetone kicks some facebook butt, and recommend checking it out, listening and adding some good independent music to your profile.
    <%= fb_req_choice("Add alonetone", facebook_home_url) %>
<% end %>
