<h2>Users that share the same IP</h2>
<div class="static_content" class="stats">
<table id="listens_by_ip" class="statstable">
  <thead>
    <tr>
      <th>Country</th>
      <th>IP</th>
      <th>Users</th>
      <th>Examples</th>

    </tr>
  </thead>
  
    <tbody>
    <% @users.each do |ip, count| %>
      <% users = User.find(:all, :conditions => {:ip => ip},:limit =>5)%>
      <tr class>
        <td>
            <%= image_tag('http://api.hostip.info/flag.php?ip='+ip, :size => '20x20', :style => 'float:left; clear:none;opacity:0.4;') if ip %>
        </td>
        <td>
            <%= link_to(ip, 'http://www.botsvsbrowsers.com/ip/'+ip) if ip %>
        </td>
        <td>
          <%= count %>
        </td>
        <td>
            <%= users.collect{|u| link_to(u.name, user_path(u.login))}.join(" ") %>
        </td>
        <td></td>
       </tr>
    <% end %>
    </tbody>
  </table>
  </div>


<h2>IPs that love to listen</h2>
<div class="static_content" class="stats">
<table id="listens_by_ip" class="statstable">
  <thead>
    <tr>
      <th>Country</th>
      <th>IP</th>
      <th>Count</th>
      <th>User?</th>

    </tr>
  </thead>
  
  <tbody>
  <% @ip_listens.each do |ip, count| %>
    <tr class>
      <td>
          <%= image_tag('http://api.hostip.info/flag.php?ip='+ip, :size => '20x20', :style => 'float:left; clear:none;opacity:0.4;')%>
      </td>
      <td>
          <%= link_to ip, 'http://www.botsvsbrowsers.com/ip/'+ip %>
      </td>
      <td>
        <%= count %>
      </td>
      <td>
          <% user = User.find_by_ip(ip) %>
          <%= user.name if user %>
      </td>
      <td></td>
     </tr>
  <% end %>
  </tbody>
</table>
</div>



<h2>Tracks that love to get played</h2>
<div class="static_content" class="stats">
<table id="listens_by_track" class="statstable">
  <thead>
    <tr>
      <th>Track</th>
      <th>Count</th>
      <td>Uploader</td>
      <th>mp3 title</th>
      <th>mp3 artist</th>
    </tr>
  </thead>
  
  <tbody>
  <% @track_listens.each do |track, count| %>
    <tr class>
      <td><%= link_to track.name, user_track_path(track.user.login, track.permalink) %></td>
      <td><%= count %></td>
      <td>
        <%= image_tag track.user.avatar(:tiny)%>
        <%= track.user.name %>
      </td>
      <td><%= track.title %></td>
      <td><%= track.artist %></td>
     </tr>
  <% end %>
  </tbody>
</table>
</div>