<div>
  <div class="name_column"><%= mass_invite.name %></div>
  <div class="created_column"><%= l(mass_invite.created_at, format: :short) %></div>
  <div class="count_column"><%= mass_invite.users_count %></div>
  <div class="link_column"><%= link_to(mass_invite.token, mass_invite_url(mass_invite)) %></div>
  <div class="archive_column">
    <% if mass_invite.archived? %>
      <%= button_to('Activate', admin_mass_invite_path(mass_invite, mass_invite: { archived: 0 }), method: :patch) %>
    <% else %>
      <%= button_to('Archive', admin_mass_invite_path(mass_invite, mass_invite: { archived: 1 }), method: :patch) %>
    <% end %>
  </div>
</div>
