<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>
  <div class="admin_column_right">
    <%= button_to 'New mass invite', new_admin_mass_invite_path, method: :get %>

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>


    <div class="admin_column_right_inner box">
      <%
=begin%>
 <h2>
        <%= params[:filter_by] == 'archived' ? 'Archived' : 'Active' %>
        mass invites
      </h2> 
<%
=end%>
      <header class="admin_header">
        <div class="name_column">Name</div>
        <div class="created_column">Created</div>
        <div class="count_column">Users count</div>
        <div class="link_column">Link to invite url</div>
      </header>

      <div class="admin_invites_rows">
        <%= render @mass_invites %>
      </div>

    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
