<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>
  <div class="admin_column_right">
    <%= button_to 'New mass invite', new_admin_mass_invite_path, method: :get %>

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>

    <div class="box">
      <h2>
        <%= params[:filter_by] == 'archived' ? 'Archived' : 'Active' %>
        mass invites
      </h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Users count</th>
            <th>Link to invite url</th>
          </tr>
        </thead>
        <tbody>
          <%= render @mass_invites %>
        </tbody>
      </table>
    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
