<p id="notice"><%= notice %></p>

<h1>Admin Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_comments.each do |admin_comment| %>
      <tr>
        <td><%= link_to 'Show', admin_comment %></td>
        <td><%= link_to 'Edit', edit_admin_comment_path(admin_comment) %></td>
        <td><%= link_to 'Destroy', admin_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Comment', new_admin_comment_path %>
