<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>UpdatedAt</th>
      <th>IP/login</th>
      <th>ID</th>
      <th>Text</th>
      <th>Spam</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= comment.created_at.strftime("%b %d, %y") %></td>
        <td><%= comment.remote_ip %></td>
        <td><%= link_to comment.id, comment %></td>
        <td><%= comment.body_snippet %></td>
        <td><%= comment.is_spam %></td>
        <td><button class="spambtn">Mark As Spam</button></td>
        <td><button class="spambtn">Mark All As Spam</button></td>
        <td><button class="spambtn">Block</button></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav @pagy %>