<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>UpdatedAt</th>
      <th>IP/login</th>
      <th>ID</th>
      <th>Text</th>
      <th>Spam</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= comment.created_at.strftime("%b %d, %y") %></td>
        <td><%= comment.remote_ip %></td>
        <td><%= link_to comment.id, comment %></td>
        <td><%= truncate(comment.body, length: 100) %></td>
        <td><%= comment.is_spam %></td>
        <td><%= button_to "Mark As Spam", spam_admin_comment_path(comment), method: :put %></td>
        <td><%= link_to "mark All As Spam", spam_group_admin_comments_path(comment), method: :put, params: {mark_spam_by: {user_id: comment.commenter_id}} %></td>
        <td><%= button_to "Add to Blocklist", admin_blocklists_path(comment), method: :put %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav @pagy %>