<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>UpdatedAt</th>
      <th>IP/login</th>
      <th>ID</th>
      <th>Text</th>
      <th>Spam</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= comment.created_at.strftime("%b %d, %y") %></td>
        <td><%= comment.remote_ip %></td>
        <td><%= link_to comment.id, comment %></td>
        <td><%= comment.body_snippet %></td>
        <td><%= comment.is_spam %></td>
        <td><%= button_to "Mark As Spam", admin_mark_as_spam_index_path, method: :post, params: {id: comment.id} %></td>
        <td><%= button_to "Mark All As Spam", admin_mark_as_spam_index_path, method: :post, params: {user_id: comment.commenter_id} %></td>
        <td><%= button_to "Add to Blocklist", admin_mark_as_spam_index_path, method: :post, params: {id: comment.id} %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav @pagy %>