<p id="forum_name">
<table class="noborder nopad wide">
  <td>
    <label><%= 'Title' %></label><br />
    <%= form.text_field :name, :class => "primary" %>
  </td>
  <td style="text-align:right">
    <label><%= 'Position' %></label><br />
    <%= form.text_field :position, :size => 5 %>

  </td>
</table>

</p>
<p id="forum_descripion">
<label><%= 'Description' %></label><br />
<%= form.text_area :description, :rows => 7 %></p>