<div id="static_header">
  
    <div class="title">
      <h1 class="static"><%= yield :h1 %></h1>
    </div>
    
    <div id="links">
        <div id="breadcrumbs">
            <%= yield :breadcrumbs %>
        </div>
            <%= yield :pagination %>
        <div id="extras">
            <%= yield :extras %>
        </div>
    </div>
</div>
  <%= yield %>
  
