    <% content_for :h1 do %>alonetone Forums <% end %>
    
    <% content_for :extras do %>
        <%= topic_count %>, <%= post_count %>
        <%= feed_icon_tag "Recent Posts", posts_path(:format => 'atom') %>
    <% end %>

    
    <% if admin? %>
	    <div class="button_wrapper" style="margin-top:-30px;">
	       <%= link_to " ", new_forum_path, :id => 'create_new_forum', :class => 'button'  %>
	    </div>
    <% end %>
        
    <table border="0" cellspacing="0" cellpadding="0" class="wide forums">
      <tr>
        <th class="la" width="70%" colspan="3"><%= 'Forum' %></th>
        <th class="la" width="30%" colspan="1"><%= 'Last Post'%></th>
      </tr>
    <% for forum in @forums do %>  
      <tr class="<%= cycle 'even', 'odd' %>">
        <td class="vat c1">
    
          <% if recent_forum_activity(forum) %>
            <%= image_tag "forum/unread.png", :class => "icon green", :title => 'Recent activity' %>
          <% else %>
            <%= image_tag "forum/read.png", :class => "icon grey", :title => 'No recent activity' %>
          <% end %>
        </td>
        <td class="c2 vat">
          <%= link_to h(forum.name), forum_path(forum), :class => "title" %>
          <div class="posts">
            <%= pluralize forum.topics.count, 'topic' %>, 
            <%= pluralize forum.posts.count, 'post' %>
          </div>
          <p class="desc"><%= forum.description_html %>
          </p>
        </td>
        <td class="c3">
          <%= link_to image_tag('icons/edit.png'), edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin? %>
        </td>

        <td class="inv lp">
          <% if forum.recent_post -%>
            <%= time_ago_in_words forum.recent_post.created_at %> ago<br />
            <%= "by #{h(forum.recent_post.user.display_name)}" %>
            <span>(<%= link_to 'view', forum_topic_path(forum, forum.recent_post.topic, :page => forum.recent_post.topic.last_page, :anchor => dom_id(forum.recent_post)) %>)</span>
          <% end -%>
        </td>
      </tr>
    <% end %>
    </table>

    <% if present? @online %>
        <div class="static_content" id="currently_online">
          alonetoners online: 
          <% @online.each do |user| %>
            <%= link_to h(user.name), user_home_path(user.login) %> 
          <% end %>
        </div>
    <% end %>
    <div class="static_content">
      Psssst. We've got an alonetone chat room with your name on it. <%= link_to 'Chat Now', "http://#{ALONETONE.campfire_url}"%>
    </div>
    <div class="footer_box">
      <%= link_to('view all recent posts &rArr;', posts_path, :class=>'view_all', :title => 'view all recent posts') if Post.first %>
    </div>
    
    <% if logged_in? && present?(@user_topics) %>
    <h2>Conversations you are a part of</h2>
      <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
      <tr>
        <th class="la" colspan="2"><%= 'Topic'%></th>
        <th width="1%"><%= 'Posts'%></th>
        <th width="1%"><%= 'Views'%></th>
        <th class="la"><%= 'Last post'%></th>
      </tr>
      <%= render :partial => 'topic', :collection => @user_topics %>
      </table>
    <% end %>
    
      <h2>Hot on alonetone</h2>
      <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
      <tr>
        <th class="la" colspan="2"><%= 'Topic'%></th>
        <th width="1%"><%= 'Posts'%></th>
        <th width="1%"><%= 'Views'%></th>
        <th class="la"><%= 'Last post'%></th>
      </tr>
      <%= render :partial => 'topic', :collection => @popular_topics %>
      </table>
      
      <h2>Conversations needing reply love</h2>
      <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
      <tr>
        <th class="la" colspan="2"><%= 'Topic'%></th>
        <th width="1%"><%= 'Posts'%></th>
        <th width="1%"><%= 'Views'%></th>
        <th class="la"><%= 'Last post'%></th>
      </tr>
      <%= render :partial => 'topic', :collection => @replyless_topics %>
      </table>
    