<% content_for :h1 do %>
  alonetone Forums 
<% end %>

<% content_for :extras do %>
    <%= pluralize Topic.count, 'threads' %>, <%= pluralize Post.count, 'post' %>
    <%= feed_icon_tag "Recent Posts", posts_path(:format => 'atom') %>
<% end %>


<% if admin? %>
  <div class="button_wrapper" style="margin-top:-30px;">
     <%= link_to " ", new_forum_path, :id => 'create_new_forum', :class => 'button'  %>
  </div>
<% end %>
    
<table  class="wide forums">
  <tr>
    <th class="la" width="70%" colspan="3"><%= 'Forum' %></th>
    <th class="la" width="30%" colspan="1"><%= 'Last Post'%></th>
  </tr>
<% @forums.each do |forum| %>  
  <tr class="<%= cycle 'even', 'odd' %>">
    <td class="vat c1">

      <% if recent_forum_activity(forum) %>
        <%= image_tag "forum/unread.png", :class => "icon green", :title => 'Recent activity' %>
      <% else %>
        <%= image_tag "forum/read.png", :class => "icon grey", :title => 'No recent activity' %>
      <% end %>
    </td>
    <td class="c2 vat">
      <%= link_to forum.name, forum_path(forum), :class => "title" %>
      <div class="posts">
        <%= pluralize forum.topics_count, 'topic' %>, 
        <%= pluralize forum.posts_count, 'post' %>
      </div>
      <%= "#{forum.description_html}".html_safe %>
      <div class="edit_forum">
        <%= link_to "edit forum", edit_forum_path(forum), :class => "tiny", :rel => "directory" if admin? %>
      </div>
    </td>
    <td class="c3">
      

    </td>

    <td class="inv lp">
      <% if forum.recent_post -%>
        <%= local_time_ago forum.recent_post.created_at %><br />
        <%= "by #{forum.recent_post.try(:user).try(:display_name) || '[deleted]'}" %>
        <span>(<%= link_to 'view', forum_topic_path(forum, forum.recent_post.topic, :page => forum.recent_post.topic.last_page, :anchor => dom_id(forum.recent_post)) %>)</span>
      <% end -%>
    </td>
  </tr>
<% end %>
</table>

<div class="footer_box">

  <%= link_to posts_path, :class=>'view_all', :title => 'view all recent posts' do %>
<span>    view all recent posts </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
  <% end if Post.first %>


</div>

<% if logged_in? && @user_topics.present? %>
<h2>Conversations you are a part of</h2>
  <table  class="wide topics">
  <tr>
    <th class="la" colspan="2"><%= 'Topic'%></th>
    <th width="1%"><%= 'Posts'%></th>
    <th width="1%"><%= 'Views'%></th>
    <th class="la"><%= 'Last post'%></th>
  </tr>
  <%= render :partial => 'topic', :collection => @user_topics %>
  </table>
<% end %>

  <h2>Hot on alonetone</h2>
  <table  class="wide topics">
  <tr>
    <th class="la" colspan="2"><%= 'Topic'%></th>
    <th width="1%"><%= 'Posts'%></th>
    <th width="1%"><%= 'Views'%></th>
    <th class="la"><%= 'Last post'%></th>
  </tr>
  <%= render :partial => 'topic', :collection => @popular_topics %>
  </table>
  
  <h2>Conversations needing reply love</h2>
  <table  class="wide topics">
  <tr>
    <th class="la" colspan="2"><%= 'Topic'%></th>
    <th width="1%"><%= 'Posts'%></th>
    <th width="1%"><%= 'Views'%></th>
    <th class="la"><%= 'Last post'%></th>
  </tr>
  <%= render :partial => 'topic', :collection => @replyless_topics %>
  </table>
    