    <% content_for :h1 do %> 
        <%= @forum.name %>
    <% end %> 
    
    <% content_for :breadcrumbs do %>
      <%= link_to 'alonetone forums', forums_path %>  <span class="arrow">&rarr;</span> <%= @forum.name %>
    <% end %>
    
    <% @page_title = @forum.name + ' forum'%>

    <% content_for :extras do %>
      <%= pluralize @forum.topics.count, 'topics' %>, 
      <%= pluralize @forum.posts.count, 'posts' %>
      <%= feed_icon_tag @forum.name, forum_posts_path(@forum, :format => :atom)%> 
    <% end %>

    <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
    <tr>
      <th class="la" colspan="2"><%= 'Topic'%></th>
      <th width="1%"><%= 'Posts'%></th>
      <th width="1%"><%= 'Views'%></th>
      <th class="la"><%= 'Last post'%></th>
    </tr>
    <%= render :partial => 'topic', :collection => @topics %>
    </table>
    

    <div class="footer_box">
        <%= link_to ' ', new_forum_topic_path(@forum), :id => "create_new_topic", :class => 'margin1px', :title => 'Start a new forum topic' %></p>
    </div>
