<div class="box password_reset">
  <%= render partial: 'shared/errors', locals: { errors: @user.errors } %>
  <% if @newly_invited_user %>
  <h2>Pick a password and you can start uploading!</h2>
  <% else %>
  <h2>Almost back in, just pick a new password</h2>
  <% end %>
  <div id="login" class="static_content">
    <%= form_with model: @user, url: password_reset_path, method: :put, data: { turbo: false } do |f| %>
      <%= f.label :password, 'Pick a new password'%>
      <%= f.password_field :password, autocomplete: "new-password" %><br/>

      <%= f.label :password_confirmation, 'Type it one more time...'%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
      <%= f.submit "Come on in..." %>
    <% end %>
  </div>
</div>
