<div id="admin_columns">

  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div class="admin_column_right_inner box">
      <header class="admin_assets_header">
        <div class="date_column">Date</div>
        <div class="user_column">User</div>
        <div class="track_column">Track</div>
      </header>
      <div class="admin_assets_rows">
        <% @assets.each do |asset| %>
          <div data-controller="admin--asset" data-admin--asset-spam="<%= asset.is_spam? %>">
            <div class="date_column"><%= asset.created_at.strftime("%b %d") %></div>
            <div class="user_column">
              <div class="avatar">
                <%= user_image(@user, variant: :original) %>
              </div>
              <div>
                <div><%= link_to asset.user.name, user_home_path(asset.user) %></div>
                <div><%= asset.user.email %></div>
                <div><%= asset.user.ip %></div>
              </div>
            </div>
            <div class="track_column">
              <div><%= link_to asset.title, user_track_path(asset.user, asset.permalink) %></div>
              <div><%= truncate(asset.description, length: 80) %></div>
              <div>N comments / N listens</div>
            </div>
            <div class="button_column">
              <%= button_to "Mark As Spam", spam_admin_asset_path(asset.id), method: :put, remote: true, data: { target: 'admin--asset.spamButton', action: 'click->admin--asset#showUnspamButton'} %>
              <%= button_to "Mark As Ham", unspam_admin_asset_path(asset.id), method: :put, remote: true, data: { target: 'admin--asset.unspamButton', action: 'click->admin--asset#showSpamButton'} %>
              <%#= button_to "Spam All for IP", mark_group_as_spam_admin_assets_path, method: :put, params: { mark_spam_by: { user_id: asset.user_id } } %>
              <%= button_to "Delete User", delete_admin_user_path(asset.user&.login), data: { confirm: 'This will delete user forevAr. Are you sure?'}, method: :put, remote: true, data: { target: 'admin--asset.deleteUserButton' } %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
