<div id="admin_columns">

  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div class="admin_column_right_inner box">
      <header class="admin_assets_header">
        <div class="date_column">Date</div>
        <div class="user_column">User</div>
        <div class="track_column">Track</div>
      </header>
      <div class="admin_assets_rows">
        <% @assets.each do |asset| %>
          <div data-controller="admin--asset" data-admin--asset-deleted="<%= asset.soft_deleted? %>" data-admin--asset-spam="<%= asset.is_spam? %>">
            <div class="date_column"><%= asset.created_at.strftime("%b %d") %></div>
            <div class="user_column">
              <div class="avatar">
                <%= user_image(asset.user_object, variant: :original) %>
              </div>
              <div>
                <div><%= link_to asset.user_object.name, admin_users_path({filter_by: asset.user_object.email}) %></div>
                <div><%= asset.user_object.ip %></div>
              </div>
            </div>
            <div class="track_column">
              <div><%= link_to asset.title, user_track_path(asset.user_object, asset.permalink) %></div>
              <div><%= truncate(asset.description, length: 80) %></div>
              <div>N comments / N listens</div>
            </div>
            <div class="button_column">
              <%= button_to "Spam Asset", spam_admin_asset_path(asset.id), method: :put, remote: true, data: { target: 'admin--asset.spamButton', action: 'click->admin--asset#markTrackAsDeleted' } %>
              <%= button_to "Delete Asset", delete_admin_asset_path(asset.id), data: { confirm: 'Are you sure?'}, method: :put, remote: true, data: { target: 'admin--asset.deleteButton', action: 'admin--asset#markTrackAsDeleted' } %>
              <%= button_to "Restore Asset", restore_admin_asset_path(asset.id), method: :put, remote: true, data: { target: 'admin--asset.restoreButton', action: 'admin--asset#markTrackAsRestored' } %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
