<%= render partial: 'users/user' %>

<% content_for :left do %>
  <h2 class="box"><%= @user.name %>'s listening history</h2>
  <div class="mini_paginator">
    <%== pagy_nav @listens_pagy %>
  </div>
  <%= render partial: 'users/listen', collection: @listens %>
<% end %>


<% content_for :right do %>
  <div class ="all_listens box">
  <h2 class="box">Latest Listens to your tracks</h2>
  <div class="mini_paginator">
    <%== pagy_nav @track_plays_pagy %>
  </div>
  <%= render partial: 'users/track_play', collection: @track_plays %>
</div>

<% end if authorized? %>
