<div class="history">

  <div class="page_container columns_header">
    <%= render partial: 'shared/back_to_artist' %>
  </div>

<% content_for :left do %>
  <h2><%= @user.name %>'s listening history</h2>
  <div class="mini_paginator top_paginator">
    <%== pagy_nav @listens_pagy %>
  </div>
  <div class="box">
    <%= render partial: 'users/listen', collection: @listens %>
  </div>
  <div class="mini_paginator bottom_paginator">
    <%== pagy_nav @listens_pagy %>
  </div>
<% end %>

<% content_for :right do %>
  <h2>Latest Listens to your tracks</h2>
  <div class="mini_paginator top_paginator">
    <%== pagy_nav @track_plays_pagy %>
  </div>
  <div class="box">
    <%= render partial: 'users/track_play', collection: @track_plays %>
  </div>
  <div class="mini_paginator bottom_paginator">
    <%== pagy_nav @track_plays_pagy %>
  </div>

</div>

<% end if authorized? %>
