<% if params[:login] %>
    <% render :layout => 'users/user' do %>

      <% content_for :left do %>
        <h2>Comments on <%= @user.name %>'s stuff</h2>
        <div class="mini_paginator">
          <%= will_paginate @comments, :param_name => :page%>
        </div>
        <%= render :partial => 'shared/comment', :collection => @comments %>
      <% end %>

      <% content_for :right do %>
        <h2>Comments made by <%= @user.name %> </h2>
        <div class="mini_paginator">
          <%= will_paginate @comments_made, :param_name => :made_page%>
        </div>
        <%= render :partial => 'shared/comment', :collection => @comments_made %>
      <% end %>

    <% end %>
<% else %>
    <h1>All recent alonetone comments</h1>
    <% content_for :left do %>
    <div class="mini_paginator">
          <%= will_paginate @comments, :param_name => :page%>
        </div>
        <%= render :partial => 'shared/comment', :collection => @comments %>
    <% end %>

<% end %>