<% if !present?(@users, @assets) %>
  <h2>Hm, didn't find any users or tracks named "<%= @query %>"</h2>
<% else %>
  <h1>Results for "<%= h @query %>"</h1>
<% end %>

<% if present?(@users) %>
  <% content_for :left do %>
  <h2>Artists and Listeners</h2>
  <div id="user_search_results">
    <%= render :partial => 'shared/user', :collection => @users %>
  </div>
  <% end %>
<% end %>


<% if present?(@assets) %>
  <% content_for :right do %>
  <h2>Tracks that match "<%= @query %>"</h2>
  <%= render :partial => 'assets/asset', :collection => @assets if @assets %>
  <% end %>
<% end %>