<% unless @users.present? or @assets.present? %>
  <%= content_for :body_class, 'no_results' %>

  <div class="gift no_results">
    <h1 class="gift_heading">
      Hm, didn't find any users or tracks named "<%= @query %>"
    </h1>
    <div class="gift_image"></div>
  </div>
<% end %>

<% if @users.present? %>
  <% content_for :left do %>
    <h2 class="user_search_results_heading">Artists that match "<%= @query %>"</h2>
    <ul id="user_search_results">
      <%= render partial: 'shared/user', collection: @users, as: :user %>
    </ul>
  <% end %>
<% end %>

<% if @assets.present? %>
  <% content_for :right do %>
    <h2 class="tracks_search_results_heading">Tracks that match "<%= @query %>"</h2>
    <div class="mini_paginator top_paginator">
      <%== pagy_nav @assets_pagy %>
    </div>
    <div class="tracks_search_results box">
      <%= render(partial: 'assets/asset', layout: 'assets/normal_playback', collection: @assets) if @assets %>
    </div>
    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @assets_pagy %>
    </div>
  <% end %>
<% end %>