<p>
  <label for="topic_title"><%= 'Title' %></label><br />
  <%= form.text_field :title, :class => "primary", :tabindex => 10 %>

  <% if moderator? %>
  <label style="margin-left:1em;">
  <%= form.check_box :sticky %> <%= 'Sticky'%>
  </label>

  <label style="margin-left:1em;">
  <%= form.check_box :locked %> <%= 'Locked' %>
  </label>
  <% end -%>
</p>

<% if @topic.new_record? -%>
<p>
	<label for="topic_body"><%= 'Body' %></label><br />
	<%= form.text_area :body, :rows => 12, :tabindex => 20 %>
</p>
<% end -%>

<% if admin? && !@topic.new_record? && forums = Forum.ordered -%>
	<% if forums.size > 1 -%>
    <p id="topic_forum_id">
      <label for="topic_forum_id"><%= 'Forum' %></label><br />
      <%= form.select :forum_id, forums.map {|x| [x.name, x.id] } %></p>
    </p>
	<% end -%>
<% end -%>