<%= form_for @forum_feedback, :url  => user_reports_path do |f| -%>
<table>
    <tbody>
        <tr>
            <td class='label'>
               <label for="category">What's up?</label>
            </td>
            <td>
                <%= f.select 'forum_id',{"Something isn't working" => :bug, "I have an idea" => :idea, "I really really like" => :praise}%>
            </td>
        </tr>
        <tr>
            <td class='label'>
                <label for="topic_body"><%= 'Subject' %></label>
            </td>
            <td>
                <%= f.text_field :title, :class => 'subject' %>
            </td>
        </tr>
        <tr>
            <td class='label'>
                <label for="topic_body"><%= 'Details' %></label>
            </td>
            <td>
                <%= f.text_area :body, :rows => 7 %>
            </td>
        </tr>
    </tbody>
</table>        
            
	<div class="submit_wrapper">
	  <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
    <div class="small_spinner" style="display:none;"></div>
	  <%= submit_tag 'Post feedback to forum', :id=>'bug_form_sumbit' %> or <%= link_to 'close', '#', :id=> 'nevermind', :class => 'feedback' %>
	</div>

<% end %>
