<% content_for :sidebar do %>
    <div class="sidebar forum">
      <div class="box"> 
          <h2 class="box static">Who's talking?</h2>
          <div class="static_content">
            <ul class="talking">
            <% @topic.voices.each do | user | %>
              <li><%= link_to h(user.display_name), user_path(user.login) %></li>
            <% end %>
            </ul>
          </div>
      </div>
    </div>
<% end %>

<% content_for :h1 do %> 
    <%= @topic.title %>
    <% if @topic.locked? %>
        <span>(locked)</span>
    <% end %>
<% end %> 

<% content_for :breadcrumbs do %>
    <%= link_to 'alonetone forums', forums_path %>  <span class="arrow">&rarr;</span> 
    <%= link_to h(@topic.forum.name),forum_path(@topic.forum) %> <span class="arrow">&rarr;</span> 
    <%= link_to @topic.title, forum_topic_path(@topic.forum, @topic) %>
    <% page=session[:forum_page] ? session[:forum_page][@topic.forum.id] : nil
    if page and page!=1 %>
        <small style="color:#ccc">
          (<%= link_to "page #{page}", forum_path(:id => @topic.forum, :page => page) %>)
        </small>
    <% end %>
<% end %>

<% @page_title = "#{@topic.title} - alonetone forums "%>
    
<% content_for :extras do %>
  <%= pluralize @topic.posts.size, 'post' %>, 
  <%= pluralize @topic.voices.size, 'person' %> talking
  <%= feed_icon_tag @topic.title, posts_path(:format => :atom,:forum_id => @forum, :topic_id => @topic) %>
<% end %>

<h2><%= @topic.title %></h2>
<% if moderator? || admin? %>
  <div class="topic_edit_and_delete_links">
    <%= link_to 'edit', edit_forum_topic_path(@topic.forum, @topic) %>
    &nbsp;/&nbsp;
    <%= link_to 'delete', forum_topic_path(@topic.forum, @topic), :method => :delete, :confirm => 'You want to delete this thread (and all replies?)' %> 
  </div>
<% end %>

<% if @posts.total_pages > 1 %>
  <div class="forum_paginator">
      <%= will_paginate @posts %>
  </div>
<% end %>

<table class="posts wide">
  <%= render @posts %>
</table>

<% if @posts.total_pages > 1 %>
<div class="forum_paginator">
  <%= will_paginate @posts %>
</div>
<% end %>

<% if logged_in? %>
  <div id="edit"></div>
  <% if @topic.locked? -%>
    <p>
      <%= image_tag "icons/private.png", :class => "icon grey", :title => "Topic locked" %> 
      <label>
      <%= 'This topic is locked (you cannot add a reply)' %></label>
    </p>
  <% else -%>
    <div id="reply" class="editbox">
      <div class="container static_content">
        <h3>Reply:</h3>
        <%= form_for :post, :url => forum_topic_posts_path(@forum, @topic, :page => @topic.last_page) do |f| -%>
          <%= f.text_area :body, :rows => 8, :cols => 40 %>
          <div class="submit_wrapper">
            <%= submit_tag "Post Reply" %>
          </div>
        <% end -%>
        <%= render :partial => 'posts/formatting' %>       
      </div>
    </div>
  <% end %>
<% else %>
  <div class="forum_login">
    <%= link_to 'login',   login_path %> or 
  	<%= link_to 'sign up', signup_path %> to reply
  </div>
<% end %>
