<% content_for :right do -%>

<h5><%= 'Who is talking:' %></h5>
<ul class="flat talking">
<% @topic.voices.each do | user | %>
  <li><%= link_to h(user.display_name), user_path(user) %></li>
<% end %>
</ul>


<% end # right content -%>


<div class="crumbs">
  <%= link_to "Forums", root_path %> <span class="arrow">&rarr;</span>
  <%= link_to h(@topic.forum.name), forum_path(@topic.forum) %> 
  <% page=session[:forum_page] ? session[:forum_page][@topic.forum.id] : nil
  if page and page!=1 %>
  <small style="color:#ccc">
  (<%= link_to 'page {page}'[:page, page], forum_path(:id => @topic.forum, :page => page) %>)
  </small>
  <% end %>
  <span class="arrow">&rarr;</span>
</div>

  <h1><%= h @topic.title %>
  <% if @topic.locked? %>
  <span>(<%= 'locked' %>)</span>
  <% end %></h1>

<p class="subtitle">
  <%= feed_icon_tag @topic.title, formatted_forum_topic_path(@forum, @topic, :rss) %>
  <%= pluralize @topic.posts.size, 'posts' %>, 
  <%= pluralize @topic.voices.size, 'person' %>
</p>

<%= pagination @posts %>

<table border="0" cellspacing="0" cellpadding="0" class="posts wide">
<% @posts.each do |post| -%>

<tr class="post hentry" id="<%= dom_id post %>-row">
  <td class="author vcard">
    <div class="date">
      <a href="#<%= dom_id post %>" rel="bookmark">
      <abbr class="updated" title="<%= post.created_at.xmlschema %>">
      <%= (post.created_at) %>
      </abbr>
      </a>
    </div>

    <%= image_tag post.user.avatar(:small) %>
    <span class="fn"><%= link_to truncate(h(post.user.name), 15), user_path(post.user), :class => (post.user == @posts.first.user ? "threadauthor" : nil) %></span>
    <% if post.user.moderator %>
    <span class="admin">
      Alonetone admin
    </span>
    <% end %>
    <span class="posts"><%= pluralize post.user.posts.size, 'post' %></span>


    <% if logged_in? && post.editable_by?(current_user) -%>
    <p>
	    <%= link_to 'Edit post', edit_forum_topic_post_path(@forum, @topic, post, :page => current_page), :class => 'utility' %>
    </p>
    <% end -%>


  </td>
  <td class="body entry-content" id="post-body-<%= post.id %>">
        <%= post.body_html %>
  </td>
</tr>

<% end %>
</table>
       
<%= next_page @posts %>
<%= pagination @posts %>

<% if logged_in? %>
<div id="edit"></div>
<% if @topic.locked? -%>
<p>
    <%= image_tag "clearbits/lock.gif", :class => "icon grey", :title => "Topic locked" %> 
    <label>
    <%= 'This topic is locked' %>.</label>
</p>
<% else -%>

<p><%= link_to 'Reply to topic', "#reply", :class => "utility", :id => 'reply-link' %></p>

<div id="reply" class="editbox">
<div class="container">
  <% form_for :post, :url => forum_topic_posts_path(@forum, @topic, :page => @topic.last_page) do |f| -%>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="2" width="70%">
        <%= f.text_area :body, :rows => 8 %>
      </td>
      <td valign="top">

      </td>
    </tr>
    <tr>
      <td valign="bottom" style="padding-bottom:15px;">
       <%= submit_tag "Save Reply" %><span class="button_or">or <%= link_to 'cancel', '#', :id => 'reply-cancel' %></span>
     </td>
   </tr>
  </table>
  <% end -%>
</div>
</div>
<% end %>
<% end %>

<div class="crumbs" style="margin-top:1.1em;">
  <%= link_to "Forums"[:forums_title], root_path %> <span class="arrow">&rarr;</span>
  <%= link_to h(@topic.forum.name), forum_path(@topic.forum) %> <span class="arrow">&rarr;</span>
</div>
