<ul class="admin_nav">
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Comments', admin_comments_path %></li>
    <ul>
      <li><%= link_to 'All','' %></li>
      <li><%= link_to 'Spam','' %> </li>
      <li><%= link_to 'Not Spam','' %></li>
    </ul>
  <li><%= link_to 'Tracks', admin_assets_path %></li>
</ul>