<% cache ['admin', User.with_deleted.cache_key] do %>
<ul class="admin_nav">
  <%= navigation_item "All Users (#{User.with_deleted.count})", admin_users_path %>
  <ul>
    <%= navigation_item "Not Spam (#{User.filter_by('not_spam').count})", admin_users_path({filter_by: :not_spam}) %>
    <%= navigation_item "Only Spam (#{User.filter_by('is_spam').count})", admin_users_path({filter_by: :is_spam}) %>
    <%= navigation_item "Spammed Musicians (#{User.filter_by('spam_musicians').count})", admin_users_path({filter_by: :spam_musicians}) %>
    <%= navigation_item "Deleted (Not Spam) (#{User.filter_by('deleted').count})", admin_users_path({filter_by: :deleted}) %>
  </ul>
  <%= navigation_item 'All Tracks', admin_assets_path %>
  <ul>
    <%= navigation_item 'Spam', admin_assets_path({filter_by: {is_spam: true}}) %>
  </ul>
  <%= navigation_item 'All Comments',  admin_comments_path %>
  <ul>
    <%= navigation_item 'Spam',  admin_comments_path({filter_by: {is_spam: true}}) %>
    <%= navigation_item 'Not Spam', admin_comments_path({filter_by: {is_spam: false}}) %>
  </ul>
  <li><%= link_to "Secretz", "/secretz" %></li>
  <li><%= link_to "Akismet Stats", "https://akismet.com/web/1.0/user-stats.php?blog=alonetone.com&api_key=#{Rails.configuration.alonetone.rakismet_key}"%></li>
  <li><%= link_to "Job Status", "/sidekiq" %></li>
</ul>
<% end %>