<ul class="admin_nav">
  <li><%= link_to 'Users','' %></li>
  <li><%= link_to 'Comments','' %></li>
    <ul>
      <li><%= link_to 'All','' %></li>
      <li><%= link_to 'Spam','' %> </li>
      <li><%= link_to 'Not Spam','' %></li>
    </ul>
  <li><%= link_to 'Tracks','' %></li>
</ul>