<ul class="admin_nav">
  <%= navigation_item 'Users', admin_users_path %>
  <%= navigation_item 'Tracks', admin_assets_path %>
  <div>Comments</div>
  <ul>
    <%= navigation_item 'All',  admin_comments_path %>
    <%= navigation_item 'Spam',  admin_comments_path({filter_by: {is_spam: true}}) %>
    <%= navigation_item 'Not Spam', admin_comments_path({filter_by: {is_spam: false}}) %>
  </ul>
  <li><%= link_to "Secretz", "/secretz" %></li>
  <li><%= link_to "Spam Stats", "https://akismet.com/web/1.0/user-stats.php?blog=alonetone.com&api_key=#{Rails.configuration.alonetone.rakismet_key}"%></li>
  <li><%= link_to "Job Status", "/sidekiq" %></li>
</ul>
