<h2 class="table">Users that share the same IP</h2>
<div class="static_content secretz">
  <table id="listens_by_ip" class="statstable">
    <thead>
      <tr>
        <th>Country</th>
        <th>IP</th>
        <th>Users</th>
        <th>Examples</th>

      </tr>
    </thead>
    <tbody>
    <% @same_ip_users.each do |ip, count| %>
      <% users = User.where(:last_login_ip => ip).limit(5) %>
      <tr class>
        <td>
            <%= image_tag('http://api.hostip.info/flag.php?ip='+ip, :size => '20x20', :style => 'float:left; clear:none;opacity:0.4;') if ip %>
        </td>
        <td>
            <%= link_to(ip, 'http://www.botsvsbrowsers.com/ip/'+ip) if ip %>
        </td>
        <td>
          <%= count %>
        </td>
        <td>
            <%= users.collect{|u| link_to(u.name, user_path(u.login))}.join(" ").html_safe %>
        </td>
        <td></td>
       </tr>
    <% end %>
    </tbody>
  </table>
</div>


<h2 class="table">IPs that love to listen</h2>
<div class="static_content secretz">
  <table id="listens_by_ip" class="statstable">
    <thead>
      <tr>
        <th>Country</th>
        <th>IP</th>
        <th>Count</th>
        <th>User?</th>
      </tr>
    </thead>
    <tbody>
    <% @ip_listens.each do |ip, count| %>
      <tr class>
        <td>
            <%= image_tag('http://api.hostip.info/flag.php?ip='+ip, :size => '20x20', :style => 'float:left; clear:none;opacity:0.4;')%>
        </td>
        <td>
            <%= link_to ip, 'http://www.botsvsbrowsers.com/ip/'+ip %>
        </td>
        <td>
          <%= count %>
        </td>
        <td class="uploader">
            <% user = User.where(:last_login_ip => ip) %>
            <%= user.name if user %>
        </td>
        <td></td>
       </tr>
    <% end %>
    </tbody>
  </table>
</div>


<h2 class="table">Tracks that love to get played (last 30 days)</h2>
<div class="static_content secretz">
<table id="listens_by_track" class="statstable">
  <thead>
    <tr>
      <th>Track</th>
      <th>Count</th>
      <td>Uploader</td>
      <th>mp3 title</th>
      <th>mp3 artist</th>
    </tr>
  </thead>
  
  <tbody>
  <% @track_listens.each do |track, count| %>
    <tr class>
      <td><%= link_to track.name, user_track_path(track.user.login, track.permalink) %></td>
      <td><%= count %></td>
      <td class="uploader">
        <%= image_tag track.user.avatar(:tiny)%>
        <%= track.user.name %>
      </td>
      <td><%= track.title %></td>
      <td><%= track.artist %></td>
     </tr>
  <% end %>
  </tbody>
</table>
</div>


<h2 class="table">All time tracks by play count</h2>
<div class="static_content secretz">
  <table id="listens_by_track" class="statstable">
    <thead>
      <tr>
        <th>Track</th>
        <th>Count</th>
        <td>Uploader</td>
        <th>mp3 title</th>
        <th>mp3 artist</th>
      </tr>
    </thead>
  
    <tbody>
    <% @all_time_track_listens.each do |track| %>
      <tr class>
        <td><%= link_to track.name, user_track_path(track.user.login, track.permalink) %></td>
        <td><%= track.listens_count %></td>
        <td class="uploader">
          <%= image_tag track.user.avatar(:tiny)%>
          <%= track.user.name %>
        </td>
        <td><%= track.title %></td>
        <td><%= track.artist %></td>
       </tr>
    <% end %>
    </tbody>
  </table>
</div>


<h2 class="table">All time tracks by play count</h2>
<div class="static_content secretz">
  <table id="listens_by_track" class="statstable">
    <thead>
      <tr>
        <th>Track</th>
        <th>Count</th>
        <td>Uploader</td>
        <th>mp3 title</th>
        <th>mp3 artist</th>
      </tr>
    </thead>
  
    <tbody>
    <% @all_time_track_listens.each do |track| %>
      <tr class>
        <td><%= link_to track.name, user_track_path(track.user.login, track.permalink) %></td>
        <td><%= track.listens_count %></td>
        <td class="uploader">
          <%= image_tag track.user.avatar(:tiny)%>
          <%= track.user.name %>
        </td>
        <td><%= track.title %></td>
        <td><%= track.artist %></td>
       </tr>
    <% end %>
    </tbody>
  </table>
</div>



<h2 class="table">Top Bandwidth Users</h2>
<div class="static_content secretz">
  <table id="listens_by_track" class="statstable">
    <thead>
      <tr>
        <th>User</th>
        <th>Track Count</th>
        <th>GB used</th>
        <td>Cost</td>
      </tr>
    </thead>
  
    <tbody>
    <% @expensive_users.each do |user| %>
      <tr class>
        <td class="uploader">
          <%= image_tag user.avatar(:tiny)%>
          <%= link_to user.name, user_home_path(user.login) %></td>
        <td><%= user.assets_count %></td>
        <td>
          ~<%= user.bandwidth_used %> GB
        </td>
        <td><%= user.total_bandwidth_cost %></td>
       </tr>
    <% end %>
    </tbody>
  </table>
</div>