<div class="playlist">
  <%= link_to image_tag(@playlist.alonetone_playlist.cover(:original), style: ('display:none;' unless @post)), user_playlist_path(@playlist.user, @playlist) %>
    <h1> <%= link_to @playlist.alonetone_playlist.title, user_playlist_path(@playlist.user, @playlist) %>
    </h1>
    <h2><span class="by">by</span> <%= @playlist.user.display_name %></h2>  
    <ul class="tracklist">
  <% @playlist.tracks.each do |track| %>
    <li data-sound-id="<%= [track.asset.user.login, track.asset.permalink].join('/') %>">
      
    <!-- Play button automagically plays AND changes to relevant track details  -->
    <%= link_to user_playlist_post_path(@playlist.user, @playlist, track.asset), remote: true, class: 'play-button' do %>
      <i class="fa fa-play"></i>
    <% end %>
    
    <!-- Track title just switches track details-->
    <%= link_to user_playlist_post_path(@playlist.user, @playlist, track.asset), remote: true do %>
      <span class="track<%= ' active' if track.asset == @playlist_position %>">
        <%= "%02d" % track.position %>. <%= track.name %>
      </span>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>

