<div class="playlist">
  <%= link_to image_tag(playlist_cover_url(@playlist, variant: :original)), user_playlist_path(@playlist.user, @playlist), remote: true, class: 'small-cover', style: ('display:none;' unless @post) %>
  <h1 class="<%= 'cover' unless @asset %>"> 
    <%= link_to @playlist.title, user_playlist_path(@playlist.user, @playlist) %>
  </h1>
  <h2><span class="by">by</span> <%= @user.display_name %></h2>  
  
  <ul class="tracklist">
  <% @playlist.tracks.each do |track| %>
    <li class="<%= ' active' if track.asset == @asset %>"
      data-sound-id="<%= [track.asset.user.login, track.asset.permalink].join('/') %>">
      
    <!-- Play button automagically plays AND changes to relevant track details  -->
    <%= link_to user_playlist_post_path(@user, @playlist, track.asset), remote: true, class: 'play-button' do %>
      <i class="fa fa-play"></i>
    <% end %>
    
    <!-- Track title just switches track details-->
    <%= link_to user_playlist_post_path(@user, @playlist, track.asset), remote: true do %>
      <span>
        <%= "%02d" % track.position %>. <%= track.name %>
      </span>
      <span class='time-text'><%= track.asset.length %></span>
    <% end %>
    </li>
  <% end %>
  </ul>

  <div class="sidebar-downloads <%= 'anchor-at-bottom' if @playlist.tracks.count < 11 %>" 
    style="<%= 'display:none' unless @post or !@playlist.has_details? %>">
    <%= render partial: 'greenfield/playlists/links' %>
  </div>
</div>

