<header>
  <h1>playlists</h1>
</header>

<%= form_for(@playlist) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :title, :placeholder => 'title...' %>
  <%= f.submit %>
<% end %>

<br />

<ul>
  <% @playlists.each do |playlist| %>
  <li>
    <%= link_to playlist.title, playlist_path(playlist) %>
    (<%= playlist.posts.size %> <%= 'posts'.pluralize(playlist.posts.size) %>)
    <%= link_to '[edit]', edit_playlist_path(playlist), :style => 'text-decoration: none' %>
  </li>
  <% end %>
</ul>
