
<div class="box">
<h2 class="box static_content_heading">Join alonetone</h2>

<div id="signup" class="static_content box">
	<%= form_with model: @user, local: true do |f| %>
    <%= invisible_captcha :name, :user %>
    <%= f.label :login, "Pick a login and alonetone address" %>
    alonetone.com/<%= f.text_field :login, placeholder: 'yournamehere' %>

    <%= f.label :email, "Email Address (needed to activate)" %>
    <%= f.email_field :email, hint: "(we will send you an activation email)" %>

    <%= f.label :password, "Pick a nice password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Enter it again"%>
    <%= f.password_field :password_confirmation %>

    <div>
      <%= f.submit "Join Alonetone", data: { turbolinks: "false" } %>
    </div>
	<% end %>
</div>
</div>
<div class="box">
  <h2 class="box static_content_heading">Want to know more?</h2>
  <div id="signup-questions" class="static_content box">
    <p>
      alonetone is a non-commercial venture, giving musicians a free home for their music and the tools they need to promote it
    </p>
    <p>
      Read our FAQ by <%= link_to 'clicking here', about_path %>
    </p>
  </div>
</div>