<fb:if-is-own-profile>
  <fb:subtitle>You have created <%=pluralize(recipes.size, 'recipe')%></fb:subtitle>
  <fb:else>
   <fb:subtitle>
    <fb:name uid="<%=uid%>"/> has created <%=pluralize(recipes.size, 'recipe')%>
   </fb:subtitle>
  </fb:else>
</fb:if-is-own-profile>
<% recipes.each do |recipe| %>
  <div>
    <h2><a href="http://apps.facebook.com<%= url_for :controller => 'recipes', :action => 'show', :id => recipe%>">
    <%=h(recipe.title)%></a></h2>
    <p><%=h recipe.summary %></p>
  </div>
<%end%>

<fb:if-is-app-user>
<fb:else><a href="http://www.facebook.com/add.php?api_key=28e9f67df073c92829aa003e6762e074">
    Add Social Recipe for yourself</a></fb:else>
</fb:if-is-app-user>