<% cache(cache_digest(@track_plays)) do %>
<div id="user_track_plays" class="box">
	<h2 class="box">Latest listens to your music</h2>
    <div class="static_content">
      <strong><%= @user.track_plays.today %></strong> new plays &amp; downloads today <br/>
		  <%= @user.listens_count %> total plays and downloads (<strong><%= @user.listens_average %></strong> per/day) 
    </div>
	<%= render :partial => 'users/track_play', :collection => @track_plays %>
</div>

<div class="footer_box">
    <%= link_to 'view all plays &rArr;', listens_path(@user.login), :class => 'view_all' if @track_plays.size > 4%>
</div>
<% end %>