<%= div_for track_play, class: (cycle('even', 'odd')) do %>
  <div class="listen_user">
    <%= user_image_link(track_play.listener, variant: :large) %>
  </div>
  <div class="listen_details">
    <div>
      <strong><%= link_to h(truncate(track_play.asset.name, length: 48)), user_track_path(track_play.asset.user, track_play.asset) %></strong><br>
    </div>
    <%= local_time_ago(track_play.created_at) %>
    by <%= track_play.listener ? (link_to (h track_play.listener.name), user_home_path(track_play.listener)) :
    "Guest #{track_play.ip.present? ? '('+track_play.ip+')': ''}" %> <br>
    <span>via <%= link_source(track_play.source) %></span>
  </div>
  <div class="listen_flag">
    <%= flag_for track_play.country %>
  </div>
<% end %>
<div class="clear"></div>
