<h1 class="static">Browse alonetone artists who are/were...</h1>

<div id="user-index" class="alonetone_content">

  <div id="static_header">
    <div id="links">
      <ul class="links">
       <%= user_nav_item "recently online", {:action => 'index', :sort => nil} %>
       <%= user_nav_item "recently uploaded a track", {:action => 'index', :sort => 'last_uploaded'}%>
       <%= user_nav_item "monster uploaders", {:action => 'index', :sort => 'monster_uploaders'} %>
       <%= user_nav_item "dedicated listeners", {:action => 'index', :sort => 'dedicated_listeners'}%>
       <%= user_nav_item "recently joined", {:action => 'index', :sort => 'recently_joined'} %>
      </ul>
    </div>
  </div>
  <% render :layout => 'shared/paginate', :object => @users do %>

  <div id="recently_uploaded">
     
    <% @users.each do |user| %>
    <% if user.try(:first) %>
      <% user = user.first %>
    <% end %>
        <div class="alonetoner">        
         <%= user_image_link(user) %><br/>
         <%= link_to h(user.name), user_home_path(user) %>
        </div>
    <% end %>
    <div class="clearfix"> </div>
  </div>
  <% end %>

  <div class="clearfix"> </div>
</div>
