<div id="user-index">

  
<h4>Showing you alonetone musicians and listeners that have...</h4 >
<div id="switcher">
  <%= link_to 'uploaded mp3s',  {:action => 'index', :tracks => true }, :class=> (!params[:playlists] && !params[:all] ? 'active' : '')  %>
  <%= link_to 'created playlists', {:action => 'index', :playlists => true}, :class => (params[:playlists] ? 'active' : '') %>
  <%= link_to 'just signed up', {:action => 'index', :all => true}, :class => (params[:all] ? 'active' : '') %>
</div>

<%= will_paginate @users %>

  <%= render :partial => 'shared/user', :collection => @users %>

<div style="float:none;clear:both;"> </div>
</div>
