<div id="user_header">

  <%= link_to(image_tag(@user.avatar(:small), :class => 'small_avatar'), profile_path(@user), :class => 'image', :id=>'alonetoner') %>
  
  <div class="user_title">
    <h1><%=h @user.name %></h1>
  </div>
  <div class="user_links">
    <%= link_to_unless_current "Latest Everything", user_home_path(@user) %>
    <%= link_to_unless_current "Albums & Playlists", user_playlists_path(@user) if @user.has_public_playlists? %>
    <%= link_to_unless_current "Tracks", user_tracks_path(@user) if @user.assets_count > 0%>
    <%= link_to_unless_current "Profile", profile_path(@user) if @user.bio %>

  </div>
  <div class="user_contact_links">
    <%= link_to "Email", "mailto://#{@user.email}" if admin? %>
    <%= link_to "Listen to #{@user.name} on iTunes", "http://#{@user.itunes}" if @user.itunes && !@user.itunes.empty? %>
    <%= link_to "Sudo to #{@user.name}", sudo_user_path(@user) if (admin? || @sudo)%>    
  </div>
</div>
  <%= yield %>