<div id="user_index">

  <div id="static_header">  
    <div class="title">
      <h1 class="static">Browse all alonetone artists</h1>
    </div>
    
    <div id="links">
      <ul class="links">
       <%= user_nav_item "last seen", {:action => 'index', :sort => nil} %>
       <%= user_nav_item "last uploaded", {:action => 'index', :sort => 'last_uploaded'}%>
       <%= user_nav_item "monster uploaders", {:action => 'index', :sort => 'monster_uploaders'} %>
       <%= user_nav_item "dedicated listeners", {:action => 'index', :sort => 'dedicated_listeners'}%>
       <%= user_nav_item "recently joined", {:action => 'index', :sort => 'recently_joined'} %>
       <%= user_nav_item "by location", {:action => 'index', :sort => 'map'} %>
      </ul>
      <%= will_paginate @users if @users%>
    </div>
  </div>
  
  <div id="large_users_grid">
    <% if params[:sort] == 'map'%>
        <%= render :partial => 'map' %>
    <% else %>
    <%= render :partial => 'shared/user', :collection => @users %>
    <% end %>
    <div class="clear"> </div>
  </div>

  <div style="float:none;clear:both;"> </div>
</div>
