
<div id="user_header">

  <%= link_to(image_tag(@user.avatar(:large), :class => 'small_avatar', :alt => "#{h(@user.name)}"), profile_path(@user), :class => 'image', :id=>'alonetoner', :title => "#{h(@user.name)}'s profile - all about #{h(@user.name)}") %>
  
  <div class="user_title">
    <h1 class="user"><%=h @user.name %></h1><span class="user_location"><%= user_location(@user) %></span>
      <%= follow_toggle(@user) %>
  
  <%# cache("#{user.cache_key}+#{authorized?}+#{admin?}") do %>

    <% if authorized? %>
      <%= link_to 'edit your profile', edit_user_path(@user), :class => "edit_profile #{ admin? ? 'admin' : ''}" %>
      <%= link_to image_tag('icons/alonetone_plus_small.png'), user_plus_path(@user), :class=> 'alonetone_plus_link' if authorized? && @user.plus_enabled? %>
    <% end %>
  </div>
  <div id="user_links">
    <ul class="user_links">
     <%= user_nav_item "Home", user_home_path(@user), :title => "#{h @user.name} on alonetone" %>
     <%= user_nav_item "Tracks", user_tracks_path(@user), :title => "#{h @user.name}'s uploaded mp3s on alonetone" if @user.assets_count > 0 %>
     <%= user_nav_item "Albums & Playlists", user_playlists_path(@user), :title => "#{h @user.name}'s albums and playlists on alonetone" if @user.has_public_playlists? || (authorized_as(@user) && @user.playlists.include_private.count > 0) %>
     <%= user_nav_item "Favorites", user_playlist_path(@user, @user.favorites),:title => "#{h @user.name}'s favorite tracks on alonetone" if @user.favorites %>
     <%= user_nav_item "Profile", profile_path(@user), :title => "#{h @user.name}'s profile on alonetone" if @user.bio %>
  
      <%= user_nav_item "Email", "mailto:#{@user.email}",:added_class => "contact" if admin? %>
      <%= user_nav_item "iTunes", "http://#{@user.itunes}",:added_class => "contact" if @user.present?(:itunes) %>
      <%= user_nav_item "Twitter", "http://twitter.com/#{@user.twitter}", :added_class => 'contact' if @user.present?(:twitter) %>
      <%= user_nav_item "Sudo", sudo_user_path(@user),:added_class => "contact" if (admin? || @sudo)%>   
    </ul>
  </div>
</div>
<%# end %>
  <%= yield %>