<div id="user-index">

  <div id="static_header">
  
    <div class="title">
      <h1 class="static">Browse all alonetone artists</h1>
    </div>
    
    <div id="links">
      <ul class="links">
       <%= user_nav_item "active", {:action => 'index', :sort => 'active' } %>
       <%= user_nav_item "monster uploaders", {:action => 'index', :sort => 'monster_uploaders'} %>
       <%= user_nav_item "dedicated listeners", {:action => 'index', :sort => 'dedicated_listeners'}%>
       <%= user_nav_item "recently joined", {:action => 'index', :sort => 'recently_joined'} %>
      </ul>
          <%= will_paginate @users %>
    </div>
  </div>
  
  <div id="recently_uploaded">

    <%= render :partial => 'shared/user', :collection => @users %>
    <div class="clear"> </div>
  </div>


  <div style="float:none;clear:both;"> </div>
</div>
