<% render(:layout => 'user') do %>

  <% content_for :left do %>
    <div id="bio" class="box">
      <h2 class="box static">All about <%=h @user.name %></h2>
      <%= link_to 'Edit', edit_user_path(@user),:class=>'edit right' if authorized? %>

        <div class="bio static_content">
        	<p>
        	    <% if @user.present?(:bio) %>
        	        <%= @user.printable_bio %>
        	    <% else %>
        	        <%=h @user.name %> doesn't have anything to say, unfortunately...
                <% end %>

        	</p>
        </div>
      
      <% if @user.present?(:website) %>
        <div class="bio static_content">
          	  <%= website_for(@user) %>
        </div>	
      <% end %>

      <% if @user.present?(:myspace) %>
        <div class="bio static_content">
        	  <%= myspace_for(@user) %>
        </div>	
      <% end %>
      
      <div class="bio static_content">
    	  <% if @user.has_tracks? && authorized? && @user.present?(:itunes) %>
    	    Podcast feed: <%= user_feeds_url(@user, :rss) %><br/>
            <%= itunes_link_for(@user) %>
    	  <% elsif @user.has_tracks? && authorized? %>
    	    Your Podcast feed: <%= user_feeds_url(@user, :rss) %><br/>
    	   <%= link_to 'Submit this feed to iTunes', 'https://phobos.apple.com/WebObjects/MZFinance.woa/wa/publishPodcast'%>
    	    to get your music indexed and listed in iTunes under Podcasts > Music. Then come back to update your profile when you have your iTunes feed URL.
    	  
    	  <% elsif @user.present?(:itunes) %>
            <%= itunes_link_for(@user) %>
    	  <% end %>
    	</div>
    	
    </div>
    
    <div id="share_user_latest" class="box">
        <h2 class="box static">Share <%=h @user.name%>'s Latest Music</h2>
        <div class="static_content">
            <h3>Embed a flash player by copying and pasting:</h3>
        
            <%= text_area_tag "flash_player_#{@user.id.to_s}", "<embed src=\"#{FLASH_PLAYER}\" width=\"400\" height=\"140\" allowfullscreen=\"true\" allowscriptaccess=\"always\" flashvars=\"&file=#{formatted_user_url(@user.login, :xml)}&height=140&width=400&frontcolor=0x3C3C3C&backcolor=0xf3f3f3&lightcolor=0xFF944B&screencolor=0xFF944B&displaywidth=120&showdigits=false&showdownload=true\" />", :rows => 3, :cols => 50 %>
            (customize how it looks by visiting <%= link_to 'the setup wizard', 'http://www.jeroenwijering.com/?page=wizard&example=2'%>)
        </div>
    </div>
  <% end %>
  
  <% content_for :right do %>
  
    <%= link_to(image_tag(@user.avatar(:album), :class => 'large_avatar'), @user.avatar,  :id=>'alonetoner_big', :rel=>'facebox') %>
    <h2 class="box static"><%= @user.name %>'s stats</h2>
    
    <div class="bio static_content">
        Last seen <%= time_ago_in_words(@user.last_seen_at || @user.created_at)%> ago <br />
	    <% if @user.listens_count > 0 %>
  		People have listened to <%= @user.name %>'s <%= pluralize @user.assets_count, 'track' %> about <%= @user.listens_count %> times.<br/>
  		<% end %>
  	  <%=@user.name%> joined alonetone on <%= @user.created_at.to_date.to_s :long %>
    </div>
  <% end %>

<% end %>
