<% render(:layout => 'user') do %>

  <% content_for :left do %>
    <div id="bio" class="box">
      <h2 class="box static">All about <%=h @user.name %></h2>
      <%= link_to 'Edit', edit_user_path(@user),:class=>'edit' if authorized? %>
     
      <div class="bio static_content">

      	<% if @user.present?(:bio) %>
        	<p>
        	  <%= @user.printable_bio %>
        	</p>
        	<% end %>
      </div>
      
      <% if @user.present?(:website) %>
        <p class="website static_content">
      	  <%= website_for(@user) %>
      	</p>
    	<% end %>

	  
    	<% if @user.present?(:itunes) %>
    	  <p class="itunes static_content">
          <%= itunes_link_for(@user) %>
    	  </p>
    	<% end %>
    	
    	<% if @user.has_tracks? && authorized? %>
    	<p>
    	  <h3>Your Podcast feed </h3>
    	  <%= user_feeds_url(@user, :rss) %>
    	  <br/>
    	  You can 
    	  <%= link_to 'open itunes and submit this link', 'https://phobos.apple.com/WebObjects/MZFinance.woa/wa/publishPodcast'%>
    	  and get your music listed under Podcasts > Music. Make sure to update your profile after the podcast is approved!
    	</p>
    	<% end %>
    </div>	
  <% end %>
  
  <% content_for :right do %>
    <%= link_to(image_tag(@user.avatar(:album), :class => 'large_avatar'), profile_path(@user),  :id=>'alonetoner_big') %>
    <h2 class="box static"><%= @user.name %>'s stats</h2>
	  <% if @user.listens_count > 0 %>
		People have listened to <%= @user.name %>'s <%= pluralize @user.assets_count, 'track' %> about <%= @user.listens_count %> times.<br/>
		<% end %>
	  <%=@user.name%> joined the alonetone crew on <%= @user.created_at.to_date.to_s :long %> and was last seen <%= time_ago_in_words(@user.last_seen_at)%> ago
  <% end %>

<% end %>
