<div class="edit_profile">

  <% if @user.errors.any? %>
    <%= render partial: 'shared/back_to_button', locals: { url: edit_user_path(@user), label: "Edit Profile" } %>
  <% else %>
    <%= render partial: 'shared/back_to_artist' %>
  <% end %>

  <%= render partial: 'bio' %>

  <div class="edit_profile_change_your_password box">
    <%= render partial: 'shared/errors', locals: { errors: @user.errors } if @user.errors.key?('password') %>

    <div class="warning_tag">Warning</div>
    <div class="row">
      <%= form_with model: @user, local: true do |f| %>
        <h2>Change your password</h2>
        <p>
        </p>
        <div>
          <%= f.password_field :password, placeholder: "New Password", autocomplete: 'new-password'  %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autocomplete: 'new-password' %>
        </div>
        <div>
          <%= f.submit "Change password" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="edit_profile_change_your_login box">
    <%= render partial: 'shared/errors', locals: { errors: @user.errors } if @user.errors.key?('login') %>
    <div class="warning_tag">Warning</div>
    <%= form_with model: @user, local: true do |f| %>
      <h2>Change your login</h2>
      <p>
        Changing this will break any links you've ever shared over facebook, email, etc.
      </p>

      <p>It will also confuse google about where your music is for a few weeks.
        Basically, don't do this unless you have to, it makes it hard for people to find your tunes.
      </p>

      <div>
        <div class="prefix_and_input">
          <div class="prefix_alonetone">alonetone.com/</div>
          <%= f.text_field :login %>
        </div>
        <div>
          <%= f.submit "Update login name" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if false %>
  <div class="edit_profile_delete_your_account box">
    <div class="danger_tag">DANGER! DANGER!</div>
      <h2>Delete your account</h2>
      <p>
        This will delete all your tracks, your comments, your listening history and you will be logged out!
      </p>
    <div>
      <div class="delete_column">
        Delete Account?
        <a href="#">Delete</a>
      </div>
      <div class="sure_column">
        <div>Are you sure?</div>
        <a href="#">Yes</a>
        <a href="#">No</a>
      </div>
      <div class="ok_column">
        OK
      </div>
    </div>
  </div>
  <% end %>
</div>
