<%= error_messages_for :user %>

<% render(:layout => 'user') do %>
  <% content_for :left do %>
  <div class="edit_profile box">
    <h2 class="box">Edit your profile</h2>
    	<%= link_to 'Change your pic', '#pic_upload', :id => 'pic_upload_link',:class =>'edit right with_text slide_open_href' %>
  		<div id="pic_upload" class="static_content" style="display:none">
  			Upload a square photo, 400px by 400px for best results.<br/>
  			<% form_for :pic, :url => attach_pic_user_path(@user), :html => {:multipart => true, :method => :post} do |f| %>
  				<%= f.file_field :uploaded_data  %>
  				<%= submit_tag "Upload new Pic" %>
  			<% end %><br/>
  		</div>
  		<div class="static_content">

  			<% form_for @user, :html => { :method => :put } do |f| -%>
		
  			<label for="display_name">The name you want displayed on alonetone</label><br />
  			<%= f.text_field :display_name %><br/><br/>	
		
  			<label for="user_bio">Tell us about yourself</label><br />
  			<%= f.text_area :bio, :class=>'double_trouble',:cols => 40, :rows => 4%><br/><br/>
		
  		  <label for="user_bio">What city or town do you live in?</label><br />
        <%= f.text_field :city %><br/><br/>
	
		  	<label for="user_bio">What country?</label><br />
		    <%= f.country_select :country, ['','United States'], :include => :blank %><br/><br/>
	
  			<label for="user_website">Have a website?</label><br />
  			http://<%= f.text_field :website %><br/><br/>
		
  		  <label for "user_myspace">Sport a myspace account?</label><br/>
  		  http://myspace.com/<%= f.text_field :myspace%><br/><br/>
		
  			<label for="user_website">Did you set up your <%= link_to 'alonetone iTunes podcast?', halp_path(:itunes) %></label><br />
  			http://<%= f.text_field :itunes %><br/><br/>
		
  		  <%= link_to("Change your password",'#edit_password',:class=>'slide_open_next') %>
  	  </div>
  	  
  	  <div id="edit_password" class="static_content" style="display:none">
    		Enter your desired new password twice, please:<br/>
    		<%= f.password_field :password %><br/>
    		<%= f.password_field :password_confirmation %>
  	  </div>
  	  
  	  <div class="static_content">
  	    <%= submit_tag "Update Your Profile" %>
  	  </div>
  	<% end -%>
  </div>
  <% end %>
  
  <% content_for :right do %>
    <h2 class="box">Settings</h2>
    <div class="static_content">
    <% form_for @user, :html => { :method => :put } do |f| -%>
      Display play counts blatently on all tracks? <br/>
      <%= select_tag('user[settings][display_listen_count]', 
          options_for_select([['no thanks','false'], ['yes','true']], 
          setting(:display_listen_count))) %>
    </div>
    
    <div class="static_content">
      Display most popular tracks (in place of latest tracks)<br/>
      <%= select_tag('user[settings][most_popular]', 
          options_for_select([['nope, stick with the latest','false'], ['oh, pretty please!','true']], 
           setting(:most_popular))) %>
    </div>
    
    <div class="static_content">
      Increase size of ego by 4x?<br/>
      <%= select_tag('user[settings][increase_ego]', 
          options_for_select([['uhm, no thanks','false'], ['hell yes!','true']], 
          setting(:increase_ego))) %>
          
    </div>
    
    <div class="static_content">
      <%= submit_tag "Save your alonetone settings" %>
    </div>
        <% end %>
  <% end %>
<% end %>
