<div class="edit_profile">
  <% if @user.errors.any? %>
    <%= render partial: 'shared/back_to_button', locals: { url: edit_user_path(@user), label: "Edit Profile" } %>
  <% end %>

  <% if @user.errors.empty? || @user.errors.key?(:avatar_image) # the main form only validates the image %>
  <div class="box">
    <h1>Edit Profile</h1>
    <div class="edit_profile_separator"></div>
    <%= form_with model: @user, local: true do |f| %>
    <div class="edit_profile_top">
      <div class="edit_profile_top_left" data-controller="image-upload">
        <label>PROFILE PICTURE</label>
        <div class="user_avatar" data-image-upload-target='image' data-action='click->image-upload#openFile'>
          <%= user_image(@user, variant: :card_avatar) %>
        </div>
          <%= f.file_field :avatar_image, data: { 'image-upload-target': 'fileField', action: 'change->image-upload#fileChanged' }, style: 'display:none'  %>
          <%= f.label :avatar_image, 'Choose new profile image...', class:"upload_image", data: { 'image-upload-target': 'fileLabel' } %>
        <p class="instructions">
          Upload a square photo<br>
          2000px by 2000px for the best results
        </p>
      </div>

      <div class="edit_profile_top_right">
        <label for="display_name">Name</label>
        <%= f.text_field :display_name %>
        <%= f.fields_for :profile do |f| %>
          <div class="city_and_country">
            <div>
              <label for="user_bio">City</label>
              <%= f.text_field :city %>
            </div>
            <div>
              <label for="user_country">Country</label>
              <%= f.country_select :country, include_blank: true %>
            </div>
          </div>
          <label for="user_bio">Bio</label>
          <%= f.text_area :bio, class: 'double_trouble', cols: 50, rows: 15 %>
        <% end %>
        <%= f.submit "Save Bio" %>
        <%= link_to "Cancel", user_home_path(@user) %>
      </div>
    </div>
    <% end %>

    <div class="edit_profile_separator"></div>

    <div class="edit_profile_socials">
      <h3>Update social media links</h3>
      <%= form_with model: [@user, @profile], local: true do |f| %>
        <div class="edit_profile_socials_columns">
          <div class="edit_profile_socials_left_column">
            <label for="user_website">Website</label>
            <div class="row just_input">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_website.svg') %>
              </div>
              <div class="row_input">
                <%= f.text_field :website %>
              </div>
            </div>
            <label for "user_spotify">Spotify</label>
            <div class="row">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_spotify.svg') %>
                <div>open.spotify.com/artist/</div>
              </div>
              <div class="row_input">
                <%= f.text_field :spotify %>
              </div>
            </div>
            <label for "user_apple">Apple Music</label>
            <div class="row">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_apple_music.svg') %>
                <div>itunes.apple.com/us/artist/</div>
              </div>
              <div class="row_input">
                <%= f.text_field :apple %>
              </div>
            </div>
            <label for "user_youtube">YouTube</label>
            <div class="row">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_youtube.svg') %>
                <div>youtube.com/</div>
              </div>
              <div class="row_input">
                <%= f.text_field :youtube %>
              </div>
            </div>
          </div>
          <div class="edit_profile_socials_right_column">
            <label for "user_bandcamp">Bandcamp</label>
            <div class="row reversed">
              <div class="row_input">
                <%== render file: svg_path('svg/icon_socials_bandcamp.svg') %>
                <%= f.text_field :bandcamp %>
              </div>
              <div class="row_prefix">
                <div>.bandcamp.com</div>
              </div>
            </div>
            <label for "user_twitter">Twitter</label>
            <div class="row">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_twitter.svg') %>
                <div>twitter.com/</div>
              </div>
              <div class="row_input">
                <%= f.text_field :twitter %>
              </div>
            </div>
            <label for "user_instagram">Instagram</label>
            <div class="row">
              <div class="row_prefix">
                <%== render file: svg_path('svg/icon_socials_instagram.svg') %>
                <div>instagram.com/</div>
              </div>
              <div class="row_input">
                <%= f.text_field :instagram %>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit "Update links" %>
      <% end %>
    </div>
    <div class="edit_profile_separator"></div>
    <div class="edit_profile_settings">
      <h3>Settings</h3>
      <%= form_for @user do |f| -%>
        <div class="edit_profile_settings_columns">
          <div class="edit_profile_settings_left_column">
            <%= render partial: 'setting', locals: { key: 'email_comments', label: 'Email you comments on your tracks?' } %>
            <div class="edit_profile_separator"></div>
            <%= render partial: 'setting', locals: { key: 'email_new_tracks', label: 'Email you when someone you follow uploads a track?' } %>
            <div class="edit_profile_separator"></div>
            <%= render partial: 'setting', locals: { key: 'block_guest_comments', label: 'Block guests from commenting on your tracks?' } %>
            <div class="edit_profile_separator"></div>
          </div>
          <div class="edit_profile_settings_right_column">
            <%= render partial: 'setting', locals: { key: 'most_popular', label: 'Show most popular tracks on your home page?' } %>
            <div class="edit_profile_separator"></div>
            <%= render partial: 'setting', locals: { key: 'increase_ego', label: 'Increase size of ego by 4x?' } %>
       </div>
        </div>
        <% end %>
      </div>
  </div>
  <% end %>
  <% if @user.errors.empty? || !@user.errors.key?(:login) %>
  <div class="edit_profile_change_your_password box">
    <%= render partial: 'shared/errors', locals: { errors: @user.errors } if !@user.errors.key?('login') %>

    <div class="warning_tag">Warning</div>
    <div class="row">
      <%= form_with model: @user, local: true do |f| %>
        <h2>Change your password</h2>
        <p>
        </p>
        <div>
          <%= f.password_field :password, placeholder: "New Password", autocomplete: 'new-password'  %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autocomplete: 'new-password' %>
        </div>
        <div>
          <%= f.submit "Change password" %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="edit_profile_change_your_login box">
    <%= render partial: 'shared/errors', locals: { errors: @user.errors } if @user.errors.key?('login') %>
    <div class="warning_tag">Warning</div>
    <%= form_with model: @user, local: true do |f| %>
      <h2>Change your login</h2>
      <p>
        Changing this will break any links you've ever shared over facebook, email, etc.
      </p>

      <p>It will also confuse google about where your music is for a few weeks.
        Basically, don't do this unless you have to, it makes it hard for people to find your tunes.
      </p>

      <div>
        <div class="prefix_and_input">
          <div class="prefix_alonetone">alonetone.com/</div>
          <%= f.text_field :login %>
        </div>
        <div>
          <%= f.submit "Update login name" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if false %>
  <div class="edit_profile_delete_your_account box">
    <div class="danger_tag">DANGER! DANGER!</div>
      <h2>Delete your account</h2>
      <p>
        We don’t want you to leave, but it’s ok. If you love somebody, set them free, right?
      </p>
    <div>
      <div class="delete_column">
        Delete Account?
        <a href="#">Delete</a>
      </div>
      <div class="sure_column">
        <div>Are you sure?</div>
        <a href="#">Yes</a>
        <a href="#">No</a>
      </div>
      <div class="ok_column">
        OK
      </div>
    </div>
  </div>
  <% end %>
</div>
