<%= error_messages_for @user %>

<div class="edit_profile">
  <div class="box">
    <h1>Edit Profile</h1>
    <div class="edit_profile_separator"></div>

    <%= form_with model: @user do |f| %>
    <div class="edit_profile_top">
      <div class="edit_profile_top_left">
        <label>PROFILE PICTURE</label>
        <div class="user_avatar">
          <%= user_image(@user, variant: :card_avatar) %>
        </div>
          <%= f.file_field :cover_image, data: { target: 'playlist-form.fileField', action: 'change->playlist-form#fileChanged' }, style: 'display:none'  %>
          <%= f.label :cover_image, 'Choose new profile image...', class:"upload_image", data: { target: 'playlist-form.fileLabel' } %>
        <p class="instructions">
          Upload a square photo<br>
          2000px by 2000px for the best results
        </p>
      </div>

      <div class="edit_profile_top_right">
        <label for="display_name">Name</label>
        <%= f.text_field :display_name %>
        <%= f.fields_for :profile do |f| %>
          <div class="city_and_country">
            <div>
              <label for="user_bio">City</label>
              <%= f.text_field :city %>
            </div>
            <div>
              <label for="user_country">Country</label>
              <%= f.country_select :country, include_blank: true %>
            </div>
          </div>
          <label for="user_bio">Bio</label>
          <%= f.text_area :bio, class: 'double_trouble', cols: 50, rows: 15 %>
        <% end %>
        <%= f.submit "Save Bio" %>
        <%= link_to "Cancel", user_home_path(@user) %>
      </div>
    </div>
    <% end %>

    <div class="edit_profile_separator"></div>

    <div class="edit_profile_socials">
      <h3>Update social media links</h3>
      <%= form_with model: [@user, @profile], local: true do |f| %>
        <div class="edit_profile_socials_columns">
          <div class="edit_profile_socials_left_column">
            <label for="user_website">Website</label>
            <div class="row just_input">
              <%== render file: svg_path('svg/icon_socials_website.svg') %>
              <%= f.text_field :website %>
            </div>
            <label for "user_spotify">Spotify</label>
            <div class="row">
              <%== render file: svg_path('svg/icon_socials_spotify.svg') %>
              <div>open.spotify.com/artist/</div>
              <%= f.text_field :spotify %>
            </div>
            <label for "user_apple">Apple Music</label>
            <div class="row">
              <%== render file: svg_path('svg/icon_socials_apple_music.svg') %>
              <div>itunes.apple.com/us/artist/</div>
              <%= f.text_field :apple %>
            </div>
            <label for "user_youtube">YouTube</label>
            <div class="row">
              <%== render file: svg_path('svg/icon_socials_youtube.svg') %>
              <div>youtube.com/</div>
              <%= f.text_field :apple %>
            </div>
          </div>
          <div class="edit_profile_socials_right_column">
            <label for "user_spotify">Bandcamp</label>
            <div class="row reversed">
              <%== render file: svg_path('svg/icon_socials_bandcamp.svg') %>
              <%= f.text_field :bandcamp %>
              <div>.bandcamp.com</div>
            </div>
            <label for "user_twitter">Twitter</label>
            <div class="row">
              <%== render file: svg_path('svg/icon_socials_twitter.svg') %>
              <div>twitter.com/</div>
              <%= f.text_field :twitter %>
            </div>
            <label for "user_instagram">Instagram</label>
            <div class="row">
              <%== render file: svg_path('svg/icon_socials_instagram.svg') %>
              <div>instagram.com/</div>
              <%= f.text_field :instagram %>
            </div>
          </div>
        </div>
        <%= f.submit "Update links" %>
      <% end %>
    </div>
    <div class="edit_profile_separator"></div>
    <div class="edit_profile_settings">
      <h3>Settings</h3>
      <%= form_for @user do |f| -%>
        <div class="edit_profile_settings_columns">
          <div class="edit_profile_settings_left_column">
            <div class="setting">
              <label>Display play counts blatantly on all tracks?</label>
              <div class="toggle">
                <div class="toggle_inner"></div>
                <%= link_to "ON", toggle_setting_user_path('ego'),
                  method: :put,
                  class: 'toggle_label toggle_label_on',
                  data: { target: 'toggle-setting.toggle' , action: 'toggle-setting#toggle' } %>
                <%= link_to "OFF", toggle_setting_user_path('ego'),
                  method: :put,
                  class: 'toggle_label toggle_label_off',
                  data: { target: 'toggle-setting.toggle' , action: 'toggle-setting#toggle' } %>
              </div>
            </div>
            <div class="edit_profile_separator"></div>
            <div class="setting">
              <label>Accept comments from guests?</label>
              <div class="toggle toggle_on">
                <div class="toggle_inner"></div>
                <div class="toggle_label toggle_label_on">ON</div>
                <div class="toggle_label toggle_label_off">OFF</div>
              </div>
            </div>
            <div class="edit_profile_separator"></div>
            <div class="setting">
              <label>Display most popular tracks on your home page?</label>
              <div class="toggle toggle_off">
                <div class="toggle_inner"></div>
                <div class="toggle_label toggle_label_on">ON</div>
                <div class="toggle_label toggle_label_off">OFF</div>
              </div>
            </div>
          </div>
          <div class="edit_profile_settings_right_column">
            <div class="edit_profile_separator"></div>
            <div class="setting" data-controller="toggle-setting" data-toggle-setting-key="increase_ego">
              <label data-target="toggle-setting.description">Increase size of ego by 4x?</label>
              <%= link_to toggle_setting_user_path(current_user), method: :put,
                data: { target: 'toggle-setting.toggle', action: 'toggle-setting#toggle' }, class: "toggle #{'on' if current_user.has_setting?('increase_ego')}" do %>
                <div class="toggle_inner"></div>
                <div class="toggle_label toggle_label_on">ON</div>
                <div class="toggle_label toggle_label_off">OFF</div>
              <% end %>
            </div>
            <div class="edit_profile_separator"></div>
            <div class="setting">
              <label>Should we email you new comments on your tracks?</label>
              <div class="toggle toggle_off">
                <div class="toggle_inner"></div>
                <div class="toggle_label toggle_label_on">ON</div>
                <div class="toggle_label toggle_label_off">OFF</div>
              </div>
            </div>
            <div class="edit_profile_separator"></div>
            <div class="setting">
              <label>Email notifications when folks you follow upload tracks?</label>
              <div class="toggle toggle_off">
                <div class="toggle_inner"></div>
                <div class="toggle_label toggle_label_on">ON</div>
                <div class="toggle_label toggle_label_off">OFF</div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <div class="edit_profile_change_your_password box">
    <div class="warning_tag">Warning</div>
    <div class="row">
      <%= form_with model: @user do |f| %>
        <h2>Change your password</h2>
        <p>
          This is not real!
        </p>
        <div>
          <%= f.text_field :password, required: true %>
        </div>
        <div>
          <%= f.text_field :password_confirmation, required: true %>
        </div>
        <div>
          <%= f.submit "Change password" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="edit_profile_change_your_login box">
    <div class="warning_tag">Warning</div>
    <%= error_messages_for @user %>
    <%= form_with model: @user do |f| %>
      <h2>Change your login</h2>
      <p>
        Changing this will break any mp3 players you or anyone else has put on the web, as well as any links anyone has passed around to your music, as well as confuse google about where your music is for a few weeks. Basically, don't do this unless you have to, it makes life hard for folks finding your tunes.
      </p>

      <div>
        <div>alonetone.com/</div>
        <%= f.text_field :login %>
        <%= f.submit "Update login name" %>
      </div>
    <% end %>
  </div>

  <div class="edit_profile_delete_your_account box">
    <div class="danger_tag">DANGER! DANGER!</div>
      <h2>Delete your account</h2>
      <p>
        We don’t want you to leave, but it’s ok. If you love somebody, set them free, right?
      </p>
    <div>
      <div class="delete_column">
        Delete Account?
        <a href="#">Delete</a>
      </div>
      <div class="sure_column">
        <div>Are you sure?</div>
        <a href="#">Yes</a>
        <a href="#">No</a>
      </div>
      <div class="ok_column">
        OK
      </div>
    </div>
  </div>
</div>
