<%= error_messages_for :user %>

<% content_for :left do %>
  <h1>Join alonetone</h1>
  <div id="signup">

  	<% form_for :user, :url => users_path do |f| -%>
  	  <%= render :partial => "form", :object => f %>
  	  <div class="join_wrapper"><%= submit_tag 'Join alonetone' %></div>
  	<% end -%>
	  
    <div id="signup-questions">
    <%= pretty_text "More questions?",:h3 %><br/>
    get the answers you need by <%= link_to 'clicking here', about_path %>
    </div>
  </div>
<% end %>

<% content_for :right do %>
  <div id="what-you-get">
  	<h1>Why alonetone?</h1>
  	<%= image_tag 'promo/unlimited-uploads.jpg'%>
  	<h2 class='hug'>Upload your music (mp3 format)</h2>
	
  	<%= image_tag 'promo/people-you-like.jpg'%>
  	<h2 class='hug'>Join a musician community, not a company</h2>

    <%= image_tag 'promo/track-listens.jpg'%>
    <h2 class='hug'>Keep track of your musical creations</h2>
  
    <%= image_tag 'promo/itunes-podcast.jpg'%>
    <h2 class='hug'>Get your music on itunes...</h2>

    <%= image_tag 'promo/add-to-facebook.jpg'%>
    <h2 class='hug'>...facebook</h2>
  
    <%= image_tag 'promo/embed-player.jpg'%>
    <h2 class='hug'>...and any website, forum or blog</h2>
  </div>

<% end %>

