<div id="user_home">
  <div id="user_header_area">
    <div id="user_header">
      <div class="user_name_and_location_and_follow">
        <div class="user_name_and_location">
          <h1 class="user_name"><%= @user.name %></h1>
        </div>
        <% if logged_in? && current_user != @user %>
          <%= link_to toggle_follow_path(login: @user.login), remote: true, class: 'follow',
          data: {controller: 'follow', action: 'follow#toggle', :'follow-following' => current_user.is_following?(@user).present? } do %>
            <div class="follow_button">Follow</div>
            <%= render file: svg_path('svg/animation_heart.svg') %>
          <% end %>
        <% end %>
      </div>
      <div class="user_header_avatar">
        <%= image_tag(avatar_or_placeholder_for(@user, :original)) %>
      </div>
    </div>
  </div>

  <% if @user.has_public_playlists? %>
  <div id="user_playlists_area">
    <div class="user_playlists">
      <ul class="playlists">
        <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
      </ul>
    </div>
  </div>
  <% end %>

  <div id="user_left_column">
    <% if @assets.size > 0 %>
    <div id="user_latest_area">

      <h2>Latest Music</h2>

      <div id="user_latest" class="box">
        <%= render partial: 'assets/asset', collection: @assets %>
      </div>
      <div class="below_box">
        <%= link_to user_tracks_path(@user), class: 'view_all', title: "uploaded mp3s by #{@user.name}"  do %>
        <span>view all &nbsp;
          <i class="icon_caret">
            <%= render file: svg_path('svg/icon_caret.svg') %>
          </i>
        </span>
        <% end if @user.assets_count > 5 %>
      </div>
    </div>

    <% end %>

    <% unless @listens.empty? %>
    <div id="user_listens_area">
      <h2>Recently Listened To</h2>

      <div class="box">
        <%= render partial: 'assets/asset', collection: @listens, as: :asset %>
      </div>

      <div class="below_box">
          <%= link_to listens_path(@user.login), class: 'view_all' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>
          <% end if @listens.size > 4 %>
      </div>
    </div>
    <% end %>

    <% if authorized? && @user.listens_count > 0 %>
    <div id="user_plays_area">

      <% cache([@track_plays, theme_name]) do %>
      <h2>Latest Listens To Your Music</h2>
      <div id="user_track_plays" class="box">

        <div class="static_content">
          <strong><%= @user.track_plays.today %></strong> new plays &amp; downloads today <br/>
          <%= @user.listens_count %> total plays and downloads (<strong><%= @user.listens_average %></strong> per/day)
        </div>
        <%= render partial: 'users/track_play', collection: @track_plays %>
      </div>
      <% end%>

      <div class="below_box">
          <%= link_to listens_path(@user.login), class: 'view_all' do %>
            <span>view all &nbsp;
              <i class="icon_caret">
                <%= render file: svg_path('svg/icon_caret.svg') %>
              </i>
            </span>
          <% end if @track_plays.size > 4 %>
      </div>

    </div>
    <% end %>

  </div>

  <div id="user_right_column">
    <% if @favorites.present? %>
    <div id="user_favorites_area">
      <h2>Recent Favorites</h2>
      <div class="box">
        <%= render partial: 'assets/asset', collection: @favorites, as: :asset %>
      </div>
      <div class="below_box">
        <%= link_to user_playlist_path(@user, @user.favorites), class: "view_all" do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>
        <% end if @user.favorites.tracks.size > 5 %>
      </div>
    </div>
    <% end %>

    <% if @popular_tracks.present? && @user.has_setting?('most_popular', 'true') %>
    <div id="user_popular_area">
      <h2>Most Listened To Tracks</h2>

      <div id="user_popular" class="box">
        <%= link_to " ", user_tracks_path(@user),
        class: 'view_more_tracks', title: "uploaded mp3s by #{@user.name}" if @user.assets_count > 5%>
        <%= render partial: 'assets/asset', collection: @popular_tracks %>
      </div>
    </div>
    <% end %>

    <div id="user_comments_area">
      <%= render partial: 'shared/comments' if @comments.present? %>
    </div>
  </div>

  <div id="user_card_area">
    <div class="user_card_avatar">
      <%= image_tag(avatar_or_placeholder_for(@user, :original)) %>
    </div>
    <div class="user_card_content">
      <div class="user_card_bio">
       <% if @profile.try(:bio) %>
       <%= markdown(@profile.bio) %>
       <% else %>
       <%= @user.name %> doesn't have anything to say, unfortunately...
       <% end %>
     </div>
     <div class="user_card_content_divider"></div>
     <div class="user_location">
        <%= user_location(@profile) %>
     </div>
    </div>
  </div>
  <% if @user.followees.present? %>
  <div id="user_follows_area">
    <h2 class="area_heading">
      Who <%= @user.display_name %> follows
    </h2>
      <div class="area_content">
      <%= render partial: 'shared/users_to_edge', locals: { users: @user.followees } %>
    </div>
  </div>
  <% end %>

  <% if @profile.has_links? %>
  <div id="user_links_area">
    <div class="user_links_container">
      <ul>
        <% if @profile.website.present? %>
        <li>
          <%= link_to "https://#{@profile.website}", rel:"nofollow" do %>
            <div class="link_left">
              <div>has</div>
              <div>Website</div>
            </div>

            <div class="link_right">
              <%= render file: svg_path('svg/icon_user_link.svg') %>
            </div>
          <% end %>
        </li>
        <% end %>
        <% if @profile.twitter.present? %>
        <li>
          <a href="https://twitter.com/<%= @profile.twitter %>" rel="nofollow">

              <div class="link_left">
                <div>on</div>
                <div>Twitter</div>
              </div>

              <div class="link_right">
                <%= render file: svg_path('svg/icon_user_twitter.svg') %>
              </div>
          </a>
        </li>
        <% end %>
        <% if @profile.apple.present? %>
        <li>
          <a href="https://itunes.apple.com/us/artist/<%= @profile.apple %>" rel="nofollow">
            <div class="link_left">
              <div>on</div>
              <div>Apple Music</div>
            </div>
            <div class="link_right">
              <%= render file: svg_path('svg/icon_user_apple_music.svg') %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.bandcamp.present? %>
        <li>
          <a href="http://<%= @profile.bandcamp %>.bandcamp.com" rel="nofollow">
            <div class="link_left">
              <div>on</div>
              <div>Bandcamp</div>
            </div>
            <div class="link_right">
              <%= render file: svg_path('svg/icon_user_bandcamp.svg') %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.instagram.present? %>
        <li>
          <a href="https://instagram.com/<%= @profile.instagram %>" rel="nofollow">
            <div class="link_left">
              <div>on</div>
              <div>Instagram</div>
            </div>
            <div class="link_right">
              <%= render file: svg_path('svg/icon_user_instagram.svg') %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @profile.spotify.present? %>
        <li>
          <a href="https://open.spotify.com/artist/<%= @profile.spotify %>" rel="nofollow">
            <div class="link_left">
              <div>on</div>
              <div>Spotify</div>
            </div>
            <div class="link_right">
              <%= render file: svg_path('svg/icon_user_spotify.svg') %>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>


  <div id="user_stats_area">
      <h2 class="area_heading">
        Stats and Stuff
      </h2>
      <div class="area_content">
        <div class="time_and_date">
          <div>
            <div>
              Last seen
            </div>
            <div>
              <%= local_time_ago(@user.last_login_at || @user.created_at)%></strong>
            </div>
          </div>
        </div>
        <% if @user.listens_count > 0 %>
        <div class="tracks_and_listens">
          <div>
            <div>
              Uploaded
            </div>
            <div>
              <%= pluralize @user.assets_count, 'track' %>
            </div>
          </div>
          <div>
            <div>
              Listens
            </div>
            <div>
              <%= @user.listens_count %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>

  <% if moderator? %>
  <div id="user_mod_stats_area">
      <h2 class="area_heading">
        ppsshhhhhh....
      </h2>
      <div class="area_content">
        <div class="user_ip">
          <div>
            <div>IP Address</div>
            <div><%= @user.current_login_ip %></div>
          </div>
          <div>
            <div>Other with the same IP:</div>
            <div>
              <% if @other_users_with_same_ip.present? %>
              <%= @other_users_with_same_ip.collect{|u| link_to u, '/#{u}'}.join(', ').html_safe %>
              <% end %>
            </div>
          </div>
        </div>

      <div class="user_agent">
        <div>User agent</div>
        <div><%= @profile.user_agent %></div>
      </div>
    </div>
  </div>
  <% end %>

  <% if authorized? %>
  <div id="user_actions_area">
  <% end %>
    <% if authorized? %>
      <%= link_to edit_user_path(@user), class: "edit_profile #{ admin? ? 'admin' : ''}" do %>
        Edit Profile
      <% end %>
    <% end %>
    <% if moderator? %>
    <%= link_to "Delete User", user_path(@user, login: @user.login), method: :delete, class: "edit_profile--delete admin",
      data: { confirm: "Are you absolutely sure? This will delete the account of #{@user.login} PERMANENTLY, including all tracks, play history and comments."} %>
    <% end %>

  <% if authorized? %>
  </div>
  <% end %>

</div>