<% render(:layout => 'user') do %>

	<div id="user_home">
	    <% if authorized? %>
  	    <div class="additional_options">
  		    <div class="button_wrapper">
  		        <%= link_to " ", new_user_playlist_path(@user), :id => 'create_new_playlist', :class => 'button' %>
  		    </div>
          <% if @user.playlists.public.size > 2 %>
  		      <div class="button_wrapper">
  		          <%= link_to " ", sort_user_playlists_path(@user), :id => 'change_playlist_order', :class => 'button'  %>
  		      </div>
  		    <% end %>
  		  </div>
		  <% end %>
		
		<% if @user.has_public_playlists? %>
			<h2 id="user_latest_playlists">Latest Playlists by <%=@user.name%></h2>
		    <%= render :partial => 'shared/carousel' %>
			
			<div class="clear"> </div>
		<% end %>
	
	
		<% content_for :left do %>
        <%= render :partial => 'latest' if @user.assets_count > 0 %>

    	  <%= render :partial => 'favorites' if present?(@favorites) %>
    
        <%= render :partial => 'follows' if present?(@mostly_listens_to) or present?(@follows)  %>
    	  
    	  <%= render :partial => 'listens' if @listens.size > 0 %>	
    		
    		<%= image_tag @user.track_plays_graph if authorized? %>
    	  
    	  <%= render :partial => 'track_plays' if authorized? && @user.listens_count > 0 %>
	  <% end %>
	  
	  <% content_for :right do %>
    	  <%= render :partial => 'popular' if present?(@popular_tracks) && (setting('most_popular', @user) == 'true')%>
    	 
    	  <% cache(cache_digest(@comments)) do %>
    	    <%= render :partial => 'shared/comments' if @comments.size > 0 %>
	      <% end %>
	  <% end %>	
		
	</div>
	
<% end %>