<% render(:layout => 'user') do %>

	<div id="user_home">
	    <div class="additional_options">
		    <div class="button_wrapper">
		    <%= link_to "create new playlist", new_user_playlist_path(@user), :id => 'add_playlist_button', :class => 'add button' if authorized? %>
		    </div>
		    
		    <div class="button_wrapper">
		    <%= link_to "change playlist order", sort_user_playlists_path(@user), :id => 'sort_playlist_button', :class => 'sort button' if authorized? && @user.playlists.public.size > 1  %>
		    </div>
		</div>
		
		<% if @user.has_public_playlists? %>
			<h2 id="user_latest_playlists">Latest Playlists by <%=@user.name%></h2>
		  <%= render :partial => 'shared/carousel' %>
			<div class="clear"> </div>
		<% end %>
	
		<% content_for :left do %>
        	<%= render :partial => 'latest' if @user.assets_count > 0 %>

    	    <%= render :partial => 'favorites' if present?(@favorites) %>
    
            <%= render :partial => 'mostly_listens_to' if @mostly_listens_to.size > 2 %>
    	    <%= render :partial => 'listens' if @listens.size > 0 %>	
    		<%= image_tag @user.track_plays_graph if authorized? %>
    	    <%= render :partial => 'track_plays' if authorized? && @user.listens_count > 0 %>
	    <% end %>
	  
	  <% content_for :right do %>
    	    <%= render :partial => 'popular' if @popular_tracks && setting('most_popular', @user)%>
    	    <%= render :partial => 'shared/comments' if @comments.size > 0 %>
	  <% end %>	
		
		
	</div>
	
<% end %>