<div id="user_header">

  <%= image_tag(avatar_or_placeholder_for(@user, :large)) %>

  <div class="user_name_and_location">
    <h1 class="user_name"><%= @user.name %></h1>
    <div class="user_location"><%= user_location(@user) %></div>
  </div>

  <%= follow_toggle(@user) %>

  <% if authorized? %>
    <%= link_to edit_user_path(@user), :class => "edit_profile #{ admin? ? 'admin' : ''}" do %>
      edit profile
    <% end %>
  <% end %>
</div>

<div id="user_home">
    <div id="user_playlists_area">
      <% if authorized? %>
  	    <div class="user_playlists_buttons">
  			    <%= link_to new_user_playlist_path(@user), :id => 'create_new_playlist', :class => 'button' do %>
  			      create new playlist
  			    <% end %>
          <% if @user.playlists.only_public.size > 2 %>
  		          <%= link_to image_tag("icons/arrows.png") + "change playlist order", sort_user_playlists_path(@user.login), :id => 'change_playlist_order', :class => 'button'  %>
  		    <% end %>
  		  </div>
  	  <% end %>

  		<div class="user_playlists">
      <% if @user.has_public_playlists? %>
        <h2 id="user_latest_playlists">Playlists</h2>
        <ul class="playlists">
          <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
    	  </ul>
      <% end %>
      </div>
    </div>

  <div id="user_latest_area">
    <%= render :partial => 'latest' if @assets.size > 0 %>
  </div>
  <div id="user_favorites_area">
    <%= render :partial => 'favorites' if @favorites.present? %>
  </div>
  <div id="user_listens_area">
    <%= render :partial => 'listens' unless @listens.empty? %>
  </div>
  <div id="user_plays_area">
    <%# image_tag @user.track_plays_graph if authorized? %>
  	<%= render :partial => 'track_plays' if authorized? && @user.listens_count > 0 %>
  </div>

  <%= render :partial => 'popular' if @popular_tracks.present? && @user.has_setting?('most_popular', 'true') %>

  <div id="user_comments_area">
    <%= render :partial => 'shared/comments' if @comments.present? %>
  </div>

  <div id="user_card_area">
    <%= image_tag(avatar_or_placeholder_for(@user, :original)) %>
    <div class="user_card_content">
      <div class="user_card_bio">
  	    <% if @user.try(:bio) %>
  	        <%= markdown(@user.bio) %>
  	    <% else %>
  	        <%= @user.name %> doesn't have anything to say, unfortunately...
        <% end %>
    	</div>
      <hr>
      <div class="user_card_links">
        <p>
        	<%= website_for_simple(@user).html_safe if @user.website.present? %>
        </p>
        <p>
          <a target="_blank" href="http://twitter.com/<%= @user.twitter %>">twitter.com/<%= @user.twitter %></a>
        </p>
        <p>
          <a target="_blank" href="http://<%= @user.itunes %>"><%= @user.itunes %></a>
        </p>
      </div>
      <hr>
      <div class="user_card_stats">
        <p>
          Member since <strong><%= @user.created_at.to_date.to_s :long %></strong>.
        </p>
        <p>
          Last seen <strong><%= local_time_ago(@user.last_seen_at || @user.created_at)%></strong>.
        </p>

        <% if @user.listens_count > 0 %>
        <p>
          <strong><%= pluralize @user.assets_count, 'track' %></strong> uploaded.
        </p>
        <p>
          <strong><%= @user.listens_count %></strong> total listens.
        </p>
          <strong>~<%= @user.bandwidth_used %>GB</strong> transferred.
        </p>
        <% end %>
        <% if moderator? %>
        <p>
          Current IP: <%= @user.current_login_ip %> <%= flag_for(@user.listens.first&.country) %><br/>
          <small>User Agent: <%= @user.browser %></small>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

