<% render(:layout => 'user') do %>

	<div id="user_home">
	  	  
		<%= link_to "new playlist", new_user_playlist_path(@user), :id => 'add_playlist_button', :class => 'add button' if authorized? %>
		
		<% if @user.has_public_playlists? %>
			<h2>Latest Playlists by <%=@user.name%></h2>
		  <%= render :partial => 'shared/carousel' %>
			<div class="clear"> </div>
		<% end %>
	
		<% content_for :left do %>
	    <%= render :partial => 'latest' if @user.assets_count > 0 %>
	    <%= render :partial => 'listens' if @listens.size > 0 %>	
	
	  <% end %>
	  
	  <% content_for :right do %>
	    <%= render :partial => 'shared/comments' if @user.comments.size > 0 %>
	    <%= image_tag @user.track_plays_graph if authorized? %>
	    <%= render :partial => 'track_plays' if authorized? && @user.listens_count > 0 %>

	  <% end %>	
		
		
	</div>
	
<% end %>