<div id="user_header">
  <%= link_to(image_tag(@user.avatar(:large), :class => 'small_avatar', :alt => "#{@user.name}"), profile_path(@user), :class => 'image', :id=>'alonetoner', :title => "#{@user.name}'s profile - all about #{@user.name}") %>

  <h1 class="user"><%= @user.name %></h1>
  <div class="user_location"><%= user_location(@user) %></div>

  <%= follow_toggle(@user) %>

  <% if authorized? %>
    <%= link_to edit_user_path(@user), :class => "edit_profile #{ admin? ? 'admin' : ''}" do %>
      edit
    <% end %>
  <% end %>
</div>

<div id="user_home">
    <div id="user_playlists_area">
      <% if authorized? %>
  	    <div class="user_playlists_buttons">
  			    <%= link_to new_user_playlist_path(@user), :id => 'create_new_playlist', :class => 'button' do %>
  			      create new playlist
  			    <% end %>
          <% if @user.playlists.only_public.size > 2 %>
  		          <%= link_to image_tag("icons/arrows.png") + "change playlist order", sort_user_playlists_path(@user.login), :id => 'change_playlist_order', :class => 'button'  %>
  		    <% end %>
  		  </div>
  	  <% end %>

  		<div class="user_playlists">
      <% if @user.has_public_playlists? %>
        <h2 id="user_latest_playlists">Playlists</h2>
        <ul>
          <%= render partial: 'shared/playlist_white' %>
        </ul>
    	<% end %>
      </div>
    </div>

  <div id="user_latest_area">
    <%= render :partial => 'latest' if @assets.size > 0 %>
  </div>
  <div id="user_favorites_area">
    <%= render :partial => 'favorites' if @favorites.present? %>
  </div>
  <div id="user_listens_area">
    <%= render :partial => 'listens' unless @listens.empty? %>
  </div>
  <div id="user_plays_area">
    <%# image_tag @user.track_plays_graph if authorized? %>
  	<%= render :partial => 'track_plays' if authorized? && @user.listens_count > 0 %>
  </div>

  <%= render :partial => 'popular' if @popular_tracks.present? && @user.has_setting?('most_popular', 'true') %>
  <div id="user_comments_area">
    <%= render :partial => 'shared/comments' if @comments.present? %>
  </div>

  <div id="user_card_area">

    <%= image_tag(@user.avatar(:original)) %>

  	<p>
	    <% if @user.try(:bio) %>
	        <%= markdown(@user.bio) %>
	    <% else %>
	        <%= @user.name %> doesn't have anything to say, unfortunately...
      <% end %>
  	</p>

    <p>
  	<%= website_for(@user).html_safe if @user.website.present? %>
    </p>

    <p>
    Last seen <%= local_time_ago(@user.last_seen_at || @user.created_at)%>
    </p>

    <% if @user.listens_count > 0 %>
      <p>
		  People have listened to <%= @user.name %>'s <strong><%= pluralize @user.assets_count, 'track' %></strong> about <strong><%= @user.listens_count %> </strong>times, about <strong>~<%= @user.bandwidth_used %>GB</strong> of transfer.
      </p>
		<% end %>

    <p>
      <%= @user.name%> joined alonetone on <strong><%= @user.created_at.to_date.to_s :long %></strong>
    </p>

    <% if moderator? %>
    <p>
      Current IP: <%= @user.current_login_ip %> <%= flag_for(@user.listens.first&.country) %><br/>
      <small>User Agent: <%= @user.browser %></small>
    </p>
    <% end %>

  </div>
</div>

