<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%# render :layout => 'user' do %>

<h2 class="stats">Click on a track for detail. Click on a column header to sort</h2>

<div class="static_content" id="stats">
  <table id="statstable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Listens</th>
        <th>Downloads</th>
        <th>Favorites</th>
        <th>Comments</th>
        <th>Plays/Week</th>
        <th>Uploaded</th>
      </tr>
    </thead>

    <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.listens_count %></td>
        <td><%= track.listens.downloads.count %></td>
        <td><%= track.favorites_count %></td>
        <td><%= track.comments_count %></td>
        <td><%= track.listens_per_week %></td>
        <td><%= track.created_at.to_date.to_s %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div id='user_stats_charts'>
  <div id='song_favorites_count' class='static_content'>
    <h3>Favorites</h3>
    <p><%= column_chart Asset.group(:title).sum(:favorites_count), height: '200px' %></p>
  </div>

  <div id='song_comments_count' class='static_content'>
    <h3>Comments</h3>
    <p><%= column_chart Asset.group(:title).sum(:comments_count), height: '200px' %></p>
  </div>

  <div id='song_plays_count' class='static_content'>
    <h3>Weekly Plays</h3>
    <p><%= column_chart Asset.group(:title).sum(:listens_per_week), height: '200px' %></p>
  </div>

  <div id='song_listens_count' class='static_content'>
    <h3>Total Plays</h3>
    <p><%= column_chart Asset.group(:title).sum(:listens_count), height: '200px' %></p>
  </div>

  <div id='song_uploads_count' class='static_content'>
    <h3>Uploads</h3>
    <p><%= line_chart Asset.group_by_day(:created_at).count, height: '200px' %></p>
  </div>

  <div id='song_average_bitrate' class='static_content'>
    <h3>Average Bitrate</h3>
    <p><%= pie_chart Asset.group(:bitrate).count, height: '200px' %></p>
  </div>
</div>

<%# end %>
