<% content_tag_for :div, asset, :class=> 'list_item clearfix result' do %>
    <div class="clearfix" style="float:right;">
        <%= render :partial => 'facebook_accounts/share', :object => asset %>
    </div>
    <fb:mp3 src="<%= formatted_user_track_url(asset.user, asset, :mp3, :referer=>'facebook', :canvas => false)%>" title="<%= asset.name %>" artist="<%= asset.user.name %>" />
    <div class="clearfix" style="height:30px;padding:10px 0px;">

     </div>

     <% if @show_user %>
        <%= render :partial => 'shared/tiny_user', :object => asset.user %>
    <% end %>
    
    <% if @show_details %>
        <%= asset.description if asset.description %>
    <% end %>
<% end %>