<div class="track-content" data-controller="big-play <%= "single-playback" unless @playlist %> " data-single-playback-id="<%= @asset.id %>"  data-big-play-waveform="<%= @asset.audio_feature&.waveform&.join(', ') %>">

  <%= render partial: 'assets/big_player' %>

  <div class= "edit-links-and-favorite">
    <div class="edit-links">
      <% if authorized? %>
        <%= link_to "Delete", user_track_path(@asset.user, @asset), method: 'delete', class: 'edit-link',
          data: { confirm: 'Are you sure? This will delete the song permanently, including all play history and comments.'},
          title: 'delete this track permanently ' %>
        <%= link_to("Edit", edit_user_track_path(@user, @asset), class: "edit-link") %>
      <% end %>

      <% if moderator? %>
        <% if @asset.is_spam? %>
          <%= link_to "Unspam", unspam_admin_asset_path(@asset.id), method: :put, class: "edit-link" %>
        <% else %>
          <%= link_to "Spam", spam_admin_asset_path(@asset.id), method: :put, class: "edit-link" %>
        <% end %>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="track-favorite">
      <%= link_to toggle_favorite_path(asset_id: @asset.id), remote: true, class: 'add_to_favorites',
          data: {controller: 'favorite', action: 'favorite#toggle' } do %>
          <%= render file: svg_path('svg/animation_heart.svg') %>
      <% end %>
      </div>
    <% end %>

    <div class="download-link">
      <%= link_to '', media_url(@asset) %>
    </div>
 </div>

  <div class="track-post">
    <h1><%= @asset.name %></h1>
    <% unless @playlist %>
      <h3><%= link_to @asset.user.display_name, user_home_path(@asset.user) %></h3>
    <% end %>
    <%= markdown_with_html(@asset.description) %>

    <div class="track-stats">
      <div class="created">Uploaded <%= local_time_ago(@asset.created_at) %>.</div>
      <div class="plays"><%= @asset.listens_count %>
        <i class="icon_plays">
          <%= render file: svg_path('svg/icon_play_inverted.svg') %>
        </i>
      </div>
      <div class="favorite_total"><%= @asset.favorites_count %>
        <i class="icon_favs">
          <%= render file: svg_path('svg/icon_favorite_circled.svg') %>
        </i>
      </div>
    </div>

    <div>
      <%= markdown(@asset.credits) if @asset.credits.present? %>
    </div>
  </div>

  <%= render partial: 'assets/comment_white', locals: { asset: @asset }%>
  <%= render partial: 'shared/comments' if @comments.present? %>

  <% if @listeners.present? %>
  <div class="track-social">
  <h3>Recent Listeners</h3>
    <div class='recent-listeners'>
    <%= render partial: 'shared/users_to_edge', locals: {users: @listeners } %>
    </div>
  </div>
  <% end %>

  <% if @favoriters.present? %>
  <div class="track-social">
  <h3>Favorited By</h3>
    <div class='favoriters'>
    <%= render partial: 'shared/users_to_edge', locals: {users: @favoriters } %>
    </div>
  </div>
  <% end %>

</div>
