<div class="blank_slate" data-controller="blank-slate" data-action="resize@window->blank-slate#resize">
  <div class="left">
    <div class="blank_slate_illustration <%= name %>">
    </div>
    <div class="contributor_name mobile_only">
      <%= name %>
    </div>
    <div class="contributor_title mobile_only">
      <%= role %>
    </div>
  </div>
  <div class="right">
    <div class="blank_slate_text">
      <%= yield %>
      <div class="contributor_name">
        <%= name %>
      </div>
      <div class="contributor_title">
        <%= role %>
      </div>
    </div>
  </div>
</div>