<% div_for comment, :class => (cycle('even', 'odd')) do %>
  
  <div class="comment_user">
    	<% if comment.commenter %>
          <%= user_image_link(comment.commenter, :small)%>
    		<% else %>
    			<%= image_tag User.dummy_pic(:small)%>
    	<% end %>
    	<% if comment.private %>
    	    <div class="private_comment">
    	    </div>
    	<% end %>
   
	  <% if !@single_track %>
	  <div class="comment_about">about <%= link_for_comment(comment) %></div>
	 <% end %>
	     <span class="comment_user_text">
    	<%= comment.commenter ? (link_to (h comment.commenter.name), user_home_path(comment.commenter)) : 'Guest' %>
    	said <%= time_ago_in_words(comment.created_at) %> ago
  	</span>
	 
	<% if authorized_for_comment(comment) %>
		<%= link_to 'Delete', comment_path(comment), :class=> 'delete button', :confirm => 'Are you sure you want to mark this comment as spam and delete it?', :method => :delete %>
	<% end %>
	</div>
	<div class="comment_body">

		<%= comment.body %>
	</div>
	<div class="clear">
	 
	</div>
<% end if comment && (!comment.private? || authorized_for_comment(comment))%>