<% div_for comment, :class => (cycle('even', 'odd')) do %>
  
  <div class="comment_user">
  	<% if comment.commenter %>
  			<%= image_tag comment.commenter.avatar(:small) %><br/>
  		<% else %>
  			<%= image_tag User.dummy_pic(:small)%><br/>
  	<% end %>
  	<%= comment.commenter ? (link_to (h comment.commenter.name), user_home_path(comment.commenter)) : 'Guest' %>
	
  	<span class="comment_date">said about<span class="comment_about"><%= link_to h(comment.commentable.name), user_track_path(comment.commentable.user,comment.commentable) %></span><br/>
	</div>
	<p class="comment_body">
		<%=h comment.body %>
	</p>
	
	<% if admin? %>
		<%= link_to 'Delete', comment_path(comment), :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<div class="clear">
	 
	</div>
<% end if comment %>