<% div_for comment, :class => (cycle('even', 'odd')) do %>
  
  <div class="comment_user">
    	<% if comment.commenter %>
          <%= user_image_link(comment.commenter, :small)%>
    		<% else %>
    			<%= image_tag User.dummy_pic(:small)%>
    	<% end %>
   
	  <% if !@single_track %>
	  <div class="comment_about">about <%= link_to h(comment.commentable.name), user_track_path(comment.commentable.user,comment.commentable) %></div>
	 <% end %>
	     <span class="comment_user_text">
    	<%= comment.commenter ? (link_to (h comment.commenter.name), user_home_path(comment.commenter)) : 'Guest' %>
    	said <%= time_ago_in_words(comment.created_at) %> ago
  	</span>
	 
	<% if admin? %>
		<div class="delete"><%= link_to 'Delete', comment_path(comment), :confirm => 'Are you sure?', :method => :delete %></div>
	<% end %>
	</div>
	<div class="comment_body">

		<%= comment.body %>
	</div>
	<div class="clear">
	 
	</div>
<% end if comment %>