<div class="footer_column_1">


  <div class="footer_button_group">

    <%= link_to '/radio/popular' do %>
      <span class="sprites-footer-radio"></span>
    <% end %>
    <%= link_to "alonetone radio", '/radio/popular', :class => 'footer_button_label' %>
  </div>

  <div class="footer_button_group">

    <%= link_to about_path(:howto) do %>
      <span class="sprites-footer-help"></span>
    <% end %>
    <%= link_to "alonetone help", about_path(:howto), :class => 'footer_button_label' %>

  </div>

</div>

<div class="footer_column_2">

  <div class="footer_column_2_left">
    <h3 class="footer-column-header">more information</h3>
      <div><%= link_to "About", "/about"%></div>
      <div><%= link_to "Press / Contact", "/about/press"%></div>
      <div><%= link_to "Stats", "/about/stats"%></div>

  </div>
  <div class="footer_column_2_right">
    <h3 class="footer-column-header">other places to find alonetone</h3>
     <div>
        <%= link_to 'https://twitter.com/alonetone' do %>
          <span class="footer_orange_text">@alonetone</span> on Twitter
        <% end %>
     </div>
     <div>

        <%= link_to 'https://phobos.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=275623958' do %>
          <span class="footer_orange_text">alonetone</span> on iTunes
        <% end %>

     </div>
  </div>

  <div class="footer_column_2_bottom">
    <h3 class="footer-column-header">alonetoners online</h3>
    <ul>
     <li>
       <%= User.currently_online.collect do |user| %>
         <% link_to user.name, user_home_path(user.login) %>
       <% end.join(', ').html_safe %>
     </li>
    </ul>
  </div>

</div>

<div class="footer_column_3">

  <h3 class="footer-column-header">from the blog</h3>
  <ul>
    <li>
      <%= link_to "#{truncate(@latest_update.try(:title), :length => 50, :escape => false)}", blog_home_path, :id=>'updates_link', :class=> (new_to_user?(@latest_update) ? 'new' : '') %>
    </li>
  </ul>

    <h3 class="footer-column-header">latest forum topics</h3>
  <ul>
    <% Topic.for_footer.each do |topic| %>
    <li class="footer-forum-topic">
      <%= link_to topic.title, forum_topic_path(topic.forum, topic) %> <br>
      <span>by </span><span class="author_name"><%= link_to topic.recent_post.author_name, "/#{topic.recent_post.try(:user).try(:login)}" %></span>
    </li>
    <% end %>
  </ul>


</div>
