<div class="footer_column_1">
  <%= link_to ' ', '/radio/popular', :class => 'radio_button'%>
  <%= link_to ' ', about_path(:howto), :class => 'halp_button'%>
</div>

<div class="footer_column_2">
  <ul>
    <li><%= link_to "About", "/about"%></li>    
    <li><%= link_to "Press/Contact", "/about/press"%></li>
    <li><%= link_to "Stats", "/about/stats"%></li>
    <li><%= link_to "Donate!", "/about/donate" %></li>
  </ul>
</div>

<div class="footer_column_3">

  <div class="footer-column-header">
    other places to find alonetone
  </div>    

  <ul>
     <li><%= link_to 'Alonetone Chat Room', "http://#{Alonetone.campfire_url}"%><br/></li>
     <li><%= link_to '@alonetone on Twitter', 'http://twitter.com/alonetone'%></li>
     <li><%= link_to 'alonetone on iTunes','http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=275623958' %></li>
   </ul>   

</div>

<div class="footer_column_4">
  <div class="footer-column-header">
    from the blog
  </div>
  <ul>
    <li>
      <%= link_to "#{truncate(@latest_update && @latest_update.title, :length => 50)}", blog_home_path, :id=>'updates_link', :class=> (new_to_user?(@latest_update) ? 'new' : '') %>
    </li>
  </ul>
  
  <div class="footer-column-header">
    alonetoners online
  </div>

  <ul>
    <li>
      <% User.currently_online.each do |user| %>
        <%= link_to user.name, user_home_path(user.login) %> 
      <% end %>
    </li>
  </ul>
</div>