<div class="footer_inner">
  <div class="footer_column">
     <h3 class="footer_column_header">alonetoners online</h3>
     <ul>
      <li>
        <%= User.currently_online.collect do |user| %>
          <% link_to user.name, main_app.user_home_path(user.login) %>
        <% end.join(', ').html_safe %>
      </li>
     </ul>
  </div>
  <div class="footer_column">
    <h3 class="footer_column_header">Browse</h3>
    <div><%= link_to "All Artists", "/users"%></div>
    <div><%= link_to "Recent Playlists", "/playlists"%></div>
    <div><%= link_to "Recent Tracks", "/radio/latest"%></div>
    <div><%= link_to "Popular Tracks", "/radio/popular"%></div>
  </div>

  <div class="footer_column">
    <h3 class="footer_column_header">More</h3>
    <% if logged_in? %>
    <div><%= link_to "Toggle Theme", "/toggle_theme", data: { turbolinks: 'false' } %></div>
    <% end %>
    <div><%= link_to "About", "/about"%></div>
    <div><%= link_to "Stats", "/about/stats"%></div>
    <div><%= link_to "Press", "/about/press"%></div>
    <div><%= link_to "Support", "mailto:support@alonetone.com"%></div>
  </div>

  <% if moderator? %>
  <div class="footer_column">
    <h3 class="footer_column_header">Admin</h3>
    <div><%= link_to "Secretz", "/secretz" %></div>
    <div><%= link_to "Spam Stats", "https://akismet.com/web/1.0/user-stats.php?blog=alonetone.com&api_key=#{Alonetone.rakismet_key}"%></div>
    <div><%= link_to "Job Status", "/sidekiq" %></div>
  </div>
  <% end %>

</div>