<%= javascript_tag do %>
  window.username = '<%= logged_in? ? current_user.login : "Guest" %>'; 
  window.userIsAdmin = <%= moderator? ? true : false %>;
  window.userFavorites = <%= (logged_in? ? current_user.favorite_asset_ids : [] ).to_json %>;
  window.showPlayCounts = <%= logged_in? && current_user.settings && (current_user.settings[:display_listen_count] == "true") ? true : false %>;
  window.userPersonalization = '<div class="comment_as">' + 
     <% if logged_in? %>
        '<%= image_tag current_user.avatar(:tiny) %>Say something, <%= escape_javascript(current_user.name)%>:'+
     <% else %>
        '<%= image_tag 'icons/user.png' %> Say something as a guest or <%= link_to 'login', login_path, :title => 'login to alonetone' %>:'+
     <% end %> 
  '</div>';
     
<% end %>