<div id="top_bar_left">   
    <%= link_to ' ', '/radio/popular', :id => 'radio_button'%>
    <%= link_to ' ', about_path, :id => 'about_button'%>
    <%= link_to ' ', about_path(:howto), :id => 'halp_button'%>

    <% if @sudo %>
      <span class="important">Sudo'd as <%= current_user.name %>. <%= link_to 'return to admin account', sudo_user_path(User.find(:first)) %></span>
    <% end %>
</div>
<div id="top_bar_right">
    <% if logged_in? %>
      <%= link_to image_tag(current_user.avatar(:tiny)), profile_path(current_user), :id => 'profile_link'%>      
      <%= link_to ' ',logout_path, :id => 'logout_button' %>
    <% else %>
      <%= link_to ' ',login_path, :id => 'login_button' %>
    <% end %>
    <%= render :partial => 'shared/search'%>

</div>