<%= div_for(user, :class => 'user-index') do %>

  
  <%= link_to(' ', user_home_path(user), :class => 'overlay', :title => " #{user.name}
 #{user.assets_count > 0 ? pluralize(user.assets_count,'uploaded tracks') : ''} 
 Joined alonetone #{user.created_at.to_date.to_s(:long)}
 #{user_location(user)}") %>
  <%= image_tag(user.avatar(:large), :class => 'cover') %>

	<%= link_to user.name, user_home_path(user.login), :class => (user.admin? ? "admin name" : 'name') %> 
	
	
	<% case @sort 
	   when 'on_twitter' %>
     	<%= link_to '','http://twitter.com/'+user.twitter, :class => 'twitter'%>
	<% end %>
	
	<span class="details" style="display:none;">
	
 		<%= link_to(pluralize(user.assets_count, 'track'), user_tracks_path(user)) if user.assets_count > 0 %><br/>
 		<%= link_to(pluralize(user.playlists_count, 'playlist'), user_playlists_path(user)) if user.playlists_count > 0 %>
			<% if admin? %>
				<%= link_to 'delete', user_path(user), :method => :delete, :confirm => "This will delete this user entirely, including all #{user.assets_count} tracks and #{user.playlists_count} playlists" %>
		<% end %>
	</span>
<% end %>