<div class="notice visit_us clearfix">
  <h1 class="notice">Other places to find alonetone</h1>
    <div class="chunk">
        <%= link_to image_tag('help/iTunes.png'),'http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=275623958' %><br/>
        <%= link_to 'alonetone on iTunes','http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewArtist?id=275623958' %>
    </div>
    <div class="chunk">
        <%= link_to image_tag('help/twitter.png'), 'http://twitter.com/alonetone' %><br/>
        <%= link_to 'Follow alonetone on twitter', 'http://twitter.com/alonetone'%><br/>
    </div>
    <div class="chunk">
        <%= link_to image_tag('alonetone_chat.png'), "http://#{Alonetone.campfire_url}" %><br/>
        <%= link_to 'Chat live with fellow alonetoners', "http://#{Alonetone.campfire_url}"%><br/>
    </div>
</div>
