<h1>Listing pics</h1>

<table>
  <tr>
    <th>Size</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Height</th>
    <th>Width</th>
    <th>Parent</th>
    <th>Thumbnail</th>
  </tr>

<% for pic in @pics %>
  <tr>
    <td><%= pic.size %></td>
    <td><%= pic.content_type %></td>
    <td><%= pic.filename %></td>
    <td><%= pic.height %></td>
    <td><%= pic.width %></td>
    <td><%= pic.parent_id %></td>
    <td><%= pic.thumbnail %></td>
    <td><%= link_to 'Show', pic %></td>
    <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
    <td><%= link_to 'Destroy', pic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pic', new_pic_path %>
