<h1>New pic</h1>

<%= error_messages_for :pic %>

<%= form_for(@pic) do |f| %>
  <p>
    <b>Size</b><br />
    <%= f.text_field :size %>
  </p>

  <p>
    <b>Content type</b><br />
    <%= f.text_field :content_type %>
  </p>

  <p>
    <b>Filename</b><br />
    <%= f.text_field :filename %>
  </p>

  <p>
    <b>Height</b><br />
    <%= f.text_field :height %>
  </p>

  <p>
    <b>Width</b><br />
    <%= f.text_field :width %>
  </p>

  <p>
    <b>Parent</b><br />
    <%= f.text_field :parent_id %>
  </p>

  <p>
    <b>Thumbnail</b><br />
    <%= f.text_field :thumbnail %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pics_path %>
