<p>
  <b>Size:</b>
  <%= @pic.size %>
</p>

<p>
  <b>Content type:</b>
  <%= @pic.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%= @pic.filename %>
</p>

<p>
  <b>Height:</b>
  <%= @pic.height %>
</p>

<p>
  <b>Width:</b>
  <%= @pic.width %>
</p>

<p>
  <b>Parent:</b>
  <%= @pic.parent_id %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @pic.thumbnail %>
</p>


<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
