<div id="static_header">
  <div class="title">
    %h1.static
      All about alonetone
  <div id="links">
    <ul class="links">
      <%= navigation_item "What is alonetone?", {controller: 'pages', action: 'index' }, title: 'about alonetone' %>
      <%= navigation_item "Press", {controller: 'pages', action: 'promo' }, title: 'press and promotional info' %>
      <%= navigation_item "Stats", {controller: 'pages', action: 'stats'}, added_class: 'contact', title: 'alonetone statistics' %>
      <%= navigation_item "Forums", forums_path, added_class: 'contact', title: 'forums' %>
      <%= navigation_item "Blog", blog_path, added_class: 'contact', title: 'Blog' %>
     </ul>
    <% yield :pagination %>
    </div>
  </div>
</div>