#static_header
  .title
    %h1.static
      All about alonetone
      = yield :static_h1
  #links
    %ul.links
      = user_nav_item "What is alonetone?", {:controller => 'pages', :action => 'index' } 
      = user_nav_item "Stats", {:controller => 'pages', :action => 'stats'}, :added_class => 'contact'
      = user_nav_item "Latest News",{:controller => 'updates', :action => 'index' }, :added_class => 'contact'
      = user_nav_item "User reports", {:controller => 'user_reports', :action => 'index'}, :added_class => 'contact'

- content_for :static do
  = yield
  