#static_header
  .title
    %h1.static
      All about alonetone
  #links
    %ul.links
      = user_nav_item "What is alonetone?", {:controller => 'pages', :action => 'index' }, :title => 'about alonetone'
      = user_nav_item "How do I?...", {:controller => 'pages', :action => 'howto' }, :title => 'get help with alonetone' 
      = user_nav_item "Stats", {:controller => 'pages', :action => 'stats'}, :added_class => 'contact', :title => 'alonetone statistics'
      = user_nav_item "Forums", forums_path, :added_class => 'contact', :title => 'forums'
      = user_nav_item "Latest News", updates_path, :added_class => 'contact', :title => 'latest news (blog)'
    = yield :pagination
- content_for :static do
  = yield
  