<div class="about-page">
  <div class="faq box">
    <h2 class="box static">
      What the heck is alonetone?
    </h2>
    <div class="static_content">
      <p>
        alonetone is a place for small label, DIY, bedroom and other musicians and bands to upload their music and freely share it on the internets.
      </p>
      <p>
        If you make music (and own the rights to it) then this site is built for you.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      So, it's a website for musicians?
    </h2>
    <div class="static_content">
      <p>
        Yup!
      </p>
      <p>
        There are all sorts of music making folks here - from rock bands to electronic musicians to trained classical artists to your guitar strumming next door neighbor.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I join and upload mp3s here?
    </h2>
    <div class="static_content">
      <p>
        We would be honored. <%= link_to 'Go sign up.', signup_path %>
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I upload my podcast or radio show?
    </h2>
    <div class="static_content">
      <p>
        We prefer that you don't. If you do, it might be removed without warning.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      I don't get it: Why alonetone?
    </h2>
    <div class="static_content">
      <p>
        There are plenty of websites for musicians to upload their music.  Why alonetone?
      </p>
      <p>
        Well, most of the 'free' services you'll run into elsewhere run ads, are funded by investors or owned by media conglomerates. In general, they are hoping making money off of your "content"...erm...music.
      </p>
      <p>
        Most music communities are overly obsessed with genres and popularity — we're not turned on by that! Time for something new, don't you think?
      </p>
      <p>
        alonetone was started to provide a non-commercial alternative. Something useful, something different, something that the musicians can feel like they own.
      </p>
      <p>
        Beyond that, we want to do it right. Clean, only the essentials. Not too dorked-out. Easy to get around.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Wow, no company! So who makes alonetone?
    </h2>
    <div class="static_content">
      <p>
        alonetone is conceived and built by <%= link_to 'Sudara', user_home_path('sudara') %>
      </p>
      <p>
        <%= link_to 'montgomeru', user_home_path('montgomeru') %> handles frontend coding.
      </p>
      <p>
        We get some regular design love from: <%= link_to 'Samo', user_home_path('smoofles') %>.
      </p>
      <p>
        After our initial launch in 2008 most features were inspired, recommended by, and build to please alonetoners who spoke up and helped by providing their valuable feedback in email conversations with Sudara or via <%= link_to 'the alonetone forums', forums_path %>
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      How long will it be free?
    </h2>
    <div class="static_content">
      <p>
        The basic ability to upload and share music without ads or payment will exist as long as alonetone exists.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I sell my music here?
    </h2>
    <div class="static_content">
      <p>
        Nope.
      </p>
      <p>
        alonetone is for people who want to give our music away, share it freely. There are many places where you can try and sell your tunes (<a href='http://bandcamp.com'>Bandcamp</a>) if you want to take a crack at it.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      So, I can upload my music and give it away?
    </h2>
    <div class="static_content">
      <p>
        Yeah, that's the most important bit, but there is more.
      </p>
      <p>
        Track who is listening to your music (and from where). Put your music on any website, and we handle all of the traffic. Upload it once here, use it wherever you want.
      </p>
      <p>
        Anywho, nothing to lose, so stop reading, take 45 seconds and <%= link_to 'sign up.', signup_path %>
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Isn't this costing you money? Are you bad at business?
    </h2>
    <div class="static_content">
      <p>
        There are some costs, primarily the storage and server costs, which are currently around $200 a month.
      </p>
      <p>
        I pay these out of pocket for a few reasons: I want to promote independent music and display the wonderful amazing fact that the music distribution model has changed. One average person can singlehandedly float hundreds of musicians, thousands of mp3s and hundreds of thousands of downloads. Incredible - it points to pretty crazy and amazing future world of music.
      </p>
      <p>
        Oh yeah, and with current industry turbulence, I want to make sure the average kid and professional has access to free online distribution. They deserve it, and it costs next to nothing.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      <a name="opensource">Is alonetone open source?</a>
    </h2>
    <div class="static_content">
      <p>
      Of course it is. We are open-minded to pull requests and contributions on
      <%= link_to 'github', 'http://github.com/sudara/alonetone' %>
      </p>
      <p>
      Thanks to the nice people at Browserstack and Skylight.io for providing their services free for open source projects.
      </p>
      <p>
      <br/>
      <%= link_to image_tag('promo/skylight.svg', height: '75px'), 'https://skylight.io' %><br/>
      <%= link_to image_tag('promo/browserstack.svg', height: '50px'), 'https://browserstack.com' %>
      </p>
    </div>
  </div>
</div>