<div class="about-page">
  <div class="faq box">
    <h2 class="box static">
      What the heck is alonetone?
    </h2>
    <div class="static_content">
      <p>
        alonetone is a place for small label, DIY, bedroom and other musicians and bands to upload and share their mp3s for free. We've been around since 2008.
      <p>
        If you make music (and own the rights to it) then this site is built for you.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I upload my podcast or radio show?
    </h2>
    <div class="static_content">
      <p>
        We prefer that you don't. If you do, it might be removed without warning.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      I don't get it. Why alonetone instead of XYZ?
    </h2>
    <div class="static_content">
      <p>
        Most of the 'free' services where you can host your music run ads, are funded by investors or flat out owned by media conglomerates. In general, they are hoping to make money off of your "content"...erm...music.
      </p>
      <p>
        Music communities tend to be overly obsessed with genres and popularity and contests — we're not into that!
      </p>
      <p>
        alonetone was started to provide a non-commercial alternative. Something useful, something different, something that the musicians can feel like they own.
      </p>
      <p>
        Beyond that, we want to do it right. Clean, only the essentials. Not too dorked-out. Easy to get around.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Wow, no company! So who makes alonetone?
    </h2>
    <div class="static_content">
      <p>
        alonetone is conceived and built by <%= link_to 'Sudara', user_home_path('sudara') %>
      </p>
      <p>
        <%= link_to 'montgomeru', user_home_path('montgomeru') %> handles frontend coding.
      </p>
      <p>
        We get some regular design love from: <%= link_to 'Samo', user_home_path('smoofles') %>.
      </p>
      <p>
        After our initial launch in 2008 most features were inspired, recommended by, and build to please alonetoners who spoke up and helped by providing their valuable feedback in chat and the forums.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      How long will it be free?
    </h2>
    <div class="static_content">
      <p>
        The basic ability to upload and share music without ads or payment will exist as long as alonetone exists.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I sell my music here?
    </h2>
    <div class="static_content">
      <p>
        Nope.
      </p>
      <p>
        alonetone is for people who want to give our music away, share it freely. There are many places where you can try and sell your tunes (<a href='http://bandcamp.com'>Bandcamp</a>) if you want to take a crack at it.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      So, I can upload my music and give it away?
    </h2>
    <div class="static_content">
      <p>
        Yeah, that's the most important bit, but there is more.
      </p>
      <p>
        Track who is listening to your music (and from where). Put your music on any website, and we handle all of the traffic. Upload it once here, use it wherever you want.
      </p>
      <p>
        Anywho, nothing to lose, so stop reading, take 45 seconds and <%= link_to 'sign up.', signup_path %>
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      <a name="opensource">Is alonetone open source?</a>
    </h2>
    <div class="static_content">
      <p>
      Yup! We are open-minded to contributions at
      <%= link_to 'github', 'http://github.com/sudara/alonetone' %>
      </p>
      <p>
      Thanks to the nice people at Browserstack and Skylight.io for providing their services free for open source projects.
      </p>
      <p>
      <br/>
      <%= link_to image_tag('promo/skylight.svg', height: '75px'), 'https://skylight.io' %><br/>
      <%= link_to image_tag('promo/browserstack.svg', height: '50px'), 'https://browserstack.com' %>
      </p>
    </div>
  </div>
</div>