<div class="faq box">
  <h2 class="box static">
    How do I download a song from alonetone?
  </h2>
  <div class="static_content">
    All songs on alonetone are downloadable. 
    <br/>
    <br/>
    The best way to download a song is to <strong>right-click</strong> the down arrow to the right of the song you want to download
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080610-fb2x4q43dspqppiekbcxsbiy9b.png" %>
    <br/>
    <br/>
    Right-click the down arrow and a menu will pop up. Choose "Save Link As..." or "Save Target As..." or "Download Linked File As" (depending if you have a mac or PC):
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080610-qpeish6ba6aqmkdqfi1355tcs6.png" %>
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080610-249cruh7in7s2kq23eeatkrn6.png" %>
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080610-811urm74rp33gaass6j8dsyusi.png" %>
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080610-thya3t31h2tg8jg4ardahk34nd.png" %>
  </div>
</div>
