<div class="faq box">
  <h2 class="box static">
    What the heck is alonetone?
  </h2>
  <div class="static_content">
    alonetone is a place for small label, do-it-yourself and everyday musicians and bands to upload their music
    and freely share it on the internets.
    <br/>
    <br/>
    If you make music (and own the rights to it) then
    this site is built for you.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    So, it's a website for musicians?
  </h2>
  <div class="static_content">
    Yup!
    <br/>
    <br/>
    There are all sorts of music making folks here - from rock bands to electronic musicians  
    to trained classical artists to your guitar strumming next door neighbor. 
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    Can I join and upload mp3s here?
  </h2>
  <div class="static_content">
    We would be honored.
    <%= link_to 'Go sign up.', signup_path %>
    <br/>
    <br/>
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    I don't get it: Why alonetone?
  </h2>
  <div class="static_content">
    You are right, there are plenty of websites for musicians to upload their music.  Why alonetone?
    <br/>
    <br/>
    Well, most of the 'free' services you'll run into elsewhere run ads, are funded
    by investors, owned by media conglomerates. In general, they are hoping making money off of your "content"...erm...music. 
    <br/>
    <br/>    
    Most music communities are overly obsessed with genres and popularity — we're  not turned on by that either! Time for something new, don't you think?
    <br/>
    <br/>
    alonetone was started to provide a non-commercial alternative. Something useful, something different, something that the musicians can feel like they own.
    <br/>
    <br/>
    Beyond that, we want to do it right. Clean, only the essentials. Not too dorked-out. Easy to get around.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    Wow, no company! So who makes alonetone?
  </h2>
  <div class="static_content">
    alonetone is conceived and built by 
    <%= link_to 'Sudara', user_home_path('sudara') %>
    <br/>
    <br/>
    The visual look and feel (layout, navigation, icons) is designed by
    <%= link_to 'Samo.', user_home_path('smoofles') %>.
    <br/>
    <br/>
    The forums are moderated by 
    <%= link_to 'Sudara', user_home_path('sudara') %>,
    <%= link_to 'Another Cultural Landslide', user_home_path('anotherculturallandslide') %> and
    <%= link_to 'Montgomeru', user_home_path('montgomeru') %>

    <br/>
    <br/>
    After our initial launch in 2008 most features were inspired, recommended by, and build to please alonetoners
    who spoke up and helped by providing their valuable feedback in email conversations with Sudara or
    via 
    <%= link_to 'the alonetone forums', forums_path %>
    <br/>
    <br/>
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    How long will it be free?  
  </h2>
  <div class="static_content">
    As long as alonetone exists.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    Can I sell my music here?
  </h2>
  <div class="static_content">
    Nope. 
    <br/>
    <br/>
    alonetone is for people who want to give our music away, share it freely. There are many places where you can try and sell your tunes (<a href='http://bandcamp.com'>Bandcamp</a>) if you want to take a crack at it.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    So, I can upload my music and give it away?
  </h2>
  <div class="static_content">
    Yeah, that's the most important bit, but there is more.
    <br/>
    <br/>
    Track who is listening to your music (and from where).
    Put your music on any website, and we handle all of the traffic. 
    Upload it once here, use it wherever you want.
    <br/>
    <br/>
    Anywho, nothing to lose, so stop reading, take 45 seconds and
    <%= link_to 'sign up.', signup_path %>
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    Isn't this costing you money? Are you bad at business?
  </h2>
  <div class="static_content">
    There are some costs, primarily the storage and server costs, which are currently around $200 a month. 
    <br/>
    <br/>
    I pay these out of pocket for a few reasons: I want to promote independent music and display the wonderful amazing fact that the music distribution model has changed. One average person can singlehandedly float hundreds of musicians, thousands of mp3s and hundreds of thousands of downloads. Incredible - it points to pretty crazy and amazing future world of music. 
    <br/>
    <br/>
    Oh yeah, and with current industry turbulence, I want to make sure the average kid and professional has access to free online distribution. They deserve it, and it costs next to nothing.
    <br />
    <br />
    If you want to contribute towards storage and server costs, you can <a href="/about/donate">donate one-time or monthly</a>.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    What if the site explodes in popularity?
  </h2>
  <div class="static_content">
    That would be a good problem to have, now wouldn't it!
    <br/>
    <br/>
    Seriously, though: In the event that the I can no longer afford to singlehandedly keep alonetone up, the popularity of the site and the sheer volume of users needed to produce the cost would likely ensure that it would be kept afloat by other like-minded do good-ers.
    <br/>
    <br/>
    I have no current intention to pollute the site with advertising. That would be a sad, sad day.
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    How is the site built?
  </h2>
  <div class="static_content">
    With love. 
    <br/>
    <br/>
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    No, I'm a programmer, dummy. Gimme the specs!
  </h2>
  <div class="static_content">
    alonetone is about 4000 lines of rails code and about the same amount of javascript and css.
    <br/>
  </div>
</div>
<div class="faq box">
  <h2 class="box static">
    Is the code open source?
  </h2>
  <div class="static_content">
    You bet your sweet programming butt it is. It is available via git at the
    <%= link_to 'alonetone git repository', 'http://github.com/sudara/alonetone' %>
    <br/>
    <br/>
    We are open-minded to pull requests and contributions. Go ahead and email me if you are interested.
  </div>
</div>
