
<% form_for @user_report, :url => user_reports_path do |f| %>
	
	<%= f.select 'category',{"something isn't working..." => :broken, "i have an idea..." => :creative, "i really really like..." => :praise}%>
	<%= f.text_area 'description', :rows => 10 %>
	<%= f.hidden_field 'params', params %>
	<%= f.hidden_field 'user_id' %>
	<div class="submit_wrapper">
	  <%= submit_tag 'send it off!' %> or <%= link_to 'close', '#', :id=> 'nevermind', :class => 'feedback' %>
	</div>
<% end %>