
<%= form_for @user_report, url: user_reports_path do |f| %>
	<%= f.select 'category',{"something isn'tworking:..." :broken, "i have anidea:..." :creative, "i really reallylike:..." :praise}%>
	<%= f.text_area 'description', rows: 10 %>
	<% params.each do |key, value|  %>
	    <%= hidden_field_tag "user_report[params][#{key}]", value %>
	<% end %>


	<div class="submit_wrapper">
	  <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
    <div class="small_spinner" style="display:none;"></div>
	  <%= submit_tag 'send it off!', i:'bug_form_sumbit' %> or <%= link_to 'close', '#', i: 'nevermind', class: 'feedback' %>
	</div>
<% end %>