
<%= form_for @user_report, :url => user_reports_path do |f| %>
	
	<%= f.select 'category',{"something isn't working..." => :broken, "i have an idea..." => :creative, "i really really like..." => :praise}%>
	<%= f.text_area 'description', :rows => 10 %>
	<% params.each do |key, value|  %>
	    <%= hidden_field_tag "user_report[params][#{key}]", value %>
	<% end %>


	<div class="submit_wrapper">
	  <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
    <div class="small_spinner" style="display:none;"></div>
	  <%= submit_tag 'send it off!', :id=>'bug_form_sumbit' %> or <%= link_to 'close', '#', :id=> 'nevermind', :class => 'feedback' %>
	</div>
<% end %>