<% div_for user_report, :class => (cycle('even', 'odd')) do %>
  
  <div class="comment_user">
    	<% if user_report.user %>
    			<%= image_tag user_report.user.avatar(:small) %>
    		<% else %>
    			<%= image_tag User.dummy_pic(:small)%>
    	<% end %>

	<div class="title">
    	<span class="box_title"><%= user_report.user ? (link_to (h user_report.user.name), user_home_path(user_report.user)) : 'Guest' %>
    	said <%= friendly_time_ago(user_report.created_at) %> </span>
  	</div>
	 
	<% if admin? %>
		<%= link_to 'Delete', user_report_path(user_report), :class => 'delete button', :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</div>
	<div class="comment_body">

    	<%= user_report.print %>
    	<% if admin? %>
    </div>	    
    	<%= link_to 'show tech details',"#report_details_#{user_report.id}", :class=> 'slide_open_href view_all'%>
    <div class="comment_body" id="report_details_<%=user_report.id %>" style="display:none;">
	    <%= debug(user_report.params) %>
	   <% end %>     
    </div>

	<div class="clear">
	 
	</div>
<% end %>