<h1>Editing user_reports</h1>

<%= error_messages_for :user_reports %>

<%= form_for(@user_reports) do |f| %>


  <p>
    <b>Category</b><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user_reports %> |
<%= link_to 'Back', user_reports_path %>
