<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title || 'Greenfield' %></title>

    <%= stylesheet_link_tag 'greenfield/application' %>
    
    <link href="//cloud.webtype.com/css/5303dc7a-1cec-4666-a21e-bd0a60169f3d.css" rel="stylesheet" type="text/css" />
    
    <meta content="index,follow" name="robots"/>
    
    <% if @post or @playlist %>
    <meta property="og:type"               content="music.<%= @playlist ? 'album' : 'song' %>" />
    <meta property="og:title"              content="<%= @page_title %>" />
    <meta property="og:description"        content="A<%= @playlist ? 'n album' : ' song'  %> by <%= @user.display_name %>" />
    <meta property="og:image"              content="<%= @playlist.alonetone_playlist.cover(:greenfield) if @playlist %>" />   
    <% end %> 
    
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="main-table-row">
      <main>
        <%= yield %>
      </main>
    </div>
    
    <div class="footer-table-row">
        <footer>
            <a href="/">Powered by ListenApp</a>
        </footer>
    </div>
    
    <%= javascript_include_tag "greenfield/application" %>
    <%= render :partial => 'shared/analytics' %>


    
    <script>
      $(document).ready(function() {
        $(".downloads-links").append( $('<li><a href="#"><i class="fa fa-download"></i>320k mp3</a></li>'));
        $(".downloads-links").append( $('<li><a href="#"><i class="fa fa-download"></i>256k mp3</a></li>'));
        $(".downloads-links").append( $('<li><a href="#"><i class="fa fa-download"></i>Apple Lossless</a></li>'));

        // var helpText = "";
        $(".downloads-links").find("li a").append($("<span class='action-text'>Download 128 MB</span>"));
        $(".external-links").find("li a").append($("<span class='action-text'>Listen / Buy</span>"));


      });
    </script>

  </body>
</html>
