<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title || 'alonetone, a damn fine home for musicians' %></title>

    <%= stylesheet_link_tag 'greenfield/application' %>

    <link rel="apple-touch-icon" href="/images/ipad_icon.png"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta content="index,follow" name="robots"/>
    <%= csrf_meta_tag %>

    <%= yield :css %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <footer>
      hosted by <a href="http://www.alonetone.com">alonetone</a>
    </footer>

    <%= javascript_include_tag "waveform" %>
    <%= javascript_include_tag "greenfield/application" %>
  </body>
</html>
