<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title || 'Greenfield' %></title>

    <%= stylesheet_link_tag 'greenfield/application' %>
    
    <link href="//cloud.webtype.com/css/5303dc7a-1cec-4666-a21e-bd0a60169f3d.css" rel="stylesheet" type="text/css" />
    
    <meta content="index,follow" name="robots"/>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
    
    <footer>
      <div class="footer_wrapper">
        <a href="http://www.alonetone.com">Powered by Greenfield</a>
      </div>
    </footer>
    
    <%= javascript_include_tag "greenfield/application" %>
  </body>
</html>
