<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Qwk1j0Uoh0LDdn9-XUPlEGRnB506ft9wg3klvTI-pOQ" />
    <title><%= @page_title || 'Greenfield' %></title>

    <%= stylesheet_link_tag 'greenfield/application' %>
    
    <link href="//cloud.webtype.com/css/5303dc7a-1cec-4666-a21e-bd0a60169f3d.css" rel="stylesheet" type="text/css" />
    
    <meta content="index,follow" name="robots"/>
    
    <% if @post or @playlist %>
    <meta property="og:type"               content="music.<%= @playlist ? 'album' : 'song' %>" />
    <meta property="og:title"              content="<%= @playlist.try(:title) || @post.title %>" />
    <meta property="og:description"        content="A<%= @playlist ? 'n album' : ' song'  %> by <%= @user.display_name %>" />
    <meta property="og:image"              content="<%= playlist_cover_url(@playlist, variant: :greenfield) if @playlist %>" />
    <% end %> 
    
    <%= csrf_meta_tag %>
  </head>

  <body class="<%= "has-details" if @playlist.try(:has_details?)%> <%= @playlist.try(:theme) %>">
    <div class="main-table-row">
      <main>
        <%= yield %>
      </main>
    </div>
    
    <div class="footer-table-row">
        <footer>
            <a href="/">Powered by ListenApp</a>
        </footer>
    </div>
    
    <%= javascript_include_tag "greenfield/application" %>
    <%= render :partial => 'layouts/greenfield/ga' %>

  </body>
</html>
