
  <div class="post update">
     <% unless @updates %>
       <div class="post-title">
         <div class="post-title-left">
         <%= link_to '&laquo;Previous entry'.html_safe, blog_path(@previous.permalink), :class => 'prev-next' if @previous %> 
         </div><!-- div end post-title-left -->
         <div class="post-title-mid">
         </div><!-- div end post-title-mid -->         
         <div class="post-title-right"><%= link_to 'Next entry&raquo;'.html_safe, blog_path(@next.permalink),:class => 'prev-next' if @next%></div><!-- div end post-title-right -->        
       </div><!-- div end post-title -->
      <% end %>

   <div class="post-body">
     <h1 class="h1post"><%= link_to update.title, blog_path(update.permalink)%></h1>
     <h2 class="h2post">- posted by <a href ="/sudara">Sudara</a> on <%= update.created_at.to_date.to_s(:long)%> - <%= update.comments.count %> comments -</h2>      
      <%= markdown(update.content) %>
   </div><!-- div end post-body -->  
          
  <div id="comment_<%= update.id %>" class="comment_new" style="display:none;">
    <div class="comment_form">
      <%= form_for update.comments.new, :id=>"comment_form_#{update.id}" do |f| %>
       <div class="comment_as">
         <% if logged_in? %>
            <%= image_tag current_user.avatar(:tiny) %>Say something, <%= current_user.name %>:
         <% else %>
            <%= image_tag 'icons/user.png' %> Say something as a guest or <%= link_to 'login', login_path %>:
         <% end %>
       </div>
       <%= f.text_area :body, :rows => 4, :cols => 60, :class=> 'double_trouble', :id=>"comment_body_#{update.id}"  %>
       <%= f.hidden_field :commentable_type, :value => 'Update', :id=> "comment_commentable_type_#{update.id}"%>
       <%= f.hidden_field :commentable_id, :value => update.id, :id=> "comment_commentable_id_#{update.id}"%>
 
       <div class="submit_wrapper">
          <div class="comment_waiting" >
            <div class="text"><!-- placeholder response text --></div>
          </div>
          <div class="small_spinner" style="display:none;"></div>
          <%= f.submit "make your comment", :class => 'comment_submit',:id => "submit_#{update.id}"%> 
        </div>
      <% end %>  
    </div>
  </div>
   <div class="post-bot">
     <div class="post-bot-left <%= update.comments.count > 0 ? 'with_arrow' : '' %> "></div><!-- div end post-bot-left -->

     <div class="post-bot-mid"></div><!-- div end post-bot-mid -->         
     <div class="post-bot-right"><%= link_to "","#comment_#{update.id}", :class => 'slide_open_href'%></div><!-- div end post-bot-right -->   
   </div><!-- div end post-body -->

   <div class="comment-all">
     <% update.comments.each do |comment| %>
        <%= render :partial => 'updates/comment', :locals => {:comment => comment } if comment.body_html.present? %>
    <% end %>
   </div><!-- div end comment-all -->
 </div><!-- div end post -->