<h1>Editing blog post</h1>

<%= error_messages_for :update %>

<%= form_for(@update, :url => blog_path(@update.permalink)) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content, :rows => 50, :cols => 100 %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', blog_path(@update.permalink) %> |
<%= link_to 'Back', blog_path %>
