<% content_tag :div, :id => ("asset_#{asset.unique_id}"), :class => 'asset ' + cycle('odd', 'even') do %>
	<div class="play-button button"><%= link_to_play asset, referer %></div>
	<div class="title">
	 <%= link_to track_name_for(asset,30), user_track_path(asset.user, asset.permalink), :class => 'track_link' %><br>
	 
	 <%= yield %> 
	 <span class='counter'> </span>
	 <span class='time'><%= asset.length%></span>
	  <span class="when" style="display:none;"><%= time_ago_in_words asset.created_at %> ago</span>
	</div>
	
	<div class="download-button button">
	  <%= link_to ' ', formatted_user_track_path(asset.user, asset.permalink, :mp3, :referer => 'download'), :class=> 'download button' %>
	</div>
	
<% end %>

<div class="more tabs" id="tabs_for_track_<%= asset.unique_id %>" style="display:none;">
    
    <ul>
      <li><%= link_to 'comment', "#comment_track_#{asset.unique_id}" %> </li>
      <li><%= link_to 'about', "#details_track_#{asset.unique_id}" %> </li>
      <li><%= link_to 'share', "#share_track_#{asset.unique_id}" %> </li>
    </ul>
  
  	<div id="details_track_<%= asset.unique_id %>">
	    <%= asset.description %><br/><br/>
      Bitrate: <%= asset.bitrate %><br/>
	    Length: <%= asset.length %><br/>
	    Listen count: <%= asset.listens_count %><br/>
	    <div class="home_page_link">
	      <%= link_to "view more", user_track_path(asset.user, asset.permalink), :class => 'view_more' %>
      </div>
	  </div>
	    
	  <div id="share_track_<%= asset.unique_id %>">
	    <%= render :partial => 'assets/share', :object => asset %>
	  </div>

    <div id="comment_track_<%= asset.unique_id %>">
      <%= render :partial => 'assets/comment', :object => asset %>
    </div>
	
  	<% if authorized_for(asset) %>
    	<div class="edit" style='display:none;'><%= link_to "edit", edit_user_track_path(asset.user, asset) %></div>
    <% else %>
  	<% end %>
	
  </div>