<%= cache([asset, logged_in?]) do %>
<div class="more tabs" style="display:none;">
    <ul>
	  <% if logged_in? || asset.guest_can_comment? %>
      <li><%= link_to 'comment', "#comment_track_#{asset.unique_id}" %> </li>
	  <% end %>
      <li><%= link_to 'about', "#details_track_#{asset.unique_id}" %> </li>
    </ul>

    <%= favorite_toggle(asset) %>
		<% if logged_in? || asset.guest_can_comment? %>
	    <div>
	        <%= render partial: 'assets/comment', locals: {asset: asset} %>
	    </div>
		<% end %>

  	<div id="details_track_<%= asset.unique_id %>">

        <div class="description_panel panel no_border">

            <div class='alonetoner'>
                <%= user_image_link(asset.user, variant: :small)%>
            </div>

            <div class="description">

                <div class='user_description'>
                  <%= markdown(awesome_truncate_with_read_more(asset, 300)) %>
                </div>

                <div class="stats">
                  Uploaded <strong><%= local_time_ago(asset.created_at) %></strong>,
        	        listened to <strong><%= asset.listens_count %> times</strong>.
        	        <% if asset.comments_count > 0 %>
        	           <br>
                     Commented on <strong><%= pluralize asset.comments_count, 'times' %></strong>.
        	        <% end %>

                  <% if asset.comments_count == 0 && asset.favorites_count > 0 %>
                    <br>
                  <% end %>


        	        <% if asset.favorites_count > 0 %>
                    Favorited by <strong><%= pluralize asset.favorites_count, 'alonetoner' %></strong>.
        	        <% end %>
    	          </div>

    	          <div class="admin show_to_admin">
	                mp3: <strong><%= asset.mp3_file_name %></strong><br>
                  track: <strong> <%= asset.title%></strong><br>
                  artist: <strong> <%= asset.artist %></strong><br>
                  album:  <strong><%= asset.album %></strong><br>
                  Size:  <strong><%= number_to_human_size asset.mp3_file_size %></strong><br/>
                  Hotness:  <strong><%= asset.hotness %></strong><br/>
                </div>

	          </div>

            <div class="track_links">

              <%= link_to edit_user_track_path(asset.user, asset), class: 'show_to_admin_or_owner edit_in_box track_about_link', title: 'edit this track' do %>
                <span class="sprites-pencil sprites-before-heading"></span>
                <span>edit</span>
              <% end %>


              <%= link_to user_track_path(asset.user, asset.permalink, format: :mp3, referrer: 'download'), class: 'download track_about_link', title: "right-click to download mp3" do %>
                <span>download</span><span class="sprites-vertical-arrow sprites-after-heading"></span>
              <% end %>


              <%= link_to user_track_path(asset.user, asset.permalink), class: 'track_about_link', title: "#{asset.name} by #{asset.user.name}" do %>
                <span>view more </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
              <% end unless @single_track %>




            </div>
        </div>
    </div>
  </div>
<% end %>