<%= cache( logged_in? ? "asset#{asset.cache_key}/#{theme_name}" : "guest_asset#{asset.cache_key}/#{theme_name}" ) do %>
  <div class="asset_top">
    <div class="play-button button">
      <div class="sprites-play">
        <%= link_to user_track_path(asset.user.login, asset.permalink, format: :mp3),
          id: "play-#{asset.unique_id}", class: 'play_link', title: 'click to play'  do %>
            <!-- <svg viewBox="0 0 29 25"><use xlink:href="<%= asset_path('default/play-icon.svg')%>#playIconSymbol"></use></svg> -->
        <% end %>
      </div>
    </div>

    <div class="title">
      <div class="title_left_column">
        <div class="title_left_column_top">
          <a href="<%= user_track_path(asset.user, asset.permalink) %>" class="track_link" title="<%= asset.name %>">
            <%= track_name_for(asset,200) %> <span style="font-size:12px;"><%= '&#x1f512;'.html_safe unless asset.published? %></span>             
          </a>
        </div>
        <div class="title_left_column_bottom">
          <%= link_to asset.user.name, user_home_path(asset.user), :class => 'artist', :title => "#{asset.user.name} on alonetone " %>
        </div>
      </div>

      <div class="title_right_column">
        <div class='counter'></div>
        <div class='time'><%= asset.length%></div>
      </div>
    </div>
  </div>

  <div class="seekbar"<%= 'style="display: none"'.html_safe unless @single_track %>>
    <div class="loaded" style="width: 0%">
      <div class="played" style="width: 0%"></div>
    </div>
  </div>

  <div class="tracks_reveal" style="display:none;">

    <a class="add_to_favorites" href="<%= toggle_favorite_path(:asset_id => asset.id) %>"></a>

    <div class="tracks_reveal_top">
      <div class='alonetoner'>
          <%= link_to(image_tag(avatar_or_placeholder_for(asset.user)), user_home_path(asset.user)) %>
      </div>
      <div class="description">
          <div class='user_description'>
            <%= markdown(awesome_truncate_with_read_more(asset, 300)) %>
          </div>
          <div class="stats">
            Uploaded <strong><%= local_time_ago(asset.created_at) %></strong>,
            listened to <strong><%= asset.listens_count %> times</strong>.
          </div>
      </div>
    </div>
  	<% if logged_in? || asset.guest_can_comment? %>
      <div id="comment_track_<%= asset.unique_id %>" class="comment_track">
          <%= render :partial => 'assets/comment', :locals => {:asset => asset} %>
      </div>
  	<% end %>
    <div class="track_links">
      <%= link_to edit_user_track_path(asset.user, asset), :class => 'show_to_admin_or_owner edit_in_box', :title => 'edit this track' do %>
        <span>edit</span>
      <% end %>

      <%= link_to user_track_path(asset.user, asset.permalink, :format => :mp3, :referrer => 'download'), :class=> 'download', :title => "right-click to download mp3" do %>
        <span>download</span>
      <% end %>

	    <% if !asset.private? %>
        <%= link_to 'mark as spam', spam_user_track_path(asset.user, asset), :class => 'show_to_admin_or_owner edit_in_box', :data => {:confirm => 'Are you sure you want to mark this as SPAM? This will make it harder for the user who posted this  to post again'}, :method => :put%>
      <% else %>
        <%= link_to 'unspam', unspam_user_track_path(asset.user, asset), :class => 'show_to_admin_or_owner edit_in_box', :data => {:confirm => 'This will publish this track!'}, :method => :put%>
      <% end %>

      <%= link_to user_track_path(asset.user, asset.permalink), :title => "#{asset.name} by #{asset.user.name}" do %>
        <span>view more</span>
      <% end unless @single_track %>
    </div>
  </div>
<% end %>
