<% content_tag_for :div, asset, :class => cycle('odd', 'even') do %>
	<div class="play-button button"><%= link_to_play asset, @referer %></div>
	<div class="title">
	  <%= link_to track_name_for(asset), user_track_path(asset.user, asset.permalink) %><br>
	  <%= link_to h(asset.user.name), user_home_path(asset.user), :class => 'artist' %>
	  <span class="when" style="display:none;"><%= time_ago_in_words asset.created_at %> ago</span>
	</div>
	
	<div class="download-button button">
	  <%= link_to ' ', formatted_user_track_path(asset.user, asset.permalink, :mp3, :referer => 'download'), :class=> 'download button' %>
	</div>
	
<% end %>

<div class="more tabs" id="tabs_for_track_<%= asset.id %>">
    
    <ul>
      <li><%= link_to 'comment', "#comment_track_#{asset.id}" %> </li>
      <li><%= link_to 'about', "#details_track_#{asset.id}" %> </li>
      <li><%= link_to 'share', "#share_track_#{asset.id}" %> </li>
    </ul>
  
  	<div id="details_track_<%= asset.id %>">
	    <%= asset.description %>
      <%= link_to 'info', user_track_path(asset.user, asset.permalink) %>
	    <%= asset.length %> 
	    <%= asset.listens_count %>
	  </div>
	    
	  <div id="share_track_<%= asset.id %>">
	    <%= render :partial => 'assets/share', :object => asset %>
	  </div>

    <div id="comment_track_<%= asset.id %>">
      <%= render :partial => 'assets/comment', :object => asset %>
    </div>
	
  	<% if authorized_for(asset) %>
    	<div class="edit" style='display:none;'><%= link_to "edit", edit_user_track_path(asset.user, asset) %></div>
    <% else %>
  	<% end %>
	
  </div>