<%= cache( logged_in? ? "tabs#{asset.cache_key}" : "guest_tabs#{asset.cache_key}" ) do %>
<div class="more tabs" style="display:none;">
    <ul>
	  <% if logged_in? || asset.guest_can_comment? %>
      <li><%= link_to 'comment', "#comment_track_#{asset.unique_id}" %> </li>
	  <% end %>
      <li><%= link_to 'about', "#details_track_#{asset.unique_id}" %> </li>
    </ul>
    
    <%= favorite_toggle(asset) %>
		<% if logged_in? || asset.guest_can_comment? %>
	    <div id="comment_track_<%= asset.unique_id %>">
	        <%= render :partial => 'assets/comment', :locals => {:asset => asset} %>
	    </div>
		<% end %>

  	<div id="details_track_<%= asset.unique_id %>">

        <div class="description_panel panel no_border">
            
            <div class='alonetoner'>          
                <%= user_image_link(asset.user, :small)%>
            </div>
            
            <div class="description">
                
                <div class='min_height_40'>
                  <!-- <h3><%= asset.name %></h3> -->
                  
                  <%= markdown( awesome_truncate(asset.description, 300) ) %>

                  <div class="description_more">
                    <%= link_to('(read more)', user_track_path(asset.user, asset.permalink)) if asset.description && asset.description.length > 300 %>
                  </div>

                </div>
            	  
                <div class="stats">
                  Uploaded <span class="utc_date"><strong><%= asset.created_at.iso8601.gsub(/\+.*/,'') %></strong></span>, listened to <strong><%= asset.listens_count %> times</strong>.
        	        <% if asset.comments_count > 0 %>
        	           <br>
                     Commented on <strong><%= pluralize asset.comments_count, 'times' %></strong>.
        	        <% end %>
                  
                  <% if asset.comments_count == 0 && asset.favorites_count > 0 %>
                    <br>
                  <% end %>


        	        <% if asset.favorites_count > 0 %>
                    Favorited by <strong><%= pluralize asset.favorites_count, 'alonetoner' %></strong>.
        	        <% end %>
    	          </div>
    	          
    	          <div class="admin show_to_admin">
	                mp3: <strong><%= asset.mp3_file_name %></strong><br>
                  track: <strong> <%= asset.title%></strong><br>
                  artist: <strong> <%= asset.artist %></strong><br>
                  album:  <strong><%= asset.album %></strong><br>
                </div>

	          </div>

            <div class="track_links">
          	  
              <%= link_to "edit", edit_user_track_path(asset.user, asset), :class => 'show_to_admin_or_owner edit_in_box track_about_link', :title => 'edit this track' %>

              <%= link_to 'download', user_track_path(asset.user, asset.permalink, :format => :mp3, :referrer => 'download'), :class=> 'download track_about_link', :title => "right-click to download mp3" %>

      	     <%= link_to "view more", user_track_path(asset.user, asset.permalink), :class => 'view_more track_about_link', :title => "#{asset.name} by #{asset.user.name}" unless @single_track %>

            </div>
        </div>
    </div>	
  </div>
<% end %>