<%= cache( logged_in? ? "tabs#{asset.cache_key}" : "guest_tabs#{asset.cache_key}" ) do %>
<div class="more tabs" style="display:none;">
    <ul>
			<% if logged_in? || asset.guest_can_comment? %>
	      <li><%= link_to 'comment', "#comment_track_#{asset.unique_id}" %> </li>
			<% end %>
      <li><%= link_to 'about', "#details_track_#{asset.unique_id}" %> </li>
      <li><%= link_to 'more', "#share_track_#{asset.unique_id}" %> </li>
    </ul>
    
    <%= favorite_toggle(asset) %>
		<% if logged_in? || asset.guest_can_comment? %>
	    <div id="comment_track_<%= asset.unique_id %>">
	        <%= render :partial => 'assets/comment', :locals => {:object => asset} %>
	    </div>
		<% end %>
  	<div id="details_track_<%= asset.unique_id %>">

        <div class="description_panel panel no_border">
            <div class='alonetoner'>          
                <%= user_image_link(asset.user, :small)%>
            </div>
            <div class="description">
                <div class='min_height_50'>
                  <h3><%=h asset.name %></h3>
                  <%= awesome_truncate((asset.description), 260, 
                    ('... '+link_to('(more)',user_track_path(asset.user, asset.permalink)))) %>
                </div>
            	  
                <div class="stats">
                  Uploaded <span class="utc_date"><strong><%= asset.created_at.iso8601.gsub(/\+.*/,'') %></strong></span>,
        	        listened to <strong><%= asset.listens_count %> times</strong>.
        	        <% if asset.comments.count > 0 %>
        	           <br/>Commented on <strong><%= pluralize asset.comments.public.size, 'times' %></strong>.
        	        <% end %>
        	        <% if asset.favorites_count > 0 %>
        	        	Favorited by <strong><%= pluralize asset.favorites_count, 'alonetoner' %></strong>.
        	        <% end %>
    	          </div>
    	          
    	          <div class="admin show_to_admin" style="display:none;">
	                mp3: <strong><%= h asset.filename %></strong><br>
                  Track: <strong> <%=h asset.title%></strong><br/>
                  Artist:<strong> <%=h asset.artist %></strong><br/>
                  Album:  <strong><%=h asset.album %></strong><br/>
                </div>
	          </div>
            <div class="track_links">
          	  <div class="show_to_admin_or_owner" style="display:none;">
                <%= link_to "Edit", edit_user_track_path(asset.user, asset), 
                  :class => 'edit_in_box show_to_admin_or_owner', :title => 'edit this track' %>
    	        </div>
    	          
      	     <%= link_to "View more", user_track_path(asset.user, asset.permalink), 
      	        :class => 'view_more', :title => "#{h(asset.name)} by #{h(asset.user.name)}" unless @single_track %>
            </div>
        </div>
    </div>

	    
    <div id="share_track_<%= asset.unique_id %>">
        <%= render :partial => 'assets/share', :locals => {:object => asset} %>
    </div>
	
	
  </div>
<% end %>