<div class="play-button button"><%= link_to_play asset, referer %></div>
<div class="title">
 <%= link_to track_name_for(asset,30), user_track_path(asset.user, asset.permalink), :class => 'track_link', :title => "#{h(asset.name)}" %><br />
 
 <%= yield %> 
 <span class='counter'> </span>
 
 <% if setting(:display_listen_count) == 'true' %>
  <span class="listen_count"><%= asset.listens_count %></span>
 <% end %>
   
 <span class='time'><%= asset.length%></span>
 <span class="when" style="display:none;"><%= time_ago_in_words asset.created_at %> ago</span>
</div>

<div class="download-button button">
  <%= link_to ' ', formatted_user_track_path(asset.user, asset.permalink, :mp3, :referer => 'download'), :class=> 'download button', :title => "right-click to download mp3" %>
</div>
