<div class="play-button button"><%= link_to_play asset, referrer %></div>
<div class="title">
 <%= link_to track_name_for(asset,30), user_track_path(asset.user, asset.permalink), :class => 'track_link', :title => "#{asset.name}" %><br />
 
 <%= yield %> 
 <span class='counter'> </span>
 
 <span class="listen_count" style="display:none;"><%= asset.listens_count %></span>
   
 <span class='time'><%= asset.length%></span>
</div>

<div class="download-button button">
  <%= link_to ' ', user_track_path(asset.user, asset.permalink, :format => :mp3, :referrer => 'download'), :class=> 'download button', :title => "right-click to download mp3" %>
</div>
