
<div class="more tabs" id="tabs_for_track_<%= object_id %>" style="display:none;">
    
    <ul>
      <li><%= link_to 'comment', "#comment_track_#{asset.unique_id}" %> </li>
      <li><%= link_to 'about', "#details_track_#{asset.unique_id}" %> </li>
      <li><%= link_to 'share', "#share_track_#{asset.unique_id}" %> </li>
    </ul>
    <% if logged_in? %>
        <%= favorite_toggle(asset) %>
    <% end %>
    
  	<div id="details_track_<%= asset.unique_id %>">

        <div class="description_panel panel no_border">
            <div class='alonetoner'>          
                <%= user_image_link(asset.user, :small)%>
            </div>
            <div class="description">
                <div class='min_height_50'>
                <h3><%=h asset.name %></h3>
                <%= awesome_truncate((asset.description), 260, 
                  ('... '+link_to('(more)',user_track_path(asset.user, asset)))) %>
                <% if authorized_for(asset) && !asset.present?(:description) %>
                    <span class="hint">
                    <%= link_to 'Add a description now',edit_user_track_path(asset.user, asset),:class => :hint %> 
                    to help listeners find your music
                    </span>
                <% end %>
                </div>
               
                <% if playlist = asset.first_playlist %>
                  <div class="min_height_50">
          		    <div class="mini_cover">
          		      	<%= link_to(image_tag('jewel-case-50.png'), user_playlist_path(asset.user,playlist), :class => 'jewel_case_50') %>
                      <%= image_tag(playlist.cover(:small), :class => 'cover_50') %>
                  </div>
                  From the album / playlist <%= link_to h(playlist.title), user_playlist_path(asset.user,playlist)%>
            	    </div>
            	  <% end %>
            	  
                <div class="stats">
                  Uploaded <strong><%= time_ago_in_words asset.created_at %></strong> ago,
        	        listened to <strong><%= asset.listens_count %> times</strong>.
        	        <% if asset.comments.size > 0 %>
        	           <br/>Commented on <strong><%= pluralize asset.comments.public.size, 'times' %></strong>.
        	        <% end %>
        	        <% if asset.favorites_count > 0 %>
        	        	Favorited by <strong><%= pluralize asset.favorites_count, 'alonetoner' %></strong>.
        	        <% end %>
    	          </div>
    	          <div class="admin">
    	            <% if admin? %>
    	                Filename: <strong><%= h asset.filename %></strong><br>
                      Name: <strong> <%=h asset.title%></strong><br/>
                      Artist:<strong> <%=h asset.artist %></strong><br/>
                      Album:  <strong><%=h asset.album %></strong><br/>
                  <% end %>
                </div>
	          </div>
            <div class="track_links">
          	 <% if authorized_for(asset) %>
                <%= link_to "Edit", edit_user_track_path(asset.user, asset), 
                  :class => 'edit_in_box', :title => 'edit this track' %>
             <% end %>
    	     
      	     <%= link_to "View more", user_track_path(asset.user, asset.permalink), 
      	        :class => 'view_more', :title => "#{h(asset.name)} by #{h(asset.user.name)}" unless @single_track %>
            </div>
        </div>
    </div>

	    
    <div id="share_track_<%= asset.unique_id %>">
        <%= render :partial => 'assets/share', :object => asset %>
    </div>

    <div id="comment_track_<%= asset.unique_id %>">
        <%= render :partial => 'assets/comment', :object => asset %>
    </div>
	

	
  </div>