<% id = object.id.to_s %>
<% object = object.asset if object.respond_to?(:asset) -%>

<div id="comment_<%=id%>" class="comment_asset footer_content">
  <% remote_form_for :comment, :url => user_track_comments_path(object.user, object), 
  :success => 'Flash.show("ok","sent!");$("comment_'+ id +'").fade();$("footer").morph({height:"40px"})', 
  :failure =>  'Flash.show("error","You have to be logged in and the comments have to be pretty short")',
  :class => 'comment_form' do |f| %>
   <%= f.text_area :body, :rows => 4, :cols => 40 %>
   <%= f.hidden_field :commentable_type, :value => 'asset'%>
   <%= f.submit "send comment to #{h object.user.name}", :class => 'comment_submit'%> or <%= link_to 'nevermind, close this window', '', :class => 'done'%>
  <% end %>  
  
</div>