<div id="comment_<%= asset.unique_id %>" class="comment_asset">
  <div class="comment_form">
    <%= form_for :comment, :url => user_track_comments_path(asset.user, asset), :id=>"comment_form_#{asset.unique_id}" do |f| %>
     
     <div class="comment_as">
        <!-- will be replaced by js payload to allow caching -->
     </div>
     
     <%= f.text_area :body, :rows => 4, :cols => 40, :class=> 'double_trouble', :id=>"comment_body_#{asset.unique_id}"  %>

    <div class="private_check_box">
        <label><%= f.check_box :private, :class => 'private' %> <span class="public">Make Private</span></label>
    </div>

    <span class="private" style="display:none;">
      <%= image_tag 'icons/private.png' %> Only <%= asset.user.name%> and alonetone mods will see this
    </span>
     
     <%= f.hidden_field :commentable_type, :value => 'Asset', :id=> "comment_commentable_type_#{asset.unique_id}"%>
     <%= f.hidden_field :commentable_id, :value => asset.id, :id=> "comment_commentable_type_#{asset.unique_id}"%>

     <div class="submit_wrapper submit_wrapper_comment">
        <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
        <div class="small_spinner" style="display:none;"></div>
        <%= f.submit "send comment to #{asset.user.name}".html_safe, :class => 'comment_submit',:id => "submit_#{asset.unique_id}"%> 
      </div>
    <% end %>  
  </div>
</div>