<div class="track_options">
  <% if @asset.user.greenfield_enabled? %>
    <%= link_to greenfield.edit_user_post_url(@asset.user, @asset.permalink, :host => Alonetone.greenfield_url), :class => 'view_all', :title => 'edit this track' do %>
      greenfield <div class="sprites-pencil sprites-before-heading"></div>
    <% end %>
  <% end %>

  <%= link_to " ", user_track_path(@user.login, @asset), :method => :delete, 
        :confirm => 'Are you sure? This will delete the song permanently, including all play history and comments.',
        :class => 'delete_green'%>
</div>

<div class="edit_track box" style="position:relative;">
  <h2 class="box">Editing "<%= @asset.name %>"</h2>

  <%= form_for(:asset, :url => user_track_path(@user, @asset), :html => { :method => :put, :multipart => true }) do |f| %>

    <div class="static_content" style="position:relative;">

          The title of this track/song/piece 
          <p> <%= f.text_field :title, :value => @asset.name %> </p>
          Tell everyone a story or describe this music for us
           <p> <%= f.text_area :description, :rows => 5, :cols => 50 %> </p>
        <!--  <p><%= f.text_area :lyrics, :rows => 20, :cols => 50%></p> -->
    </div>
     <div class="static_content"> 
      Have a youtube video of this song?<br/>
      <small>http://www.youtube.com/watch?v=</small><%= f.text_field :youtube_embed, :size => 15 %>
    </div>
    <% if @allow_reupload %>
    <div class="static_content">
      <%= link_to 'Upload a new version of this track',"new_version_#{@asset.object_id}", :class=>'slide_open_next'%>
      <div id="new_version_<%=@asset.object_id%>" style="display:none;">
      <p>
        <%= f.file_field :mp3, :class=> 'asset_data' %>
      </p>
      <span class="note">This will permanently delete the old version.
        The replacement track will <strong>not</strong> be considered a new track. It will not 
        show up on the home page under 'latest tracks'. But hey, you get to clean
        up your act on the sly and fix that hasty mix from last week! Yay!</span>
      </div>
    </div>
    <% end %>
    <div class="submit_wrapper static_content">
        <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
        <div class="small_spinner" style="display:none;"> </div>
        <%= f.submit "Save", :class => 'comment_submit' %> 
    </div>
  <% end %>  
</div>
