<%= form_with(model: asset, url: "/#{@user.login}/tracks/#{asset.id}", data: { action: 'save#spin turbo:submit-end->save#success turbo:submit-end->save#complete' }) do |f| %>
  <%= render partial: 'shared/errors', locals: { errors: asset.errors } %>

  <div class="track_edit">

    <h1>Edit track details</h1>
    <div class="edit_profile_separator"></div>

    <div class="track_edit_inner">

    <label>Title</label>
    <%= f.text_field :title, value: asset.name, id: "title_#{asset.id}" %>

    <label>About</label>
    <%= f.text_area :description, placeholder: "Tell us a story...", id: "description_#{asset.id}"  %>
    <%= f.text_area :credits, placeholder: "Credits for this track" %>

    <label>License</label>

    <div class="options collapsed" data-controller="license">
      <div class="options_list">
      <% License.all.each_with_index do |license, index| %>
        <%= tag.div(value: license.name_with_version, class: (f.object.license_code == license.name_with_version) ? 'option selected' : 'option') do %>
            <%= f.radio_button :license_code, license.name_with_version %>
            <label for="asset_license_code_by-nc-sa4_0">
            <%
=begin%>
 <%= f.label :license_code do %>
            <% end %> 
<%
=end%>

            
            <%= license.label %>
            <p class="help">
              <%= license.help %>
              <%= link_to 'Details', license.url, target: '_blank' if license.url.present? %>
            </p>
            
            </label>

        <% end %>
      <% end %>
      </div>
      <%= tag.a('Change License', data: { 'action' => 'license#expand'}) %>
    </div>

      <div class="edit_save">
          <% if @single_track_page %>
          <%= link_to "Delete", user_track_path(@asset.user, @asset), class: 'delete_link', data: { turbo_method: 'delete', turbo_confirm: 'Are you sure? This will delete the song permanently, including all play history and comments.'},
          title: 'delete this track permanently ' %>
          <% end %>

          <div class="submit_wrapper">
            <% if !@single_track_page %>
              <div class="ajax_waiting" data-save-target="response">
                <div class="text"><!-- placeholder response text --></div>
              </div>
              <div class="small_spinner" data-save-target="spinner"> </div>
            <% end %>
            <%= f.submit "Update track details" %>
          </div>
        <% unless asset.published? %>
          <div class="submit_wrapper">
            <%= f.submit "Publish" %>
            <div class="ajax_waiting">
              <div class="text"><!-- placeholder response text --></div>
            </div>
            <div class="small_spinner" style="display:none;"> </div>
          </div>
        <% end %>
      </div>

    </div>



    <div class="track_edit_bottom">

      <div class="track_edit_inner">


      <h2>Upload New Version</h2>
      <% if @single_track_page %>
        <div class="note">This will permanently delete the old version.
          The replacement track will <strong>not</strong> be considered a new track. It will not
          show up on the home page under 'latest tracks'. But hey, you get to clean
          up your act on the sly and fix that hasty mix from last week! Yay!
        </div>
        <div class="upload_new_version">
          <%= link_to 'Upload new version',"#new_version_#{asset.object_id}", class: 'slide_open_href'%>
        </div>
        <div id="new_version_<%=asset.object_id%>" class="new_version" style="display:none;">
          <%= f.file_field :audio_file, class: 'asset_data' %>
        </div>
      <% end %>
      </h2>
  </div>
</div>
<% end %>
