<%= error_messages_for :asset %>
<div id="uploader">
    <%= form_for :asset, url: user_tracks_path(current_user), html: { multipart: true } do |f| %>
    	<dl class="group" class="fileform">
        <dt id="filelbls">
         </dt>
        <dd class="asset-data">
          <ul class="filefields">
            <li>
              <%= file_field_tag  'asset_data[]', class: 'asset_data' %>
            </li>
          </ul>
        </dd>
      </dl>
    <div class="submit_wrapper">
      <% if current_user.greenfield_enabled? %>
        <%= submit_tag 'Upload, and publish!', id: 'upload', data: { disable_with: 'Uploading...' }, disabled: @upload_disabled %>
        <%= submit_tag "Upload, but don't publish", data: { disable_with: 'Uploading...' }, disabled: @upload_disabled  %>
      <% else %>
        <%= submit_tag 'Upload!', id: 'upload', disabled: @upload_disabled %>
      <% end %>
    </div>
    <% end -%>
    <div class="uploading" style='display:none'>
        <%= image_tag 'icons/uploading.gif'%>
    </div>
</div>
