<% render(:layout => 'users/user') do %>

  <h1><%=h @asset.name %></h1>
  
  <%= error_messages_for :asset %>
  <% form_for(:asset, :url => user_track_path(current_user, @asset), :html => { :method => :put }) do |f| %>
  The title of this track/song/piece 
  <p> <%= f.text_field :title, :value => @asset.name %> </p>
  Tell everyone a story or describe this music for us
   <p> <%= f.text_area :description, :rows => 5, :cols => 50 %> </p>
  <!--<p><%#= f.text_area :lyrics, :rows => 20, :cols => 50%></p> -->
   
  Have a youtube video of this song? Give us the video ID thingy and we'll embed it
  <p>http://www.youtube.com/watch?v=<%= f.text_field :youtube_embed %></p>
    <p>
      <%= submit_tag "Update" %>
    </p>
  <% end %>

    <%= link_to "delete track", user_track_path(@user, @asset), :id => 'delete_track_button', :class => 'confirm_before_delete button'%>

  <% if admin? %>
  	<div id="mp3dump">
	
  	</div>
  <% end %>
<% end %>