<div class="user_tracks">
  <div class="columns_header">
    <%= render partial: 'shared/back_to_artist' %>
  </div>
  <div id="columns">
    <div id="left">
      <% if @user.assets_count > 0 %>
      <h2><%= pluralize @user.assets_count, 'tracks'%> by <%= @user.name %></h2>
      <% end %>

      <div>
        <%= cache([@user, moderator?, @pagy.page]) do %>
        <% if @user.assets_count > 0 %>
          <div class="mini_paginator top_paginator">
            <%== pagy_nav @pagy %>
          </div>
          <div class="box">
          <%= render partial: 'asset', collection: @assets, cached: true %>
          </div>
          <div class="mini_paginator bottom_paginator">
            <%== pagy_nav @pagy %>
          </div>

        <% else %>
        <h2>Looks like <%= @user.name %> hasn't uploaded anything yet!</h2>
        <% end %>
        <% end %>
      </div>
    </div>

    <div id='right'>
      <% if authorized? && @user.assets_count > 2 %>
        <% if @hot_tracks_this_week.present? %>
          <h2>Hot Tracks this week</h2>
          <div class="box">
            <div>
              <%= render partial: 'asset', collection: @hot_tracks_this_week %>
              <%# image_tag @user.most_popular_chart %>
            </div>
          </div>
        <% end %>
        <% if @most_fav_tracks.present? %>
          <h2>Most Favorited Tracks</h2>
          <div class="box">
            <div>
              <%= render partial: 'asset', collection: @most_fav_tracks %>
              <%# image_tag @user.most_favorited_chart %>
            </div>
          </div>
        <% end %>
        <% if @most_commented_tracks.present? %>
          <h2>Most Commented On Tracks</h2>
          <div class="box">
            <div>
              <%= render partial: 'asset', collection: @most_commented_tracks %>
              <%# image_tag @user.most_commented_on_chart %>
            </div>
          </div>
        <% end %>
        <% if @most_listened_to_tracks.present? %>
          <h2>Most Listened To Tracks (ever)</h2>
          <div class="box">
            <div>
              <%= render partial: 'asset', collection: @most_listened_to_tracks %>
              <%# image_tag @user.most_listened_to_ever_chart %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>