<!-- alonetone home page -->
<%= render :partial => 'shared/self_confidence' unless logged_in? %>

<% if !(@playlists.blank?) then cache(@playlists.first.cache_key+'plisthome') do %>
  <div id="latest_playlists">

    <h2>Latest albums &amp; playlists</h2>
    <%= render :partial => 'shared/carousel' %>

  </div>
<% end %>
<% end %>

<% content_for :left do%>
  <h2 id="latest_uploaded" class="box">Latest uploaded</h2>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @assets %>
  </div>
  <div class="footer_box">
    <%= link_to 'view all latest tracks &rArr;', radio_path(:per_page => 40,:source => 'latest'), 
        :class=> 'view_all', :title => 'latest music on alonetone' %>
  </div>
  
  <h2 id="latest_comments" class="box">Latest Comments</h2>
  <div class="box">
    <%= render :partial => 'shared/comment', :collection => @comments%>
  </div>
  
  <div class="footer_box">
   <%= link_to 'view all comments &rArr;', all_comments_path, 
     :class => 'view_all', :title => 'view latest comments' %>
   </div>
<% end %>


<% content_for :right do %>

	<h2 id="kicking_ass" class="box">Currently kicking ass</h2>

  <% @referer = 'home' %>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @popular %>
  </div>
  <div class="footer_box">
   <%= link_to 'view all kicking ass &rArr;', radio_path(:per_page => 40,:source => 'popular'), :class => "view_all", 
      :title => 'alonetone radio: currently kicking ass' %>
  </div>
  
  <% if @followee_tracks %>
    <h2 id="kicking_ass" class="box">Tracks from those you follow</h2>    
    <div class="box">
    <%= link_to image_tag('feed-icon.png'), listen_feed_path(@user, :format => 'rss'), :alt => "Tracks from those you follow", :class => 'feed_icon_in_box' %>
    <%= render :partial => 'assets/asset', :collection => @followee_tracks %>
    </div>
    <div class="footer_box">
      <%= link_to 'view all &rArr;', radio_path(:per_page => 40, :source => 'those_you_follow'), 
        :class => 'view_all', :title => 'alonetone radio: those you follow' %>
    </div>
  <% end %>

  <h2 id="recently_favorited" class="box">Recently favorited</h2>
  <div class="box">
    <%= render :partial => 'shared/favorite', :collection => @favorites %>
  </div>  
  <div class="footer_box">
    <%= link_to 'view all favorites &rArr;', radio_path(:per_page => 40, :source => 'favorites'), 
      :class => 'view_all', :title => 'alonetone radio: recently favorited' %>
  </div>

<% end %>

<% content_for :bottom do %>
    <%= render :partial => 'shared/visit_us' %>
<% end %>
