<!-- alonetone home page -->
<%= render :partial => 'shared/self_confidence' unless logged_in? %>

<div id="latest_playlists">
  
  <h2>Latest albums &amp; playlists</h2>
  <%= render :partial => 'shared/carousel' %>

</div>

<% content_for :left do%>
  <h2 id="latest_uploaded" class="box">Latest uploaded</h2>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @assets %>
  </div>
<% end %>


<% content_for :right do %>

	<h2 id="kicking_ass" class="box">Currently kicking ass</h2>
	<%= link_to 'view all', top_path(40), :class => 'view_all' %>

  <% @referer = 'home' %>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @popular %>
  </div>
  
  <h2 id="latest_comments" class="box">Latest Comments</h2>
  <div class="box">
    <%= render :partial => 'shared/comment', :collection => @comments%>
  </div>
<% end %>