<div id="latest_playlists">
  
  <h2>Latest albums &amp; playlists</h2>
  <%= render :partial => 'shared/carousel' %>

</div>

<% content_for :left do%>
	<h2 class="box">Latest songs</h2><%= link_to 'view all', latest_path(30), :class=> 'view_all' unless params[:latest] %>
  <%= render :partial => 'assets/asset', :collection => @assets %>
<% end %>


<% content_for :right do %>

	<h2 class="box">Currently kicking ass</h2><%= link_to 'view all', top_path(30), :class=> 'view_all' unless params[:top]  %>
  <% @referer = 'home' %>
  <%= render :partial => 'assets/asset', :collection => @popular %>

<% end %>