<!-- alonetone home page -->
<%= cache("home/playlists/#{@playlists.cache_key}/#{theme_name}") do %>
    <div class="latest-playlists-header">
      <div class="sprites-latest-playlists sprites-before-heading"></div>
      <h2>
      <%= link_to "Latest playlists".html_safe, all_playlists_path, title: 'view latest playlists' %>
      </h2>
    </div>
    <% if white_theme_enabled? %>
    <ul class="playlists">
      <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
    </ul>
    <% else %>
    <ul class="playlists_row">
      <%= render partial: 'playlists/row', collection: @playlists, as: :playlist %>
    </ul>
    <% end %>
<% end unless @playlists.blank? %>

<% content_for :left do%>
  <div class="sprites-latest-uploaded sprites-before-heading"></div>
  <h2 id="latest_uploaded" class="box">Latest uploaded</h2>
  <div class="box">
    <%= render partial: 'assets/asset', collection: @assets %>
  </div>
  <div class="footer_box">
    <%= link_to radio_path(items: 40, source: 'latest'), class: 'view_all', title: 'latest music on alonetone' do %>
    <span>view all </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
    <% end %>
  </div>

  <div class="sprites-latest-comments sprites-before-heading"></div>
  <h2 id="latest_comments" class="box">Latest Comments</h2>
  <div class="box">
    <%= render partial: 'shared/comment', collection: @comments %>
  </div>

  <div class="footer_box">
    <%= link_to all_comments_path, class: 'view_all', title: 'view latest comments' do %>
    <span>view all </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
    <% end %>
  </div>
<% end %>


<% content_for :right do %>
	<div class="sprites-stars sprites-before-heading"></div>
  <h2 id="kicking_ass" class="box">Currently kicking ass</h2>
  <div class="box">
    <%= render partial: 'assets/asset', collection: @popular %>
  </div>
  <div class="footer_box">
    <%= link_to radio_path(items: 40, source: 'popular'), class: "view_all", title: 'alonetone radio: currently kicking ass' do %>
    <span>view all </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
    <% end %>
  </div>

  <% if @followee_tracks %>
    <div class="sprites-stars sprites-before-heading"></div>
    <h2 id="kicking_ass" class="box">Tracks from those you follow</h2>
    <div class="box">
    <div>
      <%= render partial: 'assets/asset', collection: @followee_tracks %>
    </div>
    </div>
    <div class="footer_box">
      <%= link_to radio_path(items: 40, source: 'those_you_follow'), class: 'view_all', title: 'alonetone radio: those you follow' do %>
<span>        view all </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
      <% end %>
    </div>
  <% end %>
  <div class="sprites-stars sprites-before-heading"></div>
  <h2 id="recently_favorited" class="box">Recently favorited</h2>
  <div class="box">
    <% if white_theme_enabled? and @favorites.present? %>
      <%= render partial: 'shared/favorite_white', collection: @favorites, as: :favorite %>
    <% elsif @favorites.present?  %>
      <%= render partial: 'shared/favorite', collection: @favorites %>
    <% end %>
  </div>
  <div class="footer_box">
    <%= link_to radio_path(items: 40, source: 'favorites'), class: 'view_all', title: 'alonetone radio: recently favorited' do %>
<span>      view all </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
    <% end %>
  </div>
<% end %>

