<h1 id="radio_title">alonetone Radio: <span id="channel_name" class="channel"><%= @channel %></span></h1>
<% content_for :left do %>
  <div class="mini_paginator">
    <%= will_paginate @assets %>
  </div>
    <div id="radio_tracks" class="box">
        <%= render :partial => 'assets/asset', :collection => @assets  %>
    </div>
    <div class="mini_paginator">
      <%= will_paginate @assets %>
    </div>
<% end %>
<% content_for :right do %>
    <div id="radio">
        <div id="radio_options" class='box'>
            <h2 class='box'>Choose a radio flavor, dear friend</h2>
            <div class="static_content" id="radio_controls">
                <form id="radio_controls_form">
                    <ul>
                    <%= radio_option 'latest', 'Latest', true %> 
                    <%= radio_option 'popular', 'Currently kicking ass' %>                   
                    <%= radio_option 'most_favorited', "Most favorited" %>
                    <%= radio_option 'favorites', "Recently favorited"  %>
                    <%= radio_option 'mangoz_shuffle', "The 'Mangoz' shuffle (random)" %> 
                    <%= radio_option 'those_you_follow',  "Tracks from those you follow", false, true %>                    
                    <%= radio_option 'your_favorite_alonetoners', "Your favorite alonetoners", false, true %>
                    <%= radio_option 'songs_you_have_not_heard',  "Songs you haven't heard", false, true %>
                    
                    </ul>
                </form>
            </div>
        </div>
        <% if @safari %>
        <h2 class="box">Pssst! Hey Safari User</h2>
        <div class="static_content">
            Just a heads up: alonetone radio works best when you have it open in its own window.<br/><br/> 
            Safari won't let us do fancy things (like automatically play the next track)
            if you have us stuffed somewhere in a background tab. 
        </div>
        <% end %>
    </div>
<% end %>
