<nav class="sub_nav">
  <div class="sub_nav_inner">
      <ul>
        <%= navigation_item 'Latest Uploaded', radio_home_path %>
        <%= navigation_item 'Most Popular', radio_source_home_path('popular') %>
        <%= navigation_item 'Most Favorited', radio_source_home_path('most_favorited') %>
        <%= navigation_item 'Recently Favorited', radio_source_home_path('favorites') %>
        <%= navigation_item 'Mangoz Shuffle', radio_source_home_path('mangoz_shuffle') %>
        <% if logged_in? %>
        <%= navigation_item 'From Those You Follow', radio_source_home_path('those_you_follow') %>
        <% end %>
      </ul>
  </div>
</nav>


<div id="radio_content">
    <h1>alonetone radio: <%= params[:source].humanize %> </h1>
    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div id="radio_tracks" class="box">
      <%= render partial: 'assets/asset', collection: @assets  %>
    </div>
    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
</div>