<%= render partial: 'users/user' %>

<% content_for :left do %>
  <% if authorized_for(@asset) %>
      <div class="track_options">
          <%= link_to edit_user_track_path(@asset.user, @asset), class: 'view_all', title: 'edit this track' do %>
            edit <div class="sprites-pencil sprites-before-heading"></div>
          <% end %>

          <% if @asset.user.greenfield_enabled? && @asset.greenfield_post.present? %>
            <%= link_to greenfield.user_post_url(@asset.user, @asset.permalink, host: greenfield_hostname), class: 'view_all' do %>
              greenfield <div class="sprites-pencil sprites-before-heading"></div>
            <% end %>
          <% end %>

          <%= link_to user_track_path(@asset.user, @asset), method: 'delete', class: 'view_all ',
          confirm: 'Are you sure? This will delete the song permanently, including all play history and comments.',
          title: 'delete this track permanently ' do %>
            delete <div class="sprites-red-x sprites-before-heading"></div>
          <% end %>
      </div>
  <% end %>

  <div id="single_track" class="box">
    <%= render partial: 'assets/assets'%>
    <%= favorite_toggle(@asset) if logged_in? %>
    <% if @asset.description && !@asset.description.empty? %>
      <div id="track_details" class="static_content">
        <h1>About "<%= @asset.title %>"</h1>
        <p><%= markdown @asset.description %></p>
        <% if playlist = @asset.first_playlist %>
          From the album / playlist <%= link_to (playlist.title), user_playlist_path(@asset.user,playlist) %>
          <div class="min_height_50">
            <div class="mini_cover">
              	<%= link_to(image_tag(playlist_cover_url(playlist, variant: :small), user_playlist_path(@asset.user,playlist), class: 'cover_50')) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @asset.youtube_embed && !@asset.youtube_embed.empty? %>
      <div class='static_content static_content_youtube'>
        <iframe id="ytplayer" type="text/html" width="420" height="315" src="http://www.youtube.com/embed/<%=@asset.youtube_embed%>" frameborder="0"></iframe>
      </div>
    <% end %>

    <% if logged_in? || @asset.guest_can_comment? %>
    	<div class="static_content">
      	<%= render partial: 'comment', locals: {asset: @asset} %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'big_share'%>
  <%= render partial: 'stats' %>

<% end %>

<% content_for :right do %>
  <%= render partial: 'assets/favoriters' if @favoriters.present?%>
  <%= render partial: 'assets/recent_listeners'%>
  <div class="clear"> </div>
  <%= render partial: 'shared/comments' if @comments.present? %>
<% end %>
