<% content_for :thredded_page_title, messageboard.name %>
<% content_for :thredded_page_description, messageboard.description %>
<% content_for :thredded_page_id, 'thredded--topics-index' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>

  <%= define_svg_icons('thredded/follow.svg', 'thredded/unfollow.svg') %>

  <%= content_tag :section,
                  class: 'thredded--main-section thredded--topics',
                  'data-thredded-topics' => true,
                  'data-thredded-topic-posts-per-page' => Thredded.posts_per_page do %>

    <div class="top">
      <div class="left">
        <% begin %> <%= yield :thredded_breadcrumbs %> <% end %>

        <h2>
          <% begin %> <%= yield :thredded_page_title %> <%end%>
        </h2>
        <p>
          <% begin %> <%= yield :thredded_page_description %> <%end%>
        </p>
      </div>

      <div class="thumbnail">
        <%= forum_image(messageboard.slug) %>
      </div>
    </div>

    <div class="start_new_topic_container">
      <%= link_to "Start New Thread", new_messageboard_topic_path(messageboard), class: "start_new_topic" %>
    </div>

    <%= render partial: 'thredded/topics/topic',
               collection: @topics,
               locals: {
                   sticky_topics_divider: true,
                   topics: @topics
               } %>

    <div class="start_new_topic_container">
      <%= link_to "Start New Thread", new_messageboard_topic_path(messageboard), class: "start_new_topic" %>
    </div>
  <% end %>


  <footer class="thredded--pagination-bottom">
    <%= paginate @topics %>
  </footer>

  <%= render 'thredded/messageboards/messageboard_actions', messageboard: messageboard %>
<% end %>
