<%= error_messages_for :asset %>
<div id="plus_uploader">	
    <%= form_for :asset, :url => user_source_files_path(current_user), :html => { :multipart => true } do |f| %>  
    	<dl class="group" class="fileform">
        <dt id="filelbls">
         </dt>
        <dd class="asset-data">
          <ul class="filefields">
            <li>
              <%= file_field_tag  'source_file_data[]', :class=> 'asset_data' %>
            </li>
          </ul>
        </dd>
      </dl>
    <div class="submit_wrapper">
        <%= submit_tag 'Upload!', :id => 'upload' %>
	</div>
    <% end -%>
    <div class="uploading" style='display:none'>	
        <%= image_tag 'icons/uploading.gif'%>
    </div>
</div>
