<% if @show_title_and_link %>
<tr class="post title"%>
    <td colspan="2">
        <h2><%= link_to post.topic.title, forum_topic_path(post.forum, post.topic, :page => post.forum.recent_post.topic.last_page) %></h2>
    </td>
</tr>
<% end %>
<tr class="post hentry <%= cycle('even','odd') %>" id="<%= dom_id post %>-row">
  <td class="author vcard">
    <%= image_tag post.user.avatar(:small) %>
    <span class="fn"><%= link_to awesome_truncate(post.user.name, 25), user_home_path(post.user), :class => (post.user == @posts.first.user ? "threadauthor" : nil) %></span><br/>
    <%= post.user.ip if logged_in? %>
    <% if post.user.moderator? %>
    <span class="admin">
      moderator
    </span>
    <% end %>
        
    <span class="posts"><%= link_to (pluralize post.user.posts.size, 'post'),user_posts_path(post.user.login) %></span>
    <% if post.user.assets_count > 0 %>
        <span class="posts"><%= link_to (pluralize post.user.assets_count, 'tracks'), user_tracks_path(post.user) %></span>
    <% end %>

    <% if logged_in? && post.editable_by?(current_user) -%>
    <p>
	    <%= link_to image_tag('icons/edit.png'), edit_forum_topic_post_path(post.forum, post.topic, post, :page => current_page), :class => 'utility' %>
    </p>
    <% end -%>


  </td>
  <td class="body entry-content" id="post-body-<%= post.id %>">
    
    <div class="date">
      <a href="#<%= dom_id post %>" rel="bookmark" name="<%=dom_id post %>">
      <abbr class="updated" title="<%= post.created_at.xmlschema %>">
      Posted: <%= friendly_time_ago(post.created_at) %>
      </abbr>
      </a>
    </div>
        
      <div class="post_body_html">
      <%= markdown(post.body) %>
      <% if moderator? %>
        <div class="post_footer"><%= post.user.browser %></div>
      <% end %>
      </div>
  </td>
</tr>
