<% if @show_title_and_link %>
<tr class="post title"%>
    <td colspan="2">
        <h2><%= link_to post.topic.title, forum_topic_path(post.forum, post.topic, :page => post.forum.recent_post.topic.last_page) %></h2>
    </td>
</tr>

<% end %>
<tr class="post hentry <%= cycle('even','odd') %>" id="<%= dom_id post %>-row">

  <td class="author">
      
      <div class="author_container">

        <div class="author_top">
          <% if post.user.present? %>
          <div class="vcard_user_name">
            <span class="fn"><%= link_to truncate(post.user.name, :length => 30), user_home_path(post.user), :class => (post.user == @posts.first.user ? "threadauthor" : nil) %></span>
          </div>

          <div class="vcard_image_container">
            <%= image_tag post.user.avatar(:small) %>
          </div>

          <span class="posts"><%= link_to (pluralize post.user.posts.size, 'post'),user_posts_path(post.user.login) %></span>
          
          <% if post.user.assets_count > 0 %>
              <span class="posts"><%= link_to (pluralize post.user.assets_count, 'tracks'), user_tracks_path(post.user) %></span>
          <% end %>

          <% if post.user.moderator? %>
            <span class="admin">moderator</span>
          <% end %>

          <span class="posts user_ip">
            <%= post.user.ip if logged_in? %>
          </span>
          
          <% else %>
            <div class="vcard_user_name">
              <span class="fn">[deleted]</span>
            </div>
            <div class="vcard_image_container">
              <%= image_tag 'default/no-pic_small.png' %>
            </div>
          <% end %>
          <div class="clear"></div>
      
        </div>

        <% if logged_in? && post.editable_by?(current_user) -%>
        
        <div class="author_bottom">
          
          <div class='post_edit_and_delete_links'>
      	    <%= link_to 'edit', edit_forum_topic_post_path(post.forum, post.topic, post, :page => current_page), :class => 'utility' %>
            &nbsp;/&nbsp;
            <%= link_to('delete', forum_topic_post_path(post.forum, post.topic, post, :page => current_page), :class => "utility", :method => :delete, :confirm => "Delete this post?  Are you sure?") unless post.new_record? %>  
            <% if moderator? %>
              &nbsp;/&nbsp;
        	    <% if post.is_spam? %>
                <%= link_to 'un-spam', unspam_forum_topic_post_path(post.forum, post.topic, post),  :data => { :confirm => 'This will make the comment public. Are you sure?'}, :method => :put %>
        	    <% else %>
                <%= link_to 'mark as spam', spam_forum_topic_post_path(post.forum, post.topic, post),  :data => {:confirm => 'Are you sure you want to mark this as SPAM?'}, :method => :put%>  	     
              <% end %>
            <% end %>
          </div>
          <div class="post_browser_specs">
            <abbr title="<%= post.user.try(:browser) %>">
              <%= truncate(post.user.try(:browser), :length => 33) if moderator? %>
            </abbr>
          </div>

        </div>

      </div>

       <% end -%>

  </td>
  <td class="body entry-content" id="post-body-<%= post.id %>">
    
    <div class="date">
      <abbr class="updated" title="<%= post.created_at.xmlschema %>">
        <%= local_time_ago(post.created_at) %>
      </abbr>
    </div>
        
      <div class="post_body_html">
      <%= markdown(post.body) %>
        <div class="post_footer">     
        </div>
      </div>
  </td>
</tr>
