
<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">
    <div class="admin_stats">
      <%= User.count%> users.
    </div>
    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div class="admin_search_field">
    <%= form_for 'filter_by', method: :get do |f| %>
      <%= text_field_tag 'filter_by',nil, placeholder: 'search by login/email' %>
    <% end %>
    </div>
    <div class="admin_column_right_inner box">
      <header class="admin_users_header">
        <div class="date_column">Joined</div>
        <div class="user_column">User</div>
        <div class="bio_column">Bio</div>
      </header>

      <div class="admin_users_rows">
        <% @users.each do |user| %>
          <div data-controller="admin--user" data-admin--user-deleted="<%= user.soft_deleted? %>" data-admin--user-spam="<%= user.is_spam? %>">
            <div class="date_column">
            <%= local_time_ago user.created_at %>
            <div><%== "Deleted #{local_time_ago user.deleted_at}" if user.deleted_at %></div>

            </div>
            <div class="user_column">
              <div class="avatar">
                <%= user_image(@user, variant: :original) %>
              </div>
              <div>
                <div><%= link_to user.login, user_path(user.login) %></div>
                <div><%= user.email %></div>
                <% unless user.soft_deleted? %>
                <div><%= user.current_login_ip %>
                  <%= link_to "Spam All #{User.where(current_login_ip: user.current_login_ip).count}", mark_all_users_with_ip_as_spam_admin_user_path(user), method: :put %>
                </div>
                <% end %>
              </div>
            </div>
            <div class="bio_column">
              <div><%= truncate(user&.profile&.bio, length: 200) %></div>
              <div><%= link_to "#{user.assets.count} tracks", user_tracks_path(user) if user.assets.count > 0 %></div>
            </div>
            <div class="button_column">
              <%= button_to "Unspam User", unspam_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.unspamButton', action: 'click->admin--user#hideUnspamButton' } %>
              <%= button_to "Spam User", spam_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.spamButton', action: 'click->admin--user#hideSpamAndShowRestoreButton' } %>
              <%= button_to "Delete User", delete_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.deleteButton', action: 'admin--user#showRestoreButton' } %></td>
              <%= button_to "Restore User", restore_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.restoreButton', action: 'click->admin--user#showDeleteAndSpamButton' } %></td>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>

  </div>
</div>
