<div id="admin_header">
  <h1>Users</h1>
</div>

<div id="admin_columns">
  <div class="admin_column_left">
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">
    <div class="admin_stats">
      <%= User.count%> users.
    </div>
    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>

    <div class="admin_column_right_inner box">

      <header class="admin_users_header">
        <div class="date_column">Date</div>
        <div class="user_column">User</div>
        <div class="bio_column">Bio</div>
      </header>

      <div class="admin_users_rows">
        <% @users.each do |user| %>
          <div data-controller="admin--user" data-admin--user-deleted="<%= user.soft_deleted? %>" data-admin--user-spam="<%= user.is_spam? %>">
            <div class="date_column"><%= local_time_ago user.created_at %></div>
            <div class="user_column">
              <div class="avatar">
                <%= user_image(@user, variant: :original) %>
              </div>
              <div>
                <div><%= user.login %></div>
                <div><%= user.current_login_ip %></div>
              </div>
            </div>
            <div class="bio_column">
              <div><%= truncate(user&.profile&.bio, length: 200) %></div>
              <div><%= link_to "#{user.assets.count} tracks", user_tracks_path(user) if user.assets.count > 0 %></div>
            </div>
            <div class="button_column">
              <%#= button_to "Spam All 4/IP", mark_group_as_spam_admin_assets_path, params: { mark_spam_by: { user_id: user.id }},  method: :put %>
              <%= button_to "Unspam User", unspam_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.unspamButton', action: 'click->admin--user#hideUnspamButton' } %>
              <%= button_to "Spam User", spam_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.spamButton', action: 'click->admin--user#hideSpamAndShowRestoreButton' } %>
              <%= button_to "Delete User", delete_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.deleteButton', action: 'admin--user#showRestoreButton' } %></td>
              <%= button_to "Restore User", restore_admin_user_path(user), method: :put, remote: true, data: { target: 'admin--user.restoreButton', action: 'click->admin--user#showDeleteAndSpamButton' } %></td>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>

  </div>
</div>
