
<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">
   <div class="admin_search_field">
    <%= form_for 'filter_by', method: :get do |f| %>
      <%= text_field_tag 'filter_by',nil, placeholder: 'Search by login or email' %>
    <% end %>
    </div>
    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div class="admin_column_right_inner box">

      <header class="admin_users_header">
        <div class="date_column">Joined</div>
        <div class="user_column">User</div>
        <div class="bio_column">Bio</div>
      </header>

      <div class="admin_users_rows">
         <%= render partial: 'admin/users/user', collection: @users %>
      </div>
    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>

  </div>
</div>
