<%= error_messages_for :playlist %>
<div class="edit_playlist_info_container">
  <% if @playlist.persisted? %>
    <%= render partial: 'back_to_playlist' %>
  <% else %>
    <%= render partial: 'shared/back_to_artist' %>
  <% end %>

  <div id="edit_playlist_info" data-controller="playlist-edit" class="box">
    <% if @playlist.persisted? %>
      <h2>Editing "<%= @playlist.title %>"</h2>
    <% else %>
      <h2>Create New Playlist</h2>
    <% end %>
    <%= form_with model: [@user, @playlist], local: true, html: { id: 'edit_playlist', autocomplete: 'off' } do |f| %>

      <div class="edit_playlist_info_columns">
        <div class="edit_playlist_info_left_column">
          <label>ALBUM ARTWORK</label>
          <%= link_to '#needstotriggerclickforform', :title => "#{@playlist.title}", :class => "cover" do %>
            <%= playlist_cover(@playlist, variant: :playlist_card) %>
            <%= f.file_field :cover_image  %>
          <% end %>
          <p>
            Upload a square photo,<br> 2000px by 2000px for<br> best results.
          </p>
        </div>

        <div class="edit_playlist_info_right_column">
          <div class="edit_playlist_info_right_column_title_and_year">
            <div>
              <label for="playlist_title">Title</label>
              <%= f.text_field :title %>
            </div>
            <div>
              <label for="playlist_year">Year</label>
                <%= f.text_field :year, input_html: {maxlength: 4, size: 4} %>
            </div>
          </div>

          <div class="edit_playlist_info_right_column_links">
            <div>
              <label for="playlist_link1">Link 1</label>
              <%= f.text_field :link1, placeholder: 'link to spotify, itunes, google play, etc' %>
            </div>

            <div>
              <label for="playlist_link2">Link 2</label>
              <%= f.text_field :link2, placeholder: 'another link' %>
            </div>
          </div>

          <div class="edit_playlist_info_right_column_credits">
            <div class="input">
              <label for="playlist_credits">Credits</label>
              <%= f.text_area :credits %>
            </div>
          </div>

          <% if @playlist.persisted? %>
          <div class="edit_playlist_info_right_column_private_and_hidden" data-target="privateToggle" style="display:none">
            <div class="input">
              <%= f.check_box :private, data: { target: 'actualCheckbox' } %>
              <label for="playlist_private" data-target="markAsPrivate" data-action='click->playlist-edit#togglePrivate'><span>Private</span></label>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="edit_playlist_info_bottom">

        <div class="private_warning" data-target="privateBanner" style="display:none">
          This playlist is private, visible only to <span class="only_user_name"><%= @user.display_name %></span> and <span class="only_alonetone_mods">alonetone mods</span>
        </div>

        <div class="private_warning" data-target="needsTracksBanner" style="display:none">
          This playlist will be private until <span class="only_user_name">at least 2 tracks</span> are added
        </div>

        <%= link_to 'Delete', user_playlist_path(@user, @playlist.permalink), :class => "delete_playlist", method: :delete, data: { confirm: 'Are you sure, it will be gone forrrrreevrrrrrrr? Note: the actual tracks will remain, just the playlist will be deleted.' } if @playlist.persisted? %>

        <% if @playlist.persisted? %>
          <%= submit_tag "Save playlist" %>
        <% else %>
          <%= submit_tag "Create playlist" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
