<div class="playlist-sidebar">

  <%= link_to playlist_cover(@playlist, variant: :original), user_playlist_path(@playlist.user, @playlist), class: 'small-cover', style: ('display:none;' unless @asset) %>
  <h1 class="<%= 'cover' unless @asset %>">
    <%= @playlist.title %>
  </h1>
  <h2>
    <span class="by">by</span> <%= link_to @user.display_name, user_home_path(@user) %>

  </h2>

  <ul class="tracklist">
  <% @playlist.tracks.each do |track| %>
    <li data-controller="playlist-playback" data-action="popstate@window->playlist-playback#popTrack ajax:success->playlist-playback#loadTrack" data-playlist-playback-id="<%= track.asset.id %>" class="<%= ' active' if track.asset == @asset %>">

    <!-- Play button automagically plays AND changes to relevant track details  -->
    <%= link_to user_show_track_in_playlist_path(@user, @playlist, track.asset),
      class: 'play-button', data: { target: "playlist-playback.play", action: "click->playlist-playback#togglePlay" }  do %>
      <i class="icon_play"></i>
    <% end %>

    <!-- Track title just switches track details-->
    <%= link_to user_show_track_in_playlist_path(@user, @playlist, track.asset),
      remote: true, class: 'position-name-time', data: { target: "playlist-playback.loadTrack" } do %>
      <span class="track-position">
        <%= "%02d" % track.position %>.
      </span>
      <span class="track-name">
        <%= track.name %>
      </span>
      <span class='time-text'><%= track.asset.length %></span>
    <% end %>
    </li>
  <% end %>
  </ul>

  <div class="sidebar-downloads"
    style="<%= 'display:none' unless @asset %>">
    <ul class="downloads-links">
      <% @playlist.greenfield_downloads.each do |download| %>
        <li>
         <%= link_to downloads_user_playlist_path(@playlist.user, @playlist, download, download.attachment_file_name) do %>
           <i class="fa fa-download"></i><%= download.title %><span class='action-text'>Download</span>
         <% end %>
       </li>
      <% end %>
    </ul>

    <ul class="external-links">
      <% [:link1, :link2, :link3].collect do |link| %>
        <% if valid_link = @playlist.send(link) %>
          <li>
            <%= external_link_for(valid_link) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if authorized? %>
  <div class="edit_playlist_container">
    <%= link_to edit_user_playlist_path(@playlist.user, @playlist), class: 'edit_playlist', :title => 'edit this playlist' do %>
      edit playlist
    <% end %>

    <%= link_to "edit descriptions", mass_edit_user_tracks_path(@playlist.user, assets: @playlist.assets.collect(&:id)), class: 'edit_playlist' %>
  </div>
  <% end %>

</div>

