<% content_tag_for :li, track do %>
	<div class="move" style="display:none;"> </div>
	
	<% if authorized_for(track.asset) %>
	  <div class="edit" style='display:none;'><%= link_to "edit", edit_user_track_path(track.asset.user, track.asset) %></div>
	<% end %>
	<div class="share" style='display:none;'><%= link_to "share!", "#" %></div>

	<div class="play-button button"> </div>
	<div class="title"><%= link_to_play track.asset %></div>
	<div class="artist">by <%= link_to h(track.asset.user.name), user_home_path(track.asset.user) %></div>
	<div class="time"><%= track.asset.length %> </div>
	<div class="download-button button"><%= link_to '<i>download</i>', formatted_user_track_path(track.asset.user, track.asset.permalink, :mp3) %></div>
	<div class="track-right">
		
		<% if authorized_for(@playlist) %>
			<div class="delete-button button <%= 'admin' if admin? %>" style="display:none;">
				<%= link_to_remote('<i>delete</i>', 
				:url => remove_track_user_playlist_path(@user, @playlist.permalink,:track_id => track.id.to_s)) if authorized? %>
			</div>
		<% end %>
		  <div class="comment-button button comment <%= 'admin' if admin? %>" style="display:none;">
		    	<%= link_to "<i>comment on #{track.asset.name}</i>", '#' %>
		  </div>
		</div>

<% end %>
<% content_for :comment do %>
  	<%= render :partial => 'assets/comment', :object => track %>
<% end %>

<% content_for :share do %>
	<%= render :partial => 'assets/share', :object => track %>
<% end %>