<%= error_messages_for :playlist %>
<%= render :partial => 'inline_help'%>

<% content_for :left do %>
  
  <div id="edit_playlist">
    <% render :layout => 'playlist_layout' do %>

      <%= link_to 'edit title &amp; description','#edit_playlist_info',:class=>'slide_open_href edit right' %>
      
      <div id="pic_upload" class="static_content" style="display:none;">
    	Upload a square photo, 400px by 400px for best results.<br/>
    		<% form_for :pic, :url => attach_pic_user_playlist_path(@user, @playlist), :html => {:multipart => true, :method => :post} do |f| %>
    			<%= f.file_field :uploaded_data  %>
    			<%= submit_tag "Upload new Pic" %>
    		<% end %>
      </div>
      <div id="edit_playlist_info" class="static_content" style="display:none;">
        <%= link_to 'delete playlist', destroy_user_playlist_path(@user, @playlist), :class => 'delete button'%>

        <% form_for [@user, @playlist] do |f| %>
            <%= render :partial => 'form', :locals => {:f => f} %>
            <div class="submit_wrapper">
                <%= f.submit "update" %>
            </div>
        <% end %>
      </div>
      <%= render :partial => 'track', :collection => @playlist.tracks %>
    <div id="drop_here">
      Drop Track here
    </div>
    <% end %>
  </div>
  
<% end %>
	
<%= link_to 'add_track_url', add_track_user_playlist_path(@user, @playlist.permalink), :id => 'add_track_url',:class=> 'hidden' %>	
<%= link_to "sort tracks url", sort_tracks_user_playlist_path(@user, @playlist.permalink), :id => 'sort_tracks_url',:class=> 'hidden' %>


<% content_for :right do %>
  <%= render :partial => 'playlist_sources' %>
<% end %>

