<%= error_messages_for :playlist %>

<div id="edit_playlist_info" class="box">
  <h2>Playlist Settings for "<%= @playlist.title %>"</h2>

    <div class="edit_playlist_info_columns">
      <div class="edit_playlist_info_left_column">
          <label>ALBUM ARTWORK</label>
          <%= link_to '#needstotriggerclickforform', :title => "#{@playlist.title}", :class => "cover" do %>
            <%= playlist_cover(@playlist, :original) %>
          <% end %>
          <%= form_for :pic, url: attach_pic_user_playlist_path(@user, @playlist), html: {multipart: true, method: :post} do |f| %>
            <%= f.file_field :pic  %>
            <%= submit_tag "Upload new Pic" %>
          <% end %>
          <p>
            Upload a square photo, 2000px by 2000px for best results.
          </p>
      </div>
      <%= simple_form_for [@user, @playlist], html: { class: 'edit_playlist_info_right_column' } do |f| %>
        <div class="edit_playlist_info_right_column_title_and_year">
          <%= f.input :title %>
          <%= f.input :year, input_html: {maxlength: 4, size: 4} %>
        </div>
        <div class="edit_playlist_info_right_column_links">
          <%= f.input :link1, placeholder: 'link to spotify, itunes, google play, etc' %>
          <%= f.input :link2, placeholder: 'another link' %>
        </div>

        <div class="edit_playlist_info_right_column_credits">
          <%= f.input :credits %>
        </div>

        <% if moderator? %>
          <%= f.simple_fields_for :greenfield_downloads do |sf| %>
            <%= sf.input :title, label: sf.object.attachment_file_name + ':' %>
          <% end %>
        <% end %>
        <div class="edit_playlist_info_right_column_private_and_hidden">
          <div class="input boolean optional playlist_private">
            <input value="0" type="hidden" name="playlist[private]">
            <input class="boolean optional" type="checkbox" value="1" checked="checked" name="playlist[private]" id="playlist_private">
            <label class="boolean optional control-label checkbox" for="playlist_private"><span>Private</span></label>
          </div>
          <span class="private_notice">| Playlists are hidden until they have more than 2 tracks</span>
        </div>
    </div>
    <div class="edit_playlist_info_bottom">
      <%= link_to 'Delete playlist', user_playlist_path(@user, @playlist.permalink), method: :delete, data: { confirm: 'Are you sure, it will be gone forrrrreevrrrrrrr!' } %>
      <%= f.button :submit, "save playlist" %>
    </div>
    <% end %>
</div>
<div id="columns" class="edit_playlist_columns" data-controller="playlist-edit">
  <div id="left">
    <p class="left_instructions">
      You can reorder your playlist by dragging your tracks. Remove them from the playlist with the <span class="remove-inner-inline"><%= render file: svg_path('svg/icon_x.svg') %></span>
 icon.
    </p>
    <div class="box">
      <div class="left_column_box_header">
        <h2><%= @playlist.title %> <span class="playlist_date">(2018)</span></h2>
        <div>
           <span class="playlist_track_size">9 tracks</span> <span class="playlist_dash">&mdash;</span> <span class="playlist_total_time">24:81</span>
        </div>
      </div>
      <div class="sortable" data-target="playlist-edit.sortable">
        <% @playlist.tracks.each do |track| %>
        <div class="asset playlist_asset" data-controller="normal-playback playlist-update" data-normal-playback-openable="false" id="track_<%= track.id %>">
          <%= render partial: 'assets/asset_white', locals: { asset: track.asset } %>
          <a href="#" class='remove' data-target="playlist-update.remove" data-action="playlist-update#remove">
            <div class="remove-inner">
                <%= render file: svg_path('svg/icon_x.svg') %>
            </div>
          </a>
        </div>
        <% end %>
      </div>
     <% if @playlist.tracks.size > 0 %>
      <div class="playlist_size">
      <%= "<span data-target='playlist-edit.size'>#{@playlist.tracks.size}</span> tracks by #{@playlist.is_mix? ? "various artists" : @playlist.tracks.first.asset.user.display_name}".html_safe %>
      </div>
    </div>
    <div class="playlist_feedback" data-target="playlist-edit.feedback">
    </div>
    <% end %>
     <div class="spinner" data-target="playlist-edit.spinner">spinning...</div>
  </div>

  <div id="right">
    <p class="right_instructions">
       Click the <span class="add-inner-inline"><%= render file: svg_path('svg/icon_+.svg') %></span> icon on a track below to add it to the playlist selection.
    </p>
    <div id="playlist_sources" class="box draggable_wrapper">
        <div class="right_column_box_header">
          <h2>Available tracks</h2>
          <div class="available_tracks_total">
            2,181 tracks total
          </div>
        </div>
        <div id="playlist_tabs">
          <ul id="playlist_source_options" class="tabs" data-target="playlist-edit.tabs">
            <li><%= link_to 'Your Uploads', '#your_uploads', class: 'playlist_option', id: 'open_your_stuff' if @user.has_tracks? %></li>
            <li><%= link_to "Your Listens", "#your_listens", class: 'playlist_option', id: 'open_your_listens' %></li>
            <li><%= link_to "Favs", '#your_favorites', class: 'playlist_option', id: 'open_your_favorites' %></li>
          </ul>
        </div>
        <div id="your_uploads" class="playlist_source">
          <div class="mini_paginator">
            <%== pagy_nav @assets_pagy %>
          </div>
          <% @assets.each do |asset| %>
            <div class="asset playlist_asset" data-controller="normal-playback playlist-update" data-normal-playback-openable="false" id="asset_<%= asset.id %>">
              <%= render partial: 'assets/asset_white', locals: { asset:asset } %>
              <a href="#" class='add' data-target="playlist-update.add" data-action="playlist-update#add">
                <div class="add-inner">
                  <%= render file: svg_path('svg/icon_+.svg') %>
                </div>
              </a>
              <a href="#" class='remove' data-target="playlist-update.remove" data-action="playlist-update#remove" style="display:none">
                <div class="remove-inner">
                    <%= render file: svg_path('svg/icon_x.svg') %>
                </div>
              </a>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <%= link_to 'add_track_url', add_track_user_playlist_path(@user, @playlist.permalink), 
    data: { target:'playlist-edit.addUrl' }, class: 'hidden add_url' %>  
  <%= link_to 'remove_track_url', remove_track_user_playlist_path(@user, @playlist.permalink), 
    data: { target:'playlist-edit.removeUrl' }, class: 'hidden remove_url' %>
  <%= link_to "sort tracks url", sort_tracks_user_playlist_path(@user, @playlist.permalink), 
    data: { target:'playlist-edit.sortUrl' }, class: 'hidden sort_url' %>
</div>
