<%= error_messages_for :playlist %>

<div id="edit_playlist_info" class="faq box">
  <p>
    22 tracks total, 38 plays, 4 hearts
  </p>
  <h2>Playlist Settings for "<%= @playlist.title %>"</h2>
  <p>
    Add metadata or instructions here.
  </p>

  <%= render 'add_greenfield_downloads' if allow_greenfield_playlist_downloads?(@user) %>

  <%= simple_form_for [@user, @playlist] do |f| %>

    <div class="edit_playlist_columns">
      <div class="edit_playlist_left_column">
          <label>ALBUM ARTWORK</label>
          <%= form_for :pic, :url => attach_pic_user_playlist_path(@user, @playlist), :html => {:multipart => true, :method => :post} do |f| %>
            <%= f.file_field :pic  %>
            <%= submit_tag "Upload new Pic" %>
          <% end %>

          <p>
            Upload a square photo, 2000px by 2000px for best results.
          </p>

      </div>
      <div class="edit_playlist_right_column">
        <div class="edit_playlist_right_column_title_and_year">
          <%= f.input :title %>
          <%= f.input :year, :input_html => {:maxlength => 4, :size => 4} %>
        </div>
        <div class="edit_playlist_right_column_links">
          <%= f.input :link1, placeholder: 'link to spotify, itunes, google play, etc' %>
          <%= f.input :link2, placeholder: 'another link' %>
        </div>

        <div class="edit_playlist_right_column_credits">
          <%= f.input :credits %>
        </div>

        <% if moderator? %>
          <%= f.simple_fields_for :greenfield_downloads do |sf| %>
            <%= sf.input :title, label: sf.object.attachment_file_name + ':' %>
          <% end %>
        <% end %>
        
        <div class="edit_playlist_right_column_private_and_hidden">
          <%= f.input :private %> &nbsp; | (Playlists are hidden until they have more than 2 tracks)
        </div>
      </div>
    </div>
    
    <div class="edit_playlist_bottom">
      <%= link_to 'Delete playlist', user_playlist_path(@user, @playlist.permalink), :method => :delete, data: { confirm: 'Are you sure, it will be gone forrrrreevrrrrrrr!' } %>
      <%= f.button :submit, "Save" %>
    </div>
  <% end %>
</div>
<div class="edit_playlist_pro_upload faq box">
  <div class="pro_upload_left">
    <h1>Professional Upload System&trade;</h1>
    <p>
      You can upload a ZIP file containing the playlist contents, and we'll populate the playlist for you.
    </p>
  </div>
  <a class="upload_zip" href="">
    Upload ZIP file
  </a>
</div>

<div data-controller="playlist-edit">
<% content_for :left do %>
  <p class="left_instructions">
    You can reorder your playlist by dragging your tracks. Remove them from the playlist with the [x] icon.
  </p>
  <div id="edit_playlist">
    <%= render :layout => 'playlist_layout', :locals => {:playlist => @playlist} do %>
      <% @playlist.assets.each do |asset| %>
      <div class="asset" data-controller="normal-playback">
        <%= render partial: 'assets/asset_white', locals: { asset: asset} %>
      </div>
      <% end %>
      <div id="drop_here" data-target="playlist-edit.dropzone">
        Drop Tracks Here To Add
      </div>
    <% end %>
  </div>

<% end %>

<%= link_to 'add_track_url', add_track_user_playlist_path(@user, @playlist.permalink), :id => 'add_track_url',:class=> 'hidden' %>
<%= link_to "sort tracks url", sort_tracks_user_playlist_path(@user, @playlist.permalink), :id => 'sort_tracks_url',:class=> 'hidden' %>

<% content_for :right do %>
<p class="right_instructions">
  Click a track below to instantly add it to the playlist selection.
</p>
  <div id="playlist_sources" class="box draggable_wrapper">
  	<div class="draggable_tracks">
  		<h2 class="box">Available tracks</h2>
  	  <div id="playlist_tabs">
        <ul id="playlist_source_options" class="tabs" data-target="">
          <li><%= link_to 'Your Uploads', '#your_uploads', :class => 'playlist_option', :id => 'open_your_stuff' if @user.has_tracks? %>      </li>
          <li><%= link_to "Your Listens", "#your_listens", :class => 'playlist_option', :id => 'open_your_listens' %>                         </li>
          <li><%= link_to "Favs", '#your_favorites', :class => 'playlist_option',:id => 'open_your_favorites' %>                                            </li>
        </ul>

         <%= render :partial => 'your_stuff' %>
  	     <%= render :partial => 'your_listens' %>
         <%= render :partial => 'your_favorites' if @favorites%>
       </div>
  	</div>
  </div>
<% end %>
</div>

