<h1>Editing '<%= @playlist.title %>'</h1>
	
	<%= error_messages_for :playlist %>
		<%= render :partial => 'inline_help'%>

	<% content_for :left do %>
	  
	  <div id="edit_playlist">
	    <% render :layout => 'playlist_layout' do %>
        <%= render :partial => 'track', :collection => @playlist.tracks %>
      <div id="drop_here">
        Drop Track here
      </div>
      <% end %>
      
	
      <div id="pic_upload" style="display:none;">
      	Upload a square photo, 400px by 400px for best results.<br/>
      		<% form_for :pic, :url => attach_pic_user_playlist_path(@user, @playlist), :html => {:multipart => true, :method => :post} do |f| %>
      			<%= f.file_field :uploaded_data  %>
      			<%= submit_tag "Upload new Pic" %>
      		<% end %>
      </div>
    </div>
    
  <% end %>
	
	<%= link_to 'add_track_url', add_track_user_playlist_path(@user, @playlist.permalink), :id => 'add_track_url',:class=> 'hidden' %>

	 	<!--  :with =>"'asset_id=' + encodeURIComponent(element.id)" -->
	
			
	<%= link_to "sort tracks url", sort_tracks_user_playlist_path(@user, @playlist.permalink), :id => 'sort_tracks_url',:class=> 'hidden' %>


<% content_for :right do %>
  <div id="playlist_sources" class="draggable_wrapper">	
  	<div class="draggable_tracks">
  		<h2>Available tracks</h2>
  		<div class="info">
  			<%= render :partial => 'options' %>
  			<div id="search_box" style="display:none;">
  				Search for an alonetone track: <%= # render :partial => 'assets/search' 
  				%>
  			</div>
  			<br/><br/>
  				Drag tracks from below to your playlist on the left
  		</div>
    
      <%= render :partial => 'your_stuff' %>


  		<div id="your_listens_box" class="playlist_source" style="display:none;">
  			<div class="scriptaculous">

  			<%= render :partial => 'listen', :collection => @listens %>
   			</div>
  		</div>

  		<div id="search_alonetone" class="playlist_source" style="display:none;">
  			<div class="scriptaculous">
  				<div id="results"> </div>
  			</div>
  		</div>
  	</div>
  </div>

<% end %>

