<%= render partial: 'form' %>
<div id="columns" class="edit_playlist_columns" data-controller="playlist-sort">
  <div id="left">
    <p class="left_instructions">
      Reorder tracks by dragging them by their handle <span class="mini_handle_icon"><%== render file: svg_path('svg/icon_mini_handle_for_instructions.svg') %></span> icon.<br>
      Remove them with the <span class="mini_remove_icon"><%== render file: svg_path('svg/icon_mini_x_for_instructions.svg') %></span>
 icon.
    </p>
    <div class="box">
      <div class="left_column_box_header">
        <h2><%= @playlist.title %></h2>
        <div>
           <span class="playlist_track_size" data-target="playlist-sort.trackCount"><%= pluralize @playlist.tracks_count, 'track' %></span> <span class="playlist_dash">&mdash;</span>
           <span class="playlist_total_time" data-target="playlist-sort.totalTime"><%= @playlist.play_time %></span>
        </div>
      </div>
      <div class="sortable" data-target="playlist-sort.sortable">
        <% @playlist.tracks.each do |track| %>
        <div class="asset playlist_asset" data-controller="normal-playback playlist-update" data-normal-playback-openable="false" data-id="<%= track.id %>" data-time="<%= track.asset.seconds %>">
          <%= render partial: 'assets/asset_white', locals: { asset: track.asset } %>
          <a href="#" class='remove' data-target="playlist-update.remove" data-action="playlist-update#remove">
            <div class="remove-inner">
                <%== render file: svg_path('svg/icon_x.svg') %>
            </div>
          </a>
        </div>
        <% end %>
      </div>
      <div class="playlist_size">
        <%= "<span data-target='playlist-sort.size'>#{@playlist.tracks.size}</span> tracks by #{@playlist.is_mix? ? "various artists" : @playlist.user.name}".html_safe %>
      </div>
    <div class="small_spinner" data-target="playlist-sort.spinner"></div>
    </div>
  </div>

  <div id="right">
    <p class="right_instructions">
       Click the <span class="mini_add_icon"><%== render file: svg_path('svg/icon_mini_+_for_instructions.svg') %></span> icon on a track below to add it to the playlist selection.
    </p>
    <div id="playlist_sources" class="box draggable_wrapper">
        <div class="right_column_box_header">
          <h2>Available tracks</h2>
          <div class="available_tracks_total">
            <%= @user.assets_count %> tracks total
          </div>
        </div>
        <div id="playlist_tabs">
          <ul id="playlist_source_options" class="tabs" data-target="playlist-sort.tabs">
            <li><%= link_to 'your uploads', '#your_uploads', class: 'playlist_option', id: 'open_your_stuff' if @user.has_tracks? %></li>
          </ul>
        </div>
        <div class="mini_paginator">
          <%== pagy_nav @assets_pagy %>
        </div>
        <div id="your_uploads" class="playlist_source">
          <% @assets.each do |asset| %>
            <div class="asset playlist_asset" data-controller="normal-playback playlist-update" data-normal-playback-openable="false" id="asset_<%= asset.id %>"  data-time="<%= asset.seconds %>">
              <%= render partial: 'assets/asset_white', locals: { asset:asset } %>
              <a href="#" class='add' data-target="playlist-update.add" data-action="playlist-update#add">
                <div class="add-inner">
                  <%== render file: svg_path('svg/icon_+.svg') %>
                </div>
              </a>
              <a href="#" class='remove' data-target="playlist-update.remove" data-action="playlist-update#remove">
                <div class="remove-inner">
                    <%== render file: svg_path('svg/icon_x.svg') %>
                </div>
              </a>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <%= link_to 'add_track_url', add_track_user_playlist_path(@user, @playlist.permalink),
    data: { target:'playlist-sort.addUrl' }, class: 'hidden add_url' %>
  <%= link_to 'remove_track_url', remove_track_user_playlist_path(@user, @playlist.permalink),
    data: { target:'playlist-sort.removeUrl' }, class: 'hidden remove_url' %>
  <%= link_to "sort tracks url", sort_tracks_user_playlist_path(@user, @playlist.permalink),
    data: { target:'playlist-sort.sortUrl' }, class: 'hidden sort_url' %>
</div>
