<%= render(:partial => 'users/user') %>

<h1>Create a new album or mix</h1>
<h2 class="spacey">Your playlist will become public as soon as it has some tracks in it</h2>

<%= error_messages_for :playlist %>


<div class="container static_content">
<%= form_for [@user, @playlist] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>

