<div id="playlist-and-track-content">

<%= render 'playlist_white' %>

<% if @asset %>
  <%= render partial: 'shared/asset_white' %>
<% else %>

  <div class="track-content track-content-cover-view">
    <div class="large-cover">
      <%= greenfield_playlist_cover(@playlist, :greenfield) %>
    </div>
    <% if @playlist.has_any_links? %>
    <div class="playlist-options">
      <%= render partial: 'links' %>
    </div>
    <% end %>

    <% if @playlist.credits %>
    <div class="playlist-credits">
      <%= markdown(@playlist.credits) %>
    </div>
    <% end %>
  </div>
<% end %>

</div>