<%= content_for :head do %>
  <% if @playlist.cover_image_present? %>
    <%= tag(:link, rel: 'preload', href: playlist_cover_url(@playlist, variant: :greenfield), as: 'image')%>
  <% end %>
<% end %>

<div id="playlist-and-track-content">
  <%= render 'playlist_white' %>

  <% if @asset %>
    <%= render partial: 'shared/asset_white' %>
  <% else %>
    <%= content_for(:body_class, 'cover-view') %>
    <div class="track-content">
      <div class="large-cover-and-credits">
        <div class="large-cover">
          <%= playlist_cover(@playlist, variant: :greenfield) %>
        </div>
        <% if @playlist.has_any_links? %>
        <div class="playlist-options">
          <%= render partial: 'links' %>
        </div>
        <% end %>
      </div>
      <% if defined?(@old_cover_alert) and authorized?  %>
        <div class="playlist-cover-alert">
          Hey, <%= current_user.display_name %> this cover is from <strong><%= @playlist.pic.created_at.year %></strong> and is very blurry since we only saved a
          small 200x200px version of it.
          Go <%= link_to 'Upload a higher res one', edit_user_playlist_path(@playlist.user, @playlist),
            class: 'edit_playlist', :title => 'edit this playlist' %> if you can!</a>
        </div>
      <% end %>
      <% if @playlist.credits.present? %>
        <div class="playlist-credits">
        <%= markdown(@playlist.credits) %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

