<%= content_for :head do %>
  <% unless @playlist.has_no_cover? %>
  <link rel="preload" href="<%= @playlist.cover(:greenfield) %>" as="image">
  <% end %>
<% end %>

<div id="playlist-and-track-content">
<%= render 'playlist_white' %>

<% if @asset %>
  <%= render partial: 'shared/asset_white' %>
<% else %>

  <div class="track-content track-content-cover-view">
    <div class="large-cover">
      <%= playlist_cover(@playlist, :greenfield) %>
    </div>
    <% if @playlist.has_any_links? %>
    <div class="playlist-options">
      <%= render partial: 'links' %>
    </div>
    <% end %>

    <div class="playlist-credits">
      <%= markdown(@playlist.credits) %>
      <%= link_to edit_user_playlist_path(@playlist.user, @playlist), :title => 'edit this playlist' do %>
      <span>edit playlist</span>
      <% end %>
    </div>
  </div>
<% end %>

</div>