<% div_for feature do %>
    <div class="box">
        <h2>Featured alonetoner: <%= link_to "#{h feature.featured_user.name}", feature_path(feature.featured_user.login) %> </h2>
        <h3><%= user_location(feature.featured_user)%></h3>
        <%= link_to 'edit', edit_feature_path(feature.featured_user.login), :class => 'edit right' if admin? %>
    </div>
    <div class="details clearfix">
        <div class="pic">
            <%= link_to(image_tag(feature.featured_user.avatar(:large),:alt => "featured alonetone artist: #{feature.featured_user.name}"), feature_path(feature.featured_user.login), :title => "#{feature.featured_user.name} on alonetone") %>
        </div>
        <div class="feature_teaser">
           <%= feature.teaser_text %>
           <%= link_to "view feature", feature_path(feature.permalink), :class => 'view_more_no_float' %>
           <%= link_to "view all features", features_path, :class => 'view_more_no_float' %>

        </div>
    </div>
<% end %>