<h1>Editing feature</h1>

<% content_for :left do %>
    <%= form_for(@feature) do |f| %>
     <%= render partial: 'form', locals: {f: f}%>

      <p>
        <%= f.label :published %><br />
        <%= f.check_box :published %>
      </p>
      <p>
        <%= f.submit "Update" %>
      </p>
    <% end %>
<% end %>

<% content_for :right do %>
    <div class="static_content">
        <% for asset in @assets %>
            <%= asset.id.to_s%> : <%= asset.name %><br/>
        <% end %>
    </div>
<% end %>


<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>
