<%= form_for(@post, :url => post_form_path(@post)) do |f| %>
  <div>
    <%= @post.asset.title %>
    <%= hidden_field_tag :asset_permalink, @post.asset.permalink %>
  </div>

  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.fields_for(:attached_assets) do |f| %>
      <%= f.file_field :mp3 %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
