<%= form_for(@post) do |f| %>
  <div>
    <%= @post.asset.title %>
    <%= f.hidden_field :asset_id %>
  </div>

  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.fields_for(:attached_assets) do |f| %>
      <%= f.file_field :mp3 %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
