<%= form_for([@post.user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      There were some problems...
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :asset do |ff| %>
    <header>
      <h1><%= ff.text_field :title, :value => @post.asset.name %></h1>
      <h2><%= @post.asset.user.display_name %></h2>
    </header>
  <% end %>

  <%= player(@post.asset) %>

  <div class="post_content">
    <%= f.text_area :body, :placeholder => "Tell us a story..." %>
  </div>
  
  <div class="edit_save">
    <%= f.submit %>
  </div>
  
  <%= hidden_field_tag :asset_permalink, @post.asset.permalink %>
  <div class="drag_and_drop_upload">
      Drop "supporting" mp3 files here
  </div>
  <% asset_path = user_post_attached_assets_path(@post.user, @post) %>
  <ul class="supporting_file_list fa-ul">
    <%= list_attached_mp3_assets(@post.attached_assets) %>
  </ul>
  <%= file_field_tag('attached_asset[mp3]', :'data-url' => asset_path, :class => 'mp3_upload', :multiple => true) %>
<% end %>
