<%= form_for([@post.user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      There were some problems...
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @post.title %>
    <%= hidden_field_tag :asset_permalink, @post.asset.permalink %>
  </div>

  <div>
    <%= f.text_area :body %>
  </div>

  <% asset_path = user_post_attached_assets_path(@post.user, @post) %>
  <%= mp3_upload('attached_asset[mp3]', asset_path, @post.attached_assets) %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
