<%= form_for([@post.user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      There were some problems...
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :asset do |ff| %>
    <header>
      <h1 class="alrightsansblack"><%= ff.text_field :title, :value => @post.asset.name, :class => 'alrightsansblack' %></h1>
      <h2 class="alrightsansregular"><%= @post.asset.user.display_name %></h2>
    </header>
  <% end %>

  <%= player(@post.asset) %>

  <div class="post_content">
    <%= f.text_area :body, :placeholder => "Tell us a story..." %>
  </div>
  
  <div class="edit_save">
    <%= f.submit %>
  </div>
  
  <%= hidden_field_tag :asset_permalink, @post.asset.permalink %>
  <div class="drag_and_drop_upload">
      Drop "supporting" mp3 files here
  </div>
  <% asset_path = user_post_attached_assets_path(@post.user, @post) %>
  <ul class="supporting_file_list fa-ul">
    <%= mp3_upload('attached_asset[mp3]', asset_path, @post.attached_assets) %>
  </ul>
<% end %>
