<%= form_for([@post.user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      There were some problems...
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @post.title %>
    <%= hidden_field_tag :asset_permalink, @post.asset.permalink %>
  </div>

  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.fields_for(:attached_assets) do |f| %>
      <%= f.file_field :mp3 %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
