<div class="track-content">
  <%= player(@post.asset) %>  
  <div class="post-content">
    <h1><%= @post.asset.name %></h1>
    <% if owner? and @playlist %> 
      <%= link_to("Edit", user_edit_playlist_post_path(@post.user, @playlist, @post), class: "edit-link") %>
    <% else %>
      <%= link_to("Edit", edit_user_post_path(@post.user, @post), class: "edit-link") %>
    <% end %>
    <%= markdown(@post.body, post: @post) %>
  </div>
</div>
