<header>
  <%= image_tag(@post.asset.user.avatar(:large)) %>
  <h1><%= @post.asset.user.display_name %></h1>
  <h2>&mdash; <%= @post.asset.title %></h2>
</header>

<%= player(@post.asset) %>

<div class="description">
  <%= markdown(@post.body, post: @post) %>
</div>
