<header>
  <%= image_tag(@post.asset.user.avatar(:large)) %>
  <h1><%= @post.asset.user.display_name %></h1>
  <h2>&mdash; <%= @post.asset.title %></h2>
</header>


<div class="player">
  <div class="play-button play-control">
    <%= link_to '', main_app.user_track_path(@post.asset.user.login, @post.asset.permalink, :format => :mp3) %>
  </div>

  <div class="waveform" data-waveform="<%= @post.asset.waveform.join(', ') %>">
  </div>

  <div class="download-button">
    <%= link_to '', main_app.user_track_path(@post.asset.user.login, @post.asset.permalink, :format => :mp3) %>
  </span>
</div>

<div class="description">
  <%= markdown(@post.body) %>
</div>
