<header>
  <%= image_tag(@post.asset.user.avatar(:large)) %>
  <h1><%= @post.asset.user.display_name %></h1>
  <h2>&mdash; <%= @post.asset.title %></h2>
</header>

<%= player(@post.asset) %>

<div class="description">
  <%= markdown(@post.body, post: @post) %>
</div>

<br /><br />
<div>
  <% @post.attached_assets.each do |asset| %>
    <%= link_to asset.mp3_file_name, post_attached_asset_path(@post, asset) %>
  <% end %>
</div>
