<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title><%= @page_title %> </title>
    <%= stylesheet_link_tag 'reset','typography', 'layout', 'nav', 'flash', 'tracks','playlists','tabs','alonetone', :cache => 'all'%>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="verify-v1" content="aaIrlgAaz4LTgcMLni358eS3yFVofWVpOykHzegpXS4=" />
		<%= yield :css %>
		<link rel="alternate" type="application/rss+xml" title="Latest uploaded mp3s on alonetone" href="/latest.rss"/>
    <%= javascript_include_tag 'jquery','soundmanager','jquery-ui','jquery-fx','jquery-easing','jquery-carousel','jquery-lowpro','jquery-tabs', 'jquery-png','application', :cache => true %>
  </head>
  <body>
  
      <div id="header">
        <a href="/" alt="home" id="logo"></a>
				<%= render :partial=> 'shared/nav' %>
        <%= render :partial=> 'shared/search' %>
      </div> <!-- end of header -->
		
		<div id="wrapper">
    <div id="content" class="content">    
      <div id="top_bar">
        <%= render :partial => 'shared/search'%>
        <%= render :partial => 'shared/user_bar', :current_user => current_user %>
      </div>
    
		  <%= render :partial => 'shared/flash', :locals => {:flash => flash}%>
		  <%= render :partial => 'shared/notice' if @notice %>
      <div id="main">
		      <%= yield %>
      </div>
      <div id="columns">
				<div id="left">
					<%= yield :left %>
				</div>
		
				<div id="right">
					<%= yield :right %>
				</div>	
			</div> <!-- end main -->


	   </div><!-- end content -->
	   </div><!-- end wrapper -->
    <div id="footer_spacer"> </div>
		<div id="footer">
			<%= render :partial => 'shared/footer' %>
		</div>
	  
  	<script type="text/javascript">
  	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  	</script>
  	<script type="text/javascript">
  	var pageTracker = _gat._getTracker("UA-241978-4");
  	pageTracker._initData();
  	pageTracker._trackPageview();
  	</script>
  	<script type="text/javascript">soundManager.createMovie();</script>
  </body>
</html>