<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title><%= @page_title || 'alonetone, a damn fine home for musicians' %> - alonetone</title>
    <%= stylesheet_link_tag 'reset','typography', 'layout', 'nav', 'flash', 'tracks','playlists','tabs','facebox','alonetone','forums', :cache => 'alonetone-v2'%>
		<%= stylesheet_link_tag 'ie6' if request.env['HTTP_USER_AGENT'] and request.env['HTTP_USER_AGENT'].include? "MSIE 6.0" %>
        <%= '<meta name="robots" content="noindex,nofollow" />' unless request.host =~ /^http:\/\/alonetone.com|^alonetone.com/ %>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="verify-v1" content="aaIrlgAaz4LTgcMLni358eS3yFVofWVpOykHzegpXS4=" />
        <meta content="index,follow" name="robots"/>
        <meta content="<%=@description ||  'alonetone, the kick ass home for musicians. Listen and download free music from, independent artists. Unlimited space for artists to upload mp3s' %>" name="Description"/>
		<meta content="<%=@keywords || 'alonetone, upload, mp3, musician, home, music, independent, artist, free, legal, mp3'%>" name="Keywords" />
		<%= yield :css %>
		<link rel="alternate" type="application/rss+xml" title="Latest uploaded mp3s on alonetone" href="/latest.rss"/>
		<link rel="alternate" type="application/rss+xml" title="alonetone news" href="/updates.rss"/>

    <%= javascript_include_tag 'jquery-1.2.6','soundmanager','jquery-ui-and-tabs','jquery-carousel','jquery-lowpro','jquery-hotkeys','facebox','application', :cache => 'allonetone' %>
    
    <!-- ensure token is available to javascript for accessible link posts, etc -->
    <%= render :partial => 'shared/javascript_auth_token' %>
  
  </head>
  <body>
      <div id="top_bar">
        <%= render :partial => 'shared/top_bar', :current_user => current_user %>
      </div>
      <div id="header">
        <a href="/" title="go home to alonetone" id="logo"></a>
				<%= render :partial=> 'shared/nav' %>
      </div> <!-- end of header -->
		
	<div id="wrapper">
    <div id="content" class="content">    
		  <%= check_for_and_display_welcome_back %>
		  <%= check_for_and_display_flashes %>
      <div id="main">
		      <%= yield %>
      </div>
      <div id="static">
          <%= yield :static %>
      </div>
      <div id="columns">
				<div id="left">
					<%= yield :left %>
				</div>
		
				<div id="right">
					<%= yield :right %>
				</div>	
				<div class="clear"> </div>
				<%= yield :bottom %>
	  </div> <!-- end columns -->
            <% if ALONETONE.show_debug_info %>
                <div style="width:100%;min-height:200px;color:#fff">
                    <% if current_user %>
                        last seen at <%= current_user.last_seen_at %><br/>
                        last session at <%= current_user.last_session_at %><br/>
                        <%= debug session %>
                        <%= debug current_user if logged_in? %>
                    <% end %>
                    
                </div>
            <% end %>

	   </div><!-- end content -->
	   </div><!-- end wrapper -->
    <div id="footer_spacer"> </div>
		<%= render :partial => 'shared/footer' %>
	  
  	<script type="text/javascript">
  	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  	</script>
  	<script type="text/javascript">
  	var pageTracker = _gat._getTracker("UA-241978-4");
  	pageTracker._initData();
  	pageTracker._trackPageview();
  	</script>
  </body>
</html>