<% content_for :forums do %>
  <div id="static_header">
    <div class="title">
      <h1 class="static"><%= yield :h1 %></h1>
    </div>
    
    <div id="links">
      <div id="breadcrumbs">
          <%= yield :breadcrumbs %>
      </div>
      <div id="extras">
          <%= yield :extras %>
      </div>
    </div>
    <%= yield :pagination %>
  </div>

  <div id="forums_layout">
    <div class="search" style="margin-bottom:15px;">
      <%= form_tag posts_url, :id =>'forum_search',:method => :get do %>
        <%= text_field_tag 'forum_q', params[:forum_q], :placeholder => 'search the forums' %>
        <%= submit_tag 'search' %>
      <% end %>
    </div>
    <%= yield %>
  </div>
<% end %>
<%= render :file => 'layouts/application' %>
