- content_for :pages do
  #static_header
    .title
      %h1.static
        All about alonetone
    #links
      %ul.links
        = user_nav_item "What is alonetone?", {:controller => 'pages', :action => 'index' }, :title => 'about alonetone'
        = user_nav_item "How do I?...", {:controller => 'pages', :action => 'howto' }, :title => 'get help with alonetone' 
        = user_nav_item "Press", {:controller => 'pages', :action => 'press' }, :title => 'press and promotional info' 
        = user_nav_item "Stats", {:controller => 'pages', :action => 'stats'}, :added_class => 'contact', :title => 'alonetone statistics'
        = user_nav_item "Latest News", blog_home_path, :added_class => 'contact', :title => 'Blog'
      = yield :pagination
  - content_for :static do
    = yield
  = render :partial => 'sidebar'
= render :file => 'layouts/application' 
