<!DOCTYPE html>
<html>
  <head>
    <title>alonetone | <%= yield :thredded_page_title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="turbolinks-root" content="/discuss">
    <%= stylesheet_link_tag 'application', disabled: dark_theme? %>
    <%= stylesheet_link_tag 'dark_theme', disabled: light_theme? %>
    <%= csrf_meta_tag %>
    <%= javascript_pack_tag "application", 'data-turbo-track': 'reload', defer: true  %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbo-track': 'reload'%>
  </head>
<body>
  <% if @sudo %>
  <div class="sudo_bar">
    Sudo'd as <%= current_user.name %>. <%= link_to 'Return to admin.', main_app.sudo_user_path(@sudo) %></span>
  </div>
  <% end %>

  <%= check_for_and_display_welcome_back %>
  <%= check_for_and_display_flashes %>

  <header id="site_header">
    <%= render partial: 'shared/header' %>
  </header>

  <main>
      <nav class="sub_nav">
      <div class="page_container sub_nav_inner" data-controller="subnav" data-action="resize@window->subnav#resize">
          <ul>
            <% Thredded::Messageboard.ordered_by_position.each do |m| %>
              <%= navigation_item m.name, "/forums/#{m.slug}" %>
            <% end %>
          </ul>
      </div>
    </nav>
    <div class="page_container thredded_container">
      <%= yield %>
    </div>
  </main>

  <footer id="site_footer">
    <%= cache("footer/#{moderator?}", expires_in: 3.minutes) do %>
    <%= render partial: 'shared/footer' %>
    <% end %>
  </footer>

  <%= render partial: 'shared/analytics' %>
</body>
</html>
