<!DOCTYPE HTML>
<head><title><%= @page_title || 'alonetone Blog' %></title>
    <%= stylesheet_link_tag 'blog' %>
    <%= javascript_include_tag 'jquery-1.3.2.min','soundmanager','jquery-ui-1.7.1.custom.min','jquery-carousel','jquery-lowpro','jquery-hotkeys','facebox','twitter','application', 'highlight','tablesorter', :cache => 'allonetone' %>
 </head>
 <body>
   <div id="wrapper">
<!-- header start -->
     <div id="header">
       <div id="hd1"><!-- header left side -->
         <div id="hd1-top">
<!-- link to alonetone --><a class="prev-next" href ="http://alonetone.com/">&nbsp;&nbsp;&nbsp;&nbsp;&laquo; Back to alonetone.com</a>
         </div><!-- div end hd1-top -->
         <div id="hd1-bot"><!-- title --></div><!-- div end hd1-bot -->
       </div><!-- div end hd1 -->
       <div id="hd2"><a href="/"> </a><!-- header right side --><!-- logo --></div><!-- div end hd2 -->
     </div><!-- div end header -->
<!-- header end -->
<!-- main start -->
     <div id="wp1"><!-- left side wrapper -->
       <%= yield %>
       
     </div><!-- div end wp1-->
     <div id="wp2"><!-- right side wrapper -->
          <div class="wp2-title"><h1 class="right-orange"> &bull; recently on ze blog &bull; </h1></div><!-- div end wp2-title-->
          <div class="wp2-mid">
            <% @recent_updates.each do |update| %>
              <%= link_to update.title, blog_path(update.permalink), :class => 'right-red'%>
            <% end %>
          </div><!-- div end wp2-mid-->
          
          <div class="wp2-title"><h1 class="right-orange"> &bull; tweets &bull; </h1></div><!-- div end wp2-title-->
          <div class="wp2-mid">
            <div id="tweets">&nbsp;</div> 
          </div><!-- div end wp2-mid-->
         
          <div class="wp2-title-o"><h1 class="right-white">CHAT WITH FELLOW ALONETONERS </h1>
            <%= link_to image_tag('alonetone_chat.png'), "http://#{ALONETONE.campfire_url}" %>
          </div><!-- div end wp2-title-->
         
    </div><!-- div end wp2-->
    <div id="bottom" style="display:none;">
      <div class="bottom-left">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-left -->
      <div class="bottom-mid">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-mid -->
      <div class="bottom-right">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-right -->
      </div><!-- div end bottom -->    
   </div><!-- div end wrapper -->
 </body>
</html>