<!DOCTYPE HTML>
<head><title><%= @page_title || 'alonetone Blog' %></title>
    <%= stylesheet_link_tag 'blog' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
 </head>
 <body>
   <div id="wrapper">
<!-- header start -->
     <div id="header">
       <div id="hd1"><!-- header left side -->
         <div id="hd1-top">
<!-- link to alonetone --><a class="prev- " href ="http://alonetone.com/">&nbsp;&nbsp;&nbsp;&nbsp;&laquo; Back to alonetone.com</a>
         </div><!-- div end hd1-top -->
         <div id="hd1-bot"><!-- title --></div><!-- div end hd1-bot -->
       </div><!-- div end hd1 -->
       <div id="hd2"><a href="/"> </a><!-- header right side --><!-- logo --></div><!-- div end hd2 -->
     </div><!-- div end header -->
<!-- header end -->
<!-- main start -->
     <div id="wp1"><!-- left side wrapper -->
       <%= yield %>
       
     </div><!-- div end wp1-->
     <div id="wp2"><!-- right side wrapper -->
          <div class="wp2-title"><h1 class="right-orange"> &bull; recently on ze blog &bull; </h1></div><!-- div end wp2-title-->
          <div class="wp2-mid">
            <% @recent_updates.each do |update| %>
              <%= link_to update.title, blog_path(update.permalink), :class => 'right-red'%>
            <% end %>
          </div><!-- div end wp2-mid-->
        
         
    </div><!-- div end wp2-->
    <div id="bottom" style="display:none;">
      <div class="bottom-left">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-left -->
      <div class="bottom-mid">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-mid -->
      <div class="bottom-right">
                <h1 class="h1bottom">La lolelilo</h1>
                <p class="pbottom">Lorem ipsum dolor sit amet</p>
      </div><!-- div end bottom-right -->
      </div><!-- div end bottom -->    
   </div><!-- div end wrapper -->
 </body>
</html>