<div class="get_an_account_container">
  <div class="blank_slate">
    <div class="left">
      <div class="blank_slate_illustration">
      </div>
      <div class="contributor_name mobile_only">
        alec
      </div>
      <div class="contributor_title mobile_only">
        illustrator
      </div>
    </div>
    <div class="blank_slate_text">
      <p>
        “Alonetone is open to everyone making music. However, we are invite-only to keep spammers out.
      </p>
      <p>
        Get on the list below! It might take us a day or two to approve your account, but it’s worth it, promise.”
      </p>
      <div class="contributor_name">
        alec
      </div>
      <div class="contributor_title">
        illustrator
      </div>
    </div>
  </div>

  <div class="box">
    <h2>Get an Account</h2>
    <% if @account_request.errors.any? %>
      <div id="error_explanation">
        <h3>
        <% if @account_request.errors.size == 1 %>
          One minor thing looks off:
        <% else %>
          Just a couple things to tweak:
        <% end %>
        </h3>
        <ol>
        <% @account_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ol>
      </div>
    <% end %>

    <%= form_with(model: @account_request, local: true) do |f| %>
      <h3 class="form_heading">
        Give us an email and pick your username:
      </h3>
      <div class="form_row">
        <div>
          <%= f.label :email, "Email" %>
          <%= f.text_field :email %>
          <%= inline_form_error(@account_request.errors[:email]) %>
        </div>
        <div class="field_with_hint_before">
          <%= f.label :login, "Pick a username (no spaces allowed)" %>
          <span>alonetone.com/</span><%= f.text_field :login %>
          <%= inline_form_error(@account_request.errors[:login]) %>
        </div>
      </div>
      <div>
        <h3 class="form_heading">
          Which best describes what you will host on alonetone:
        </h3>
        <div class="form_radio_group">
          <div class="columns">
            <div class="left">
              <div class="form_radio_pair">
                <%= f.radio_button(:entity_type, "band") %>
                <%= f.label(:entity_type_band, "Band") %>
              </div>
              <div class="form_radio_pair">
                <%= f.radio_button(:entity_type, "musician") %>
                <%= f.label(:entity_type_musician, "Musician") %>
              </div>
              <div class="form_radio_pair">
                <%= f.radio_button(:entity_type, "label") %>
                <%= f.label(:entity_type_label, "Label") %>
              </div>
            </div>
            <div class="right">
              <div class="form_radio_pair">
                <%= f.radio_button(:entity_type, "blogger") %>
                <%= f.label(:entity_type_blogger, "Blogger / Website") %>
              </div>
              <div class="form_radio_pair">
                <%= f.radio_button(:entity_type, "podcaster") %>
                <%= f.label(:entity_type_podcaster, "Podcaster / Spoken Word") %>
              </div>
            </div>
          </div>
          <%= inline_form_error(@account_request.errors[:entity_type]) %>
        </div>
      <div>
        <h3 class="form_heading">
          Do you have music elsewhere (Bandcamp, Spotify, Soundcloud)?
        </h3>
        <%= f.label :details, "Give us a link. Or let us know what kind of thing you do. Don't worry, we don't care about genre, etc." %>
        <%= f.text_area :details %>
        <%= inline_form_error(@account_request.errors[:details]) %>
      </div>
      <div>
        <%= f.submit "Get On The List" %>
      </div>
    <% end %>
  </div>
</div>
